/*
    DJANGO Admin
    by Wilson Miner wilson@lawrence.com
*/

/* Block IE 5 */
@import "null.css?\"\{";

/* Import other styles */
@import url('global.css');
@import url('layout.css');

/* Import patch for IE 6 Windows */
/*\*/ @import "patch-iewin.css"; /**/

/* 
	ARLO Specific CSS
*/
/* in arlo.css now */
/*
div.ARLOLogMessageDiv {
	position:fixed;
	z-index:100;
	left:0px; 
	bottom:0px;
	display:block;
	margin:0;
}
div.ARLOLogMessageDiv * {
	margin:0;
	padding:0px;
}
div.ARLOLogMessageDiv td {
	border:1px solid #ffcc00;
}
*/
/*div.floatingFormInnerDiv {background:#fff4c8;border:1px solid #ffcc00;z-index:100;display:inline-block;margin:0;}
div.floatingFormInnerDiv * {margin:0;padding:1px 3px 1px 3px;}
*/
