<div class="col-md-3">

	<div class="panel panel-primary admin">
		<div class="panel-heading">Admin Actions</div>
		<ul class="list-group">
			<li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/createUser">Create User</a></li>
			<li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/deleteUser">Delete User</a></li>
			<li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/loginAsUser">Login As User</a></li>
			<li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/meandreTestCall">ServiceHead.TestCall()</a></li>
			<li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/addTestTaskToDb">addTestTaskToDb</a></li>
			<li class="list-group-item"><a href="{{ArloUrlPrefix}}/admin">Django Admin Pages</a></li>
		</ul>
	</div>

</div>
