{% extends "tools/base.html" %}
{% block javascript %}

<!--                                    -->
<!-- TODO update all URLs for Media URL -->
<!--                                    -->

<!--                                      -->
<!-- TODO   think we merged in some old   -->
<!-- TODO   changes during cassandra      -->
<!-- TODO   updates. Much of this JS is   -->
<!-- TODO   now in catalog.js             -->
<!--                                      -->

{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<link rel="stylesheet" href="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/catalog.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'third-party/jQuery-contextMenu/jquery.ui.position.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/catalog.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Tag.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--

/* ****************************** */
/*                                */
/*  Variables passed from Python  */
/*                                */
/* ****************************** */

var LOADING_GIF_URL = "{% static 'tools/img/loading.gif' %}";
var EMPTY_WAV_URL = "{% static 'tools/empty.wav' %}";

/* Build TagSet to TagClass Mapping */
var tagSetsTagClasses = {
{% for ts, tagClasses in tagSetsTagClasses %}
	"{{ts.id}}":[{% for tc in tagClasses %} {{tc.id}}, {% endfor %}], {% endfor %}
};

/* Build a list of TagClass Names */
var tagClassNames = {
{% for tc in projectTagClasses %}
	"{{tc.id}}": "{{tc.displayName}}", {% endfor %}
};

var urlPrefix = '{{ ArloUrlPrefix }}';

// Immediate TODO - we now have multiple tagClasses

var tagSetName = "{{tagSet.name}}";
var tagClasses;
var myARLOModalStatus = null;

/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests.
// Namely for post() requests
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?

$(document).ajaxSend(function(event, xhr, settings) {
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?D
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	function sameOrigin(url) {
		// url could be relative or scheme relative or absolute
		var host = document.location.host; // host + port
		var protocol = document.location.protocol;
		var sr_origin = '//' + host;
		var origin = protocol + sr_origin;
		// Allow absolute or scheme relative URLs to same origin
		return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
			(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
			// or any other URL that isn't scheme relative or absolute i.e relative.
			!(/^(\/\/|http:|https:).*/.test(url));
	}
	function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	}
});





$(document).ready(function(){
	//displays page numbers
	//$("#userTagPageNumber").append(" " + $("#id_userTagPageNumber").val());
	//$("#machineTagPageNumber").append(" " + $("#id_machineTagPageNumber").val());

	ARLOInit(); /* Setup the Logging Interface */

	/********
	*
	*   Event Handlers
	*
	********/


	$("#id_tagClasses").change(function(){
		$("#id_haveClassesChanged").val(1);
	})

	{% for tagClassID in tagClassIDList %}
	$("option[value={{tagClassID}}]").prop("selected", true);
	{% endfor %}


	/* PREVIEW AUDIO */
	$('a.audioPreview').hover(function() {
		var audioObject = $(this).find('audio')[0];

		if (! ARLOSettingGet("DisableCatalogAudioPreview")) {
			audioObject.currentTime = 0;
			audioObject.play();
		}
	}, function() {
		var audioObject = $(this).find('audio')[0];
		audioObject.currentTime = 0;
		audioObject.pause();
	})

	// looks like id_tagClass no longer exists - probably id_tagClasses used to be singular...
	//$.getJSON("{{ArloUrlPrefix}}/tools/getTagClassAutoArray/{{tagSet.name}}", function(json){
	//	tagClasses = json;
	//	$("#id_tagClass").autocomplete(tagClasses);
	//});
});

-->
</script>
<script type="text/javascript">
<!--
	$(document).ready(function(){

		/* ************************************************* */
		/*                                                   */
		/*  Functions for Display / Event Handlers for Tags  */
		/*                                                   */
		/* ************************************************* */

		// not too sure why we have two (".number") functions, here and below...
		// haven't yet taken the time to investigate and document the differences
		$(".number").each(function(){
			counter = $(this).attr('id');
			index = (($("#id_tagPageNumber").val()-1) * $("#id_tagsPerPage").val()) + Number(counter);
			$(this).empty();
			$(this).append(index);
		});

		// I have no idea what this userTag.click function did. Looks like
		// there was once a different GUI in place
		//
		//
		//$(".userTag").click(function(){
		//	id = $(this).attr("id");
		//	url = "{{ArloUrlPrefix}}/tools/getTagInfo/" + id;
		//	$.getJSON(url, function(json){
		//		$("#id_tagClass").val(json.tagClass).autocomplete(tagClasses);
		//		$("#id_tagID").val(id);
		//		$("#id_audioFilePath").val(json.audioFilePath);
		//		$("#id_startTime").val(json.startTime);
		//		$("#id_endTime").val(json.endTime);
		//		$("#id_minFrequency").val(json.minFrequency);
		//		$("#id_maxFrequency").val(json.maxFrequency);
		//		$("#id_strength").val(json.strength);
		//		$("#id_alias").val(json.alias);
		//	});
		//})

		$(".userTag, .machineTag").click(function(){
			id = $(this).attr("id");
			url = "{{ArloUrlPrefix}}/tools/viewTag/" + id;
			window.open(url);
		})

    /*** Daniel removes the hover bc isn't really needed.
    .mouseover(function(){
			$("#tempDisplay").remove();
			tag = $(this);
			id = $(this).attr("id");
			url = "{{ArloUrlPrefix}}/tools/getTagInfo/" + id;
			$.getJSON(url, function(json){
				if (json.id == id) { // make sure the mouse hasn't moved on to a new Tag already
					tag.after("<div id='tempDisplay' style='position:absolute;background:#C0C0C0;z-index:2'></div>");
					$("#tempDisplay").append("TagClassName: " + json.className + "<br/>");
					$("#tempDisplay").append("id: " + id + "<br/>");
					$("#tempDisplay").append("AudioName: " +  json.mediaFileAlias + "<br/>");
					$("#tempDisplay").append("RealTime: " + json.realTime + "<br/>");
					$("#tempDisplay").append("StartTime: " + json.startTime + "<br/>");
					$("#tempDisplay").append("EndTime: " + json.endTime + "<br/>");
					$("#tempDisplay").append("MinFrequency: " + Math.round(json.minFrequency) + "<br/>"); // Round Freq to Hz
					$("#tempDisplay").append("MaxFrequency: " + Math.round(json.maxFrequency) + "<br/>");
					$("#tempDisplay").append("Tag Strength: " + (json.strength).toFixed(4) + "<br/>"); // Round to 4 Decimal Points
				}
			});
		}).mouseout(function(){
			$("#tempDisplay").remove();
		}).mouseleave(function(){
			$("#tempDisplay").remove();
		});
    ***/

		/*  Setup Context Menus  */
		$.contextMenu({
			selector: ".tagClass .tag",
			trigger: "right",
			items: {
				"viewTag": {name: "View Tag"},
				"viewAudioFile": {name: "View AudioFile"},
				//"viewMultiAudioFile": {name: "View MultiView"},
				"deleteTag": {name: "Delete Tag"},
				"acceptTag": {name: "Accept"}
			},
			callback: function(action, options) {
				var el = options.$trigger;
				var id = el[0].id;

				if(action == 'viewTag'){
					audiourl = "{{ArloUrlPrefix}}/tools/viewTag/" + id;
					window.open(audiourl);
				}
				if(action == 'viewAudioFile'){
					url = "{{ArloUrlPrefix}}/tools/getAudioInfo/" + id;
					$.getJSON(url, function(json){
						audiourl = "{{ArloUrlPrefix}}/tools/visualizeProjectFile/" + json.projectId + "/" + json.audioID + "/?tagID=" + id;
						window.open(audiourl);
					});
				}
				if(action == 'viewMultiAudioFile'){
					url = "{{ArloUrlPrefix}}/tools/getAudioInfo/" + id;
					$.getJSON(url, function(json){
						audiourl = "{{ArloUrlPrefix}}/tools/visualizeMultiProjectFile/" + json.projectId + "?tagId=" + id;
						window.open(audiourl);
					});
				}
				if(action == 'deleteTag'){
					if (confirm("Delete This Tag?")){
						ARLOModalStatusCloseAll();
						myARLOModalStatus = new ARLOModalStatus();
						myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Deleting Tag...</strong>", true);
						var myAPITag = new APITag("{{ArloAPIv0Url}}");
						myAPITag.deleteTag(
							id,
							function(){
								/* remove Tag from UI */
								tag = $("#" + id);
								tag.remove();
								/* clear modal */
								ARLOModalStatusCloseAll();
								myARLOModalStatus = null;
							},
							function(jqXHR, textStatus, errorThrown) {
								ARLOLogError("Failed Deleting Tag: Status: " + textStatus + " Error: " + errorThrown);
								if (myARLOModalStatus != null) {
									myARLOModalStatus.close();
									myARLOModalStatus = null;
								}
							}
						);
					};
				}
				if(action == 'acceptTag'){
					url = "{{ArloUrlPrefix}}/tools/acceptTag/" + id;
					$.getJSON(url, function(json){});
					tag = $("#" + id);
					tag.addClass("userTag");
					tag.children(".number").addClass("user");
				}
			}
		});

		// see notes for userTag.click above
		//
		//$(".machineTag").click(function(){
		//	id = $(this).attr("id");
		//	url = "{{ArloUrlPrefix}}/tools/getTagInfo/" + id;
		//	$.getJSON(url, function(json){
		//		$("#id_tagClass").val(json.tagClass).autocomplete(tagClasses);
		//		$("#id_tagID").val(id);
		//		$("#id_audioFilePath").val(json.audioFilePath);
		//		$("#id_startTime").val(json.startTime);
		//		$("#id_endTime").val(json.endTime);
		//		$("#id_minFrequency").val(json.minFrequency);
		//		$("#id_maxFrequency").val(json.maxFrequency);
		//		$("#id_strength").val(json.strength);
		//		$("#id_alias").val(json.alias);
		//	});
		//})

    /**
		$(".machineTag").dblclick(function(){
			id = $(this).attr("id");
			url = "{{ArloUrlPrefix}}/tools/viewTag/" + id;
			window.open(url);
		})
    **/

    /***.mouseover(function(){
			$("#tempDisplay").remove();
			tag = $(this);
			id = $(this).attr("id");
			url = "{{ArloUrlPrefix}}/tools/getTagInfo/" + id;
			$.getJSON(url, function(json){
				if (json.id == id) {
					tag.after("<div id='tempDisplay' style='position:absolute;background:#C0C0C0;z-index:2'></div>");
					$("#tempDisplay").append("TagClassName: " + json.className + "<br/>");
					$("#tempDisplay").append("id: " + id + "<br/>");
					$("#tempDisplay").append("AudioName: " +  json.mediaFileAlias + "<br/>");
					$("#tempDisplay").append("RealTime: " + json.realTime + "<br/>");
					$("#tempDisplay").append("StartTime: " + json.startTime + "<br/>");
					$("#tempDisplay").append("EndTime: " + json.endTime + "<br/>");
					$("#tempDisplay").append("MinFrequency: " + Math.round(json.minFrequency) + "<br/>"); // Round Freq to Hz
					$("#tempDisplay").append("MaxFrequency: " + Math.round(json.maxFrequency) + "<br/>");
					$("#tempDisplay").append("Tag Strength: " + (json.strength).toFixed(4) + "<br/>"); // Round to 4 Decimal Points
				}
			});
		}).mouseout(function(){
			$("#tempDisplay").remove();
		}).mouseleave(function(){
			$("#tempDisplay").remove();
		});
    ***/


		// not too sure why we have two (".number") functions, here and above...
		// haven't yet taken the time to investigate and document the differences
		$(".number").each(function(){
			counter = $(this).attr('id');
			index = (($("#id_tagPageNumber").val()-1) * $("#id_tagsPerPage").val()) + Number(counter);
			$(this).empty();
			$(this).append(index);
		});

		//displays page numbers

		// $("#userTagPageNumber").append(" " + $("#id_userTagPageNumber").val());
		// $("#machineTagPageNumber").append(" " + $("#id_machineTagPageNumber").val());


		//selects classes that were selected before submit
		$("#id_haveClassesChanged").val(0);

		$("#id_tagClasses").change(function(){
			$("#id_haveClassesChanged").val(1);
		})

		/******
		* Event Handlers Start Here
		*/

		$("#selectAll").click(function(event){
			event.preventDefault();
			$("#id_tagClasses > option:visible").prop("selected", true);
		}).submit(function(event){
			event.preventDefault();
			$("#id_tagClasses > option:visible").prop("selected", true);
		});
	});
-->
</script>


{% endblock javascript %}

{% block content %}
{% load crispy_forms_tags %}


<!-- ####################################### -->
<!--      End of JS /  Start of Content      -->
<!-- ####################################### -->

	<div class="col-md-12">
		<ol class="breadcrumb">
	    <li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
	    <li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project}}</a></li>
	    <li>Tag Catalog</li>
	  </ol>
	</div>


  <div class="col-md-3">
    <div class="panel panel-primary start-new-library">
      <div class="panel-heading">Catalog Parameters</div>
      <div class="panel-body">
        <form action="" name ="catalog"method="POST" id="catalog">
          {% csrf_token %}
          {{form|crispy }}
          <input type="submit" value="Submit" class="btn btn-success" />
        </form>

      </div>
    </div>
  </div>


  {% if tagClassList %}
    {% for tagClassId, tagClassName, tags in tagClassList %}
      {% if tags.count > 0 %}

        <div class="col-md-9">
          <div class="panel panel-primary">
            <div class="panel-heading">
              {{tagClassName}}
              <span class="pull-right">
                <!--<a class="popupwindow btn btn-xs btn-success" id="rename">Rename</a>-->
      					<a class="popupwindow btn btn-xs btn-danger" id="empty">Empty</a>
      					<a class="popupwindow btn btn-xs btn-danger" id="delete">Delete</a>
              </span>
            </div>
            <div class="panel-body tagClass" id="{{tagClassId}}">

              {% for tag in tags %}
                <!-- Note that 'tag' is not a Tag object, just dict of data -->
                <!-- Three tag cases -->
                <!-- Don't be fooled by the tag numbers set in the 'number' spans below
                     They are re-written by the $(".number") function above -->

                {% if tag.userTagged and tag.machineTagged %}

                <!-- using machineTag class so that the parentTag option shows up in the menu -->
                <div class="tag machineTag userTag" id="{{tag.id}}" data-audioID="{{tag.audioID}}">
                  <span class="number user machine" id="{{forloop.counter}}">{{forloop.counter}}</span>
                  <!--<div style="position:absolute;color:fuchsia">
                    <span class="{{tagClassName}}">{{tag.displayName}}</span>
                  </div>-->
                  <a href="#" class="audioPreview">
                    <audio src="{{MEDIA_PREFIX}}{{tag.audioSegmentFilePath}}"></audio>
                    <img src="/site_media/{{tag.imagePath}}"/>
                  </a>
                </div>

                {% elif tag.userTagged %}
                <div class="tag userTag" id="{{tag.id}}" data-audioID="{{tag.audioID}}">
                  <span class="number user" id="{{forloop.counter}}"></span>
                  <!--<div style="position:absolute;color:#00FF00">
                    <span class="number user" id="{{forloop.counter}}">{{forloop.counter}}</span>
                    <span class="{{tagClassName}}">{{tag.displayName}}</span>
                  </div>-->
                  <a href="#" class="audioPreview">
                    <audio src="{{MEDIA_PREFIX}}{{tag.audioSegmentFilePath}}"></audio>
                    <img src="/site_media/{{tag.imagePath}}"/>
                  </a>
                </div>

                {% elif tag.machineTagged %}
                <div class="tag machineTag" id="{{tag.id}}" data-audioID="{{tag.audioID}}">
                  <span class="number machine" id="{{forloop.counter}}"></span>
                  <!--<div style="position:absolute;color:red">
                    <span class="{{tagClassName}}">{{tag.displayName}}</span>
                  </div>-->
                  <a href="#" class="audioPreview">
                    <audio src="{{MEDIA_PREFIX}}{{tag.audioSegmentFilePath}}"></audio>
                    <img src="/site_media/{{tag.imagePath}}"/>
                  </a>
                </div>
                {% endif %}
              {% endfor %}

            </div>
          </div>
        </div>



  <!-- End of className, machineTags, userTags for loop -->
      {% endif %}
    {% endfor %}
  {% endif %}



<!--  #######################################  -->
<!--   End of Form / Start of Misc Resources  -->
<!--  #######################################  -->

<!--Pop up windows-->
<div id="popupR" style="display: none;"></div>
<div id="windowR" style="display: none">
	<div style="float:right;border:black 1px solid;"><a id ="exitR">Exit</a></div>
	<div id="popup_content">
		<H2>Rename</H2><br/>
		<form action='' id='renameForm'>
			{% csrf_token %}
			{{renameForm.as_p}}
			<input type='submit' name='method' value='Submit'/><br/>
		</form>
	</div>
</div>

<div id="popupM" style="display: none;"></div>
<div id="windowM" style="display: none">
	<div style="float:right;border:black 1px solid;"><a id ="exitM">Exit</a></div>
	<div id="popup_content">
		<H2>Merge</H2><br/>
		<form action='' id='mergeForm'>
			{% csrf_token %}
			{{mergeForm.as_p}}
			<input type='submit' name='method' value='Submit'/><br/>
		</form>
	</div>
</div>

{% endblock content %}
