{% extends "tools/base.html" %}


{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/TagClass.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Project.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Tag.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/PapaParse/papaparse.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--

	var myARLOModalStatus = null;
	var urlPrefix = "{{ArloUrlPrefix}}";


/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests.
// Namely for post() requests
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?

	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});


	/*                                 */
	/*      SELECT FILE FUNCTIONS      */
	/*                                 */

	function onFileSelected(){
		var file = $("#file_select")[0].files[0];

		$("#header_step1").text('Step 1 - Selected File "' + file.name + '"');

		/*                       */
		/* Try to Parse the File */
		/*                       */

		/* Throw up a Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Parsing CSV File (" + file.name + ")...</strong>", true);

		/* Log what we're doing */
		ARLOLogDebug("Parsing CSV File (" + file.name + ")...");

		Papa.parse(file, {
			complete: onFileParsed
		});
	};

	var parsedCSVResults = null;

	function onFileParsed(results) {

		/* Kill Status Form */
		ARLOLogDebug("Parsed CSV File - Setting up Form");

		if (results.data.length < 0) {
			/* Clear Status */
			ARLOModalStatusCloseAll();
			myARLOModalStatus = null;
			ARLOLogWarning("No Rows Parsed from File");
			return false;
		}
		parsedCSVResults = results;

		/* seems to be an issues with the last row picking up one empty field */
		var lastRow = parsedCSVResults.data.length - 1;
		if ((parsedCSVResults.data[lastRow].length == 1) && (parsedCSVResults.data[lastRow][0] == '')) {
			parsedCSVResults.data.pop();
		}

		/* Hide File Select Form */
		$("#step_selectfile").hide();

		/*                               */
		/* Setup the Import Options Form */
		/*                               */

		/* preview textarea */
		var innerHtml = "";
		var i = parsedCSVResults.data.length - 1;
		if (i > 2) {i = 2;}
		for (; i>=0; i--) {
			innerHtml = parsedCSVResults.data[i].join() + "\n" + innerHtml;
		}
		$("#textarea_preview").prop('innerHTML', innerHtml);

		/*                                  */
		/* populate the column select boxes */
		/*                                  */

		/* clear selects */
		$("#select_mediafile_column").empty();
		$("#select_startcolumn").empty();
		$("#select_endcolumn").empty();
		$("#select_tagclasscolumn").empty();
		$("#select_minfreqcolumn").empty();
		$("#select_maxfreqcolumn").empty();

		/* add in a blank option at the beginning */
		addColumnToSelects("<option value=''>--------</option>");

		for (var columnNum = 0; columnNum < parsedCSVResults.data[0].length; columnNum++) {
			var columnName = parsedCSVResults.data[0][columnNum];
			var sOpt = "<option value='" + columnNum + "'>" + columnName + "</option>";
			addColumnToSelects(sOpt);
		}

		/* Show the Import Options Form */
		$("#step_importoptions").show();

		/* Clear Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = null;

	};

	function addColumnToSelects(sOpt) {
		/* Name / Alias Select */
		$("#select_mediafile_column").append(sOpt);

		/* Start Time Select */
		$("#select_startcolumn").append(sOpt);

		/* End Time Select */
		$("#select_endcolumn").append(sOpt);

		/* TagClass Select */
		$("#select_tagclasscolumn").append(sOpt);

		/* Min/Max Freq */
		$("#select_minfreqcolumn").append(sOpt);
		$("#select_maxfreqcolumn").append(sOpt);
	};

	var classesToAdd = null;

	function onSubmitSetup(){

		ARLOLogDebug("onSubmitSetup");

		if (! parsedCSVResults) {
			ARLOLogWarning("parsedCSVResults Invalid in onSubmitColumns - bailing out");
			return false;
		}

		/*                                          */
		/* Figure out the MediaFile Id/Name Mapping */
		/*                                          */

		var selectedMediaFileMap = $("#select_filemapping").val();

		/* are we using Id or Name */

		var usingMediaFileIdNotName = (selectedMediaFileMap == "ID");
		var selectedMediaFileColNum = $("#select_mediafile_column").val();
		if (selectedMediaFileColNum == "") {
			alert("Must Select MediaFile Column");
			return false;
		}

		/* Make Sure Start/End Time is Selected */
		if ($("#select_startcolumn").val() == "") {
			alert("Must Select StartTime Column");
			return false;
		}
		if ($("#select_endcolumn").val() == "") {
			alert("Must Select EndTime Column");
			return false;
		}

		/* Make Sure a TagSet is Selected */

		if (! ($("#id_tagSet").val() > 0)) {
			alert("Must Select TagSet");
			return false;
		}

		/* Make Sure Min/Max Freq is Selected */
		if ($("input[name=radio_freq]:checked").length == 0) {
			alert("Must Select Min/Max Freq");
			return false;
		}

		/* if using Min/Max Freq from file, make sure columns are selected */
		if ( $("#radio_freq_file").is(':checked')) {
			if ($("#select_minfreqcolumn").val() == "") {
				alert("Must Select MinFreq Column");
				return false;
			}
			if ($("#select_maxfreqcolumn").val() == "") {
				alert("Must Select MaxFreq Column");
				return false;
			}
		}

//		var numCols = parsedCSVResults.data[0].length;

		if (! checkDuplicateColumnSelections()) {
			return false;
		}

		/* check the TagClasses */
		checkTagClasses();

		return false;

	};

	/* check if the UI has an duplicate columns selected, and warn before proceeding */
	/* return False to bail out, true if ok to proceed */

	function checkDuplicateColumnSelections() {
		var cols = [];

		/* mediaFile */
		cols.push($("#select_mediafile_column").val());

		/* start/end times */
		cols.push($("#select_startcolumn").val());
		cols.push($("#select_endcolumn").val());

		/* Min/Max Freq */
		if ( $("#radio_freq_file").is(':checked')) {
			cols.push($("#select_minfreqcolumn").val())
			cols.push($("#select_maxfreqcolumn").val())
		}

		/* TagClass */
		if ( $("#radio_tagclass_file").is(':checked')) {
			cols.push($("#select_tagclasscolumn").val())
		}

		var dup = false;
		var sorted_cols = cols.sort();
		for (var x = 1; x < sorted_cols.length; x++) {
			if (sorted_cols[x] == sorted_cols[x-1]) {
				dup = true;
				break;
			}
		}

		if (dup) {
			var conf = confirm("The same file column has been submitted for duplicate fields. This is probably a mistake! Proceed with caution. Continue with import?");
			if (conf != true) {
				return false;
			}
		}

		return true;
	};

	/**************************************************/
	/*                                                */
	/*                   TagClasses                   */
	/*                                                */
	/**************************************************/


	/*                                                                    */
	/*  Check all of the selected TagClasses (whether manually selected   */
	/*  or if provided from a file column) and ensure all exist. If       */
	/*  necessary and enabled, add missing Classes.                       */
	/*                                                                    */

	var tagClassNamesToAdd = [];
	var tagClassNameToId;

	function checkTagClasses() {

		/*                                                     */
		/*  Generate a list of TagClasses that we'll be using  */
		/*                                                     */

		var tagClassNamesList = [];

		/* Are we using a manual value, or a value from the file? */
		var selectedTagClassSourceRadio = $("input[name=radio_tagclass]:checked", "#step_importoptions");
		if (selectedTagClassSourceRadio.length != 1) {
			alert("Must Select TagClass Source Field");
			return false;
		}
		var selectedTagClassSource = selectedTagClassSourceRadio.val();

		ARLOLogDebug("TagClass Source: " + selectedTagClassSource);

		if (selectedTagClassSource == "manual") {

			var manualTagClassId = $("#id_tagClass").val();
			ARLOLogDebug("Manually Selected TagClassId: " + manualTagClassId);
			if (! (manualTagClassId > 0)) {
				alert("Must Select TagClass");
				return false;
			}
			var manualTagClassName = $("#id_tagClass option:selected").text();
			ARLOLogDebug("Manually Selected TagClassName: " + manualTagClassName);
			tagClassNamesList.push(manualTagClassName);

		} else if (selectedTagClassSource == "file") {

			/* determine column number */
			var tagClassNameColNum = $("#select_tagclasscolumn").val();

			if (tagClassNameColNum == "") {
				alert("Must Select TagClass Column");
				return false;
			}

			/* iterate over CSV, and build a list of all unique TagClasses */

			var startRow = 0;
			if ($("#checkSkipFirstRow").is(':checked')) {
				startRow = 1;
			}

			for (var rowNum = startRow; rowNum < parsedCSVResults.data.length; rowNum++) {
				var className = parsedCSVResults.data[rowNum][tagClassNameColNum];
				if (tagClassNamesList.indexOf(className) == -1) {
					if (typeof className != 'undefined') {
						tagClassNamesList.push(className);
					}
				}
			}
		}

		ARLOLogDebug("Initially Found These TagClasses: " + tagClassNamesList.toString());


		/*                                              */
		/*  Map TagClasses to IDs, adding if necessary  */
		/*                                              */

		tagClassNameToId = new Object();
		tagClassNamesToAdd = [];

		for (var i=0; i < tagClassNamesList.length; i++) {
			var tagClassName = tagClassNamesList[i];
			var tagClassId = -1;

			/* Look For Existing TagClass from pre-populated Select */
			$("#id_tagClass > option").each(function() {
				if (this.text == tagClassName) {
					tagClassId = this.value;
				}
			});

			/* Do we need to add it? */
			if (tagClassId == -1) {
				if ($("#check_create_new_tagclasses").is(':checked')) {

					/* build a list of TagClasses to Add */
					tagClassNamesToAdd.push(tagClassName);

				} else {
					/* non-existent TagClass, and we are not adding any. */
					alert("Found Non-Existent Tag Class: " + tagClassName);
					return false;
				}
			}

			tagClassNameToId[tagClassName] = tagClassId;
		}


		/* Log Results */
		var s = "TagClass Map:";
		for (var prop in tagClassNameToId) {
			if ( tagClassNameToId.hasOwnProperty(prop)) {
				s += "\n\t" + prop + ": " + tagClassNameToId[prop];
			}
		}
		ARLOLogDebug(s);


		/* kick-off adding the new Classes, if necessary */
		addNewClassesStart();

	};


	/* Add New TagClasses to ARLO */

	function addNewClassesStart() {

		if (tagClassNamesToAdd.length > 0) {
			ARLOLogDebug("addNewClassesStart() - Adding These Fields: " + tagClassNamesToAdd.toString());
		} else {
			ARLOLogDebug("addNewClassesStart() - No Fields To Add");
		}

		/* Throw up a Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Adding New Tag Classes...</strong>", true);

		addNewClassesContinue(undefined);
	};

	function addNewClassesContinue(postResp) {

		if (typeof postResp != 'undefined') {
			/* take the POST response, and map it back to the TagClasses */
			var addedTagClassName = postResp.className;
			var addedTagClassId = postResp.id;

			tagClassNameToId[addedTagClassName] = addedTagClassId;
		}

		if (tagClassNamesToAdd.length == 0) {
			addNewClassesEnd();
			return;
		}

		var newClassName = tagClassNamesToAdd.shift();

		ARLOLogDebug("Adding TagClass: " + newClassName);

		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Adding New TagClass... (" + tagClassNamesToAdd.length + " remaining)</strong>", true);

		var myAPITagClass = new APITagClass("{{ArloAPIv0Url}}");
		myAPITagClass.addTagClass(
			{{project.id}},
			newClassName,
			newClassName,
			addNewClassesContinue,
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Adding TagClass: Status: " + textStatus + " Error: " + errorThrown);
				if (myARLOModalStatus != null) {
					myARLOModalStatus.close();
					myARLOModalStatus = null;
				}
			}
		);
	};

	function addNewClassesEnd() {
		if (myARLOModalStatus != null) {
			myARLOModalStatus.close();
			myARLOModalStatus = null;
		}

		/* Log Results */
		var s = "Final TagClass Map (after adds):";
		for (var prop in tagClassNameToId) {
			if ( tagClassNameToId.hasOwnProperty(prop)) {
				s += "\n\t" + prop + ": " + tagClassNameToId[prop];
			}
		}
		ARLOLogDebug(s);

		prepareImport();
	};



	/***************************************************/
	/*                                                 */
	/*                 Prepare Import                  */
	/*                                                 */
	/***************************************************/


	var cachedProjectMediaFiles = null;

	function prepareImport() {

		/* Load all of the MediaFiles for the name mapping function */

		/* Throw up a Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Loading the Project MediaFiles...</strong>", true);

		var myAPIProject = new APIProject("{{ArloAPIv0Url}}");
		myAPIProject.getProject_mediaFiles(
			{{project.id}},
			function(mediaFilesJSON) {
				cachedProjectMediaFiles = mediaFilesJSON;
				prepareImportHaveMediaFiles();
			},
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Loading Project MediaFiles: Status: " + textStatus + " Error: " + errorThrown);
				if (myARLOModalStatus != null) {
					myARLOModalStatus.close();
					myARLOModalStatus = null;
				}
			}
		);
	};


	var myTagsToImport = [];

	function prepareImportHaveMediaFiles() {
		ARLOLogDebug("prepareImportHaveMediaFiles()");

        myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Building Import List...</strong>", true);


		/* Import Settings */

		var startTimeCol = $("#select_startcolumn").val();
		var endTimeCol = $("#select_endcolumn").val();

		var tagSetId = parseInt($("#id_tagSet").val());

		/* min/max freq */
		var minFreqCol = parseInt($("#select_minfreqcolumn").val());
		var maxFreqCol = parseInt($("#select_maxfreqcolumn").val());
		var forcedMinFreq = -1;
		var forcedMaxFreq = -1;
		if ($("#radio_freq_manual").is(':checked')) {
			forcedMinFreq = parseInt($("#input_minfreq").val());
			forcedMaxFreq = parseInt($("#input_maxfreq").val());
		}

		/* tagClass */
		var forcedTagClassId = -1;
		var tagClassNameColNum = parseInt($("#select_tagclasscolumn").val());
		if ($("#radio_tagclass_manual").is(':checked')) {
			forcedTagClassId = parseInt($("#id_tagClass").val());
		}

ARLOLogDebug("Import Settings: " +
	"\n\tstartTimeCol: " + startTimeCol +
	"\n\tendTimeCol: " + endTimeCol +
	"\n\tforcedTagClassId: " + forcedTagClassId +
	"\n\ttagClassNameColNum: " + tagClassNameColNum +
	"\n\ttagSetId: " + tagSetId +
	"\n\tminFreqCol: " + minFreqCol +
	"\n\tmaxFreqCol: " + maxFreqCol +
	"\n\tForced minFrequency: " + forcedMinFreq +
	"\n\tForced maxFrequency: " + forcedMaxFreq);


		/* Build a list of Tag Objects that we'll be importing */

		var startRow = 0;
		if ($("#checkSkipFirstRow").is(':checked')) {
			startRow = 1;
		}

		myTagsToImport = [];

		var successfullyMappedRows = 0;
		var failedMappedRows = 0;

		for (var rowNum = startRow; rowNum < parsedCSVResults.data.length; rowNum++) {

			/* MediaFile */
			var mediaFileId;
			mediaFileId = mapRowToMediaFileId(rowNum);
			if (mediaFileId == null) {
				failedMappedRows++;
				continue;
			}

			/* TagClass */
			var tagClassId;
			if (forcedTagClassId == -1) {
				var className = parsedCSVResults.data[rowNum][tagClassNameColNum];
				tagClassId = tagClassNameToId[className];
			} else {
				tagClassId = forcedTagClassId;
			}

			/* Tag Start/End Times */
			var sStartTime = parsedCSVResults.data[rowNum][startTimeCol];
			var startTime = parseTime(sStartTime);
			if (startTime < 0) {
				$("#parse_results_errors").append(sStartTime + ":Invalid Time Format for StartTime:Skipping\n");
				failedMappedRows++;
				continue;
			}

			var sEndTime = parsedCSVResults.data[rowNum][endTimeCol];
			var endTime = parseTime(sEndTime);
			if (endTime < 0) {
				$("#parse_results_errors").append(sStartTime + ":Invalid Time Format for EndTime:Skipping\n");
				failedMappedRows++;
				continue;
			}

			if (startTime > endTime) {
				$("#parse_results_errors").append(sStartTime + "/" + sEndTime + ":StartTime > EndTime:Skipping\n");
				failedMappedRows++;
				continue;
			}

			/* Tag Min/Max Frequency */
			var minFreq = -1;
			var maxFreq = -1;
			if (forcedMinFreq == -1) {
				minFreq = parsedCSVResults.data[rowNum][minFreqCol];
				maxFreq = parsedCSVResults.data[rowNum][maxFreqCol];
			} else {
				minFreq = forcedMinFreq;
				maxFreq = forcedMaxFreq;
			}

			if (minFreq < 0) {
				$("#parse_results_errors").append("Row " + rowNum + " - minFreq (" + minFreq + ") < 0:Skipping\n");
				failedMappedRows++;
				continue;
			}

			if (maxFreq < 0) {
				$("#parse_results_errors").append("Row " + rowNum + " - maxFreq (" + maxFreq + ") < 0:Skipping\n");
				failedMappedRows++;
				continue;
			}

			if (minFreq > maxFreq) {
				$("#parse_results_errors").append("Row " + rowNum + " - minFreq (" + minFreq + ") > maxFreq (" + maxFreq + "):Skipping\n");
				failedMappedRows++;
				continue;
			}


			myTagsToImport.push({
				"mediaFileId": mediaFileId,
				"startTime": startTime,
				"endTime": endTime,
				"tagClassId": tagClassId,
				"tagSetId": tagSetId,
				"minFrequency": minFreq,
				"maxFrequency": maxFreq
			});
			successfullyMappedRows++;
		}

ARLOLogDebug("==== Import List (limited to first 10) ====\n" + JSON.stringify(myTagsToImport.slice(0, ((myTagsToImport.length > 10) ? 10 : myTagsToImport.length)), null, "\t"));

		$("#import_stats").prop("innerHTML", "<p>Found " + myTagsToImport.length + " Successfully Mapped Tags To Import</p>");
		$("#parse_results_errors").prepend("Failed to Map " + failedMappedRows + " Rows\n");
		$("#parse_results").prepend("Successfully Mapped " + successfullyMappedRows + " Rows\n");

		showImportForm();
	};


	/*  Get the Min/Max Freq of an Entry, based on UI settings  */
	/*  returns {'min':min, 'max':max} object                   */

	function getRowMinMaxFreq(rowNum) {

		var startTimeCol = $("#select_startcolumn").val();
			var sStartTime = parsedCSVResults.data[rowNum][startTimeCol];
	};

	function mapRowToMediaFileId(rowNum) {

		/* Figure out the MediaFile Id for a row of the CSV File */
		/* return null on error */


		/* are we using Id or Name */
		var selectedMediaFileMap = $("#select_filemapping").val();
		var usingMediaFileIdNotName = (selectedMediaFileMap == "ID");
		var selectedMediaFileColNum = $("#select_mediafile_column").val();
		var rowName = $.trim(parsedCSVResults.data[rowNum][selectedMediaFileColNum]);


		if (! (selectedMediaFileColNum >= 0)) {
			ARLOLogError("Failed Determining MediaFile For Row: " + rowNum + " (MediaFile Column Not Found)");
			return null;
		}

		if (usingMediaFileIdNotName) {
			return parseInt(rowName);
		} else {
			/* match the name to the mediaFileId */

			if (! cachedProjectMediaFiles) {
				ARLOLogError("Project MediaFiles Are Not Loaded");
				return null;
			}

			if (rowName) {
				var nameToMatch = rowName.toLowerCase();
				nameToMatch = removeFileNameExtensions(nameToMatch);

				for (var fileNum = 0; fileNum < cachedProjectMediaFiles.length; fileNum++) {
					var alias = cachedProjectMediaFiles[fileNum].alias;
					var aliasToMatch = alias.toLowerCase();
					aliasToMatch = removeFileNameExtensions(aliasToMatch);

					var filePathParts = cachedProjectMediaFiles[fileNum].file.split('/');
					var filePath = filePathParts[filePathParts.length-1];
					var filePathToMatch = filePath.toLowerCase();
					filePathToMatch = removeFileNameExtensions(filePathToMatch);

					if (nameToMatch == aliasToMatch) {
						$("#parse_results").append(rowName + ":Mapped to Alias '" + alias + "':Success\n");
						return cachedProjectMediaFiles[fileNum].id;
					}

					if (nameToMatch == filePathToMatch) {
						$("#parse_results").append(rowName + ":Mapped to FilePath '" + filePath + "':Success\n");
						return cachedProjectMediaFiles[fileNum].id;
					}

				}
			}

			$("#parse_results_errors").append(rowName + ":No MediaFile found for Tag Entry:Skipping\n");
			return null;
		}
	}


	/* Remove .wav, .mp3 from the end of a filename */

	function removeFileNameExtensions(sFileName) {
		var s = sFileName.replace(/\.([Ww][Aa][Vv])?([Mm][Pp]3)?$/, "");
		return s;
	}


	/*                                                                    */
	/*  parse one of the following formats, and return the seconds value  */
	/*  - ss.sss                                                          */
	/*  - mm:ss.sss                                                       */
	/*  - hh:mm:ss.sss                                                    */
	/*                                                                    */
	/* Return -1 on error                                                 */

	function parseTime(sTime) {

		/* remove any whitespace */
		var s = sTime.replace(/\s/g, '');

		var x = s.split(':');
		var seconds = parseFloat(x.pop());  /* pull out the seconds */
		if (isNaN(seconds)) {
			$("#parse_results_errors").append("Invalid Time Format in parseTime --  Seconds is NaN (" + sTime + ")");
			return -1;
		}

		/* check for minutes / hour */

		if (x.length > 2) {
			/* days? I think not - error */
			$("#parse_results_errors").append("Invalid Time Format in parseTime --  > 3 fields found (" + sTime + ")");
			return -1;
		}

		var mult = 60;
		while (x.length > 0) {
			var i = parseInt(x.pop());
			if (isNaN(i)) {
				$("#parse_results_errors").append("Invalid Time Format in parseTime --  HH/MM is NaN (" + sTime + ")");
				return -1;
			}
			seconds += mult * i;
			mult *= 60;  /* increment multiplier for minutes / hour */
		}

		return seconds;

	};


	/***************************************************/
	/*                                                 */
	/*                   Import Tags                   */
	/*                                                 */
	/***************************************************/


	function showImportForm() {
		$("#step_importoptions").hide();
		$("#parse_results_div").show();
		$("#step_import").show();

		if (myARLOModalStatus != null) {
			myARLOModalStatus.close();
			myARLOModalStatus = null;
		}
	};

	var numTagsToAdd = 0;

	function startImport() {

		ARLOLogDebug("startImport()");

		/* Throw up a Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Importing Tags...</strong>", true);

		numTagsToAdd = myTagsToImport.length;

		importContinue();
	};

	var importErrorCount = 0;
	var importErrorsString = "";
	var runningImportString = "";

	var currentImportTag;


	function importContinue() {

		if (myTagsToImport.length == 0) {
			importEnd();
			return;
		}

		/* get the next Tag to import from the list */

		currentImportTag = myTagsToImport.shift();

		/* Update the Status */

		$("#import_stats").prop("innerHTML", "<p>Adding New Tag... (" + (numTagsToAdd - myTagsToImport.length) + " of " + numTagsToAdd  + ")</p>");

		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Adding New Tag... (" + (numTagsToAdd - myTagsToImport.length) + " of " + numTagsToAdd  + ")</strong><br /><progress value='" + (numTagsToAdd - myTagsToImport.length) + "' max='" + numTagsToAdd + "'></progress>", true);

		runningImportString =
			"mediaFileId:" + currentImportTag.mediaFileId +
			":startTime:" + currentImportTag.startTime +
			":endTime:" + currentImportTag.endTime +
			":tagClassId:" + currentImportTag.tagClassId +
			":tagSetId:" + currentImportTag.tagSetId +
			":minFrequency:" + currentImportTag.minFrequency+
			":maxFrequency:" + currentImportTag.maxFrequency;

		importContinue_Tag();
	}


	function importContinue_Tag(data) {

		var myAPITag = new APITag("{{ArloAPIv0Url}}");
		myAPITag.addTag(
			currentImportTag.mediaFileId,
			currentImportTag.tagSetId,
			currentImportTag.startTime,
			currentImportTag.endTime,
			currentImportTag.minFrequency,
			currentImportTag.maxFrequency,
			currentImportTag.tagClassId,
			false,  /* randomlyChosen */
			false,  /* machineTagged */
			true,   /* userTagged */
			1,      /* strength */
			importContinue,
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogWarning("Failed Adding Tag Entry: Status: '" + textStatus + "' Error: '" + errorThrown + "' " + runningImportString);
				importErrorCount++;
				$("#import_results_errors").append("Failed Adding Tag Entry: Status: '" + textStatus + "' Error: '" + errorThrown + "' " + runningImportString + "\n");

				if (importErrorCount > (numTagsToAdd * 0.01)) {
					ARLOLogError("> 1% Error Rate - Bailing Out");
					$("#import_results_errors").prepend("> 1% Error Rate - Bailing Out");

					/* if > 1% error rate, bail out */
					if (myARLOModalStatus != null) {
						myARLOModalStatus.close();
						myARLOModalStatus = null;
					}
				} else {
					importContinue();
				}
			}
		)
	}

	function importEnd() {
		if (myARLOModalStatus != null) {
			myARLOModalStatus.close();
			myARLOModalStatus = null;
		}

		$("#step_import").hide();
		$("#import_done").show();
	};




	/*                     */
	/*  UI Event Handlers  */
	/*                     */

	function onTagClassMethodChange() {
		$("#id_tagClass").prop("disabled", ! $("#radio_tagclass_manual").is(':checked'));
		$("#select_tagclasscolumn").prop("disabled", ! $("#radio_tagclass_file").is(':checked'));
		$("#check_create_new_tagclasses").prop("disabled", ! $("#radio_tagclass_file").is(':checked'));
	};

	function onFreqMethodChange() {
		var isManual = $("#radio_freq_manual").is(':checked');
		var isFile = $("#radio_freq_file").is(':checked');

		$("#input_minfreq").prop("disabled", ! isManual);
		$("#input_maxfreq").prop("disabled", ! isManual);
		$("#select_minfreqcolumn").prop("disabled", ! isFile);
		$("#select_maxfreqcolumn").prop("disabled", ! isFile);
	};

	$(document).ready(function(){
		ARLOInit(); /* Setup the Logging Interface */

		/*                */
		/* Event Handlers */
		/*                */

		$("#file_select").change(onFileSelected);

		$("input[name=radio_tagclass]").change(onTagClassMethodChange);
		$("input[name=radio_freq]").change(onFreqMethodChange);


		// Fire once to setup UI
		onTagClassMethodChange();
		onFreqMethodChange();

	});

-->
</script>
{% endblock javascript %}

{% block content %}


<div class="col-md-12">

	<ol class="breadcrumb">
		<li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
		<li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project}}</a></li>
		<li>Import Tags from CSV</li>
	</ol>

  <div class="panel panel-primary">
    <div class="panel-body">

      <div class="well text-danger">This tool is still in the early development stages. Use with caution and check your results.</div>

      <!--               -->
      <!--  SELECT FILE  -->
      <!--               -->

      <h3 id='header_step1'>Step 1 - Select File</h3>
      <div id="step_selectfile">
      	<p>
      		Select a CSV file containing the Tags you wish to import.
      	</p>
      	<p>
      		This file should contain:
      		<ul>
      			<li>The MediaFile ID, alias, or name containing the Tag.</li>
      			<li>The Tag Start and End Times, from the beginning of the files, formatted as one of:
      				<ul>
      					<li>ss.sss</li>
      					<li>mm:ss.sss</li>
      					<li>hh:mm:ss.sss</li>
      				</ul>
      			</li>
      			<li>Optionally, a ClassName if multiple Classes are being created.</li>
      		</ul>
      	</p>
      	<p>
      		<strong>Note:</strong> The goal of this is to support rfc4180 standard
      		CSV files. Given the wide variety of possible data in these fields,
      		some special cases (think commas within the data fields) may not
      		parse properly depending on encoding.
      	</p>

      	<form href="#">
      		<input type="file" id="file_select" accept=".csv">
      	</form>


      </div>


      <!--                  -->
      <!--  Import Options  -->
      <!--                  -->

      <hr />
      <h3>Step 2 - Setup Import Options</h3>
      <div id="step_importoptions" hidden='true'>
      	<br />

      	<form id='form_importoptions'>
      		<label for='textarea_preview'>File Preview</label><br />
      		<textarea id='textarea_preview' readonly='true' rows='4' cols='80'></textarea>

      		<h3>Import Settings</h3>
      		<br />

      		<table>
      			<tr>
      				<td>
      					<input type='checkbox' id='checkSkipFirstRow' name='checkSkipFirstRow' checked>Skip First Row on Import
      				</td>
      			</tr><tr>
      				<td>
      					<p>
      						Save Tags to TagSet:<br />
      						{{form.tagSet}}
      					</p>
      				</td>
      				<td>
      					<p>
      						TagClass: <br />
      						<input type='radio' id='radio_tagclass_manual' name='radio_tagclass' value='manual' />
      						Use a Manually Specified Value:
      						{{form.tagClass}}

      						<br />

      						<input type='radio' id='radio_tagclass_file' name='radio_tagclass' value='file' />
      						Use a Column From the File:
      						<select id='select_tagclasscolumn' disabled></select>
      						<input type='checkbox' id='check_create_new_tagclasses' name='check_create_new_tagclasses' checked disabled>
      						Create new TagClasses if non-existent.
      					</p>
      				</td>
      			</tr><tr>
      				<td>
      					<p>
      						Map File By: <br />
      						<select id='select_filemapping'>
      							<option>ID</option>
      							<option>Name/Alias</option>
      						</select>
      						<select id='select_mediafile_column'><option>Test</option></select>
      					</p>
      				</td>
      			</tr><tr>
      				<td>
      					<table><tr>
      						<td>
      							<p>
      								Start Time Column: <br />
      								<select id='select_startcolumn'></select>
      							</p>
      						</td><td>
      							<p>
      								End Time Column: <br />
      								<select id='select_endcolumn'></select>
      							</p>
      						</td>
      					</tr></table>
      				</td>
      			</tr><tr>
      				<td>
      					<p>
      						Min / Max Frequency: <br />
      						<input type='radio' id='radio_freq_manual' name='radio_freq' value='manual'>
      						Use a Manually Specified Value -
      						Min: <input type="text" id="input_minfreq" name="input_minfreq" size="5" value="20" />
      						Max: <input type="text" id="input_maxfreq" name="input_maxfreq" size="5" value="20000" />

      						<br />

      						<input type='radio' id='radio_freq_file' name='radio_freq' value='file'>
      						Use Columns From the File -
      						Min: <select id='select_minfreqcolumn' disabled></select>
      						Max: <select id='select_maxfreqcolumn' disabled></select>
      					</p>
      				</td>
      			</tr>
      		</table>


      		<br />
      		<input type='submit' value='Continue' onclick='onSubmitSetup(); return false;'/>
      	</form>
      </div>

      <!--                -->
      <!--  FINAL IMPORT  -->
      <!--                -->

      <hr />
      <h3>Step 3 - Import Prepared</h3>
      <div id="parse_results_div" hidden='true'>
      	<br />
      	<div id='import_stats'></div>
      	<p>
      		<strong>Data Parsing Results</strong><br />
      		<textarea id='parse_results' readonly='readonly' rows='10' cols='80'></textarea>
      	</p>
      	<br />
      	<p>
      		<strong>Errors</strong><br />
      		<textarea id='parse_results_errors' readonly='readonly' rows='10' cols='80'></textarea>
      	</p>

        <div id="step_import" hidden='true'>
        	<br />
        	<p><strong>Proceed to Import...</strong></p>
        	<form>
        		<input type='submit' value='Start Import' onclick='startImport(); return false;'/>
        	</form>
        </div>

      </div>

      <!--        -->
      <!--  DONE  -->
      <!--        -->

      <hr />
      <div id="import_done" hidden='true'>
      	<br />
      	<h3>Done</h3>

      	<p>
      		<strong>Import Errors</strong><br />
      		<textarea id='import_results_errors' readonly='readonly' rows='10' cols='80'></textarea>
      	</p>

      </div>

    </div>
  </div>
</div>

{% endblock content %}
