{% extends "tools/base.html" %}

{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/UserMetaData.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Library.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/PapaParse/papaparse.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--

	var myARLOModalStatus = null;
	var urlPrefix = "{{ArloUrlPrefix}}";


/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests.
// Namely for post() requests
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?

	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});


	/*                                 */
	/*      SELECT FILE FUNCTIONS      */
	/*                                 */

	function onFileSelected(){
		var file = $("#file_select")[0].files[0];

		$("#header_step1").text('Step 1 - Selected File "' + file.name + '"');

		/*                       */
		/* Try to Parse the File */
		/*                       */

		/* Throw up a Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Parsing CSV File (" + file.name + ")...</strong>", true);

		/* Log what we're doing */
		ARLOLogDebug("Parsing CSV File (" + file.name + ")...");

		Papa.parse(file, {
			complete: onFileParsed
		});
	};

	var parsedCSVResults = null;

	function onFileParsed(results) {

		/* Kill Status Form */
		ARLOLogDebug("Parsed CSV File - Setting up Form");

		if (results.data.length < 0) {
			/* Clear Status */
			ARLOModalStatusCloseAll();
			myARLOModalStatus = null;
			ARLOLogWarning("No Rows Parsed from File");
			return false;
		}
		parsedCSVResults = results;

		/* seems to be an issues with the last row picking up one empty field */
		var lastRow = parsedCSVResults.data.length - 1;
		if ((parsedCSVResults.data[lastRow].length == 1) && (parsedCSVResults.data[lastRow][0] == '')) {
			parsedCSVResults.data.pop();
		}

		/* get MediaFileUserMetaDataFields */
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Loading UserMetaDataFields...</strong>", true);
		var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
		myAPIUserMetaData.getLibrary_mediaFileUserMetaDataFields(
			{{library.id}},
			haveMediaFileUserMetaDataFields,
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Loading UserMetaDataFields: Status: " + textStatus + " Error: " + errorThrown);
				if (myARLOModalStatus != null) {
					myARLOModalStatus.close();
					myARLOModalStatus = null;
				}
			}
		);
	};


	/*                              */
	/*      FIELD NAME MAPPING      */
	/*                              */


	var cachedExistingFieldsJson = null;

	function haveMediaFileUserMetaDataFields(fieldsJson) {
		/* fieldsJson is the list of UserMetaDataFields already defined for this library */

		cachedExistingFieldsJson = fieldsJson;

		/* Hide File Select Form */
		$("#step_selectfile").hide();

		/*                             */
		/* Setup the Field Select Form */
		/*                             */

		/* preview textarea */
		var innerHtml = "";
		var i = parsedCSVResults.data.length - 1;
		if (i > 2) {i = 2;}
		for (; i>=0; i--) {
			innerHtml = parsedCSVResults.data[i].join() + "\n" + innerHtml;
		}
		$("#textarea_preview").prop('innerHTML', innerHtml);

		/* empty column table except for header row */
		var columnTable=document.getElementById("table_columns");
		while(columnTable.rows.length>1)
			columnTable.deleteRow(columnTable.rows.length-1);

		/* populate the column table */
		for (var columnNum = 0; columnNum < parsedCSVResults.data[0].length; columnNum++) {
			var row = '<tr><td>' + columnNum + '</td>'; /* id */
			row += '<td>' + parsedCSVResults.data[0][columnNum] + '</td>'; /* 1st row preview */
			row += '<td>' + "<select id='columnMapping_" + columnNum + "' class='importFieldsOptions'>";
				row += "<option value='ARLO_column_new'>Add as New Field</option>";
				row += "<option value='ARLO_column_skip'>Skip</option>";
				$.each(fieldsJson, function(jsonIndex) {
					row += "<option value='" + fieldsJson[jsonIndex].name + "'>";
					row += fieldsJson[jsonIndex].name + "</option>";
				});
				row += '</select></td>';
			row += '<td>' + "<input type='text' id='newColumn_" + columnNum + "' value='" + $.trim(parsedCSVResults.data[0][columnNum]) + "' /></td>";
			row += '<td>' + "<input type='radio' name='mediaFile' value='mediaFileIdCol_" + columnNum + "'></td>";
			row += '<td>' + "<input type='radio' name='mediaFile' value='mediaFileNameCol_" + columnNum + "'></td>";

			row += '</td>';
			$(row).appendTo("#table_columns");
		}


		/* if the first row matches an existing Field Name, set to that value */
		for (var columnNum = 0; columnNum < parsedCSVResults.data[0].length; columnNum++) {
			$.each(fieldsJson, function(jsonIndex) {
				if ($.trim(parsedCSVResults.data[0][columnNum]) == fieldsJson[jsonIndex].name) {
					document.getElementById('columnMapping_' + columnNum).value = fieldsJson[jsonIndex].name;
				}
			});
		}
		updateEnabledNewColumnFields();  /* trigger an update */


		/* Setup Event Handler for 'importFieldsOptions' controls to enable/disable fields */
		$(".importFieldsOptions").change(function(event) {updateEnabledNewColumnFields();});
		updateEnabledNewColumnFields(); /* fire it once to setup the form */

		/* Show the Field Setup Form */
		$("#step_setupcolumns").show();

		/* Clear Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = null;

	};

	function updateEnabledNewColumnFields() {
		/* update which controls are active based on the column mapping option */

		if (! parsedCSVResults) {
			ARLOLogWarning("parsedCSVResults Invalid in updateEnabledNewColumnFields - bailing out");
			return false;
		}

		for (var columnNum = 0; columnNum < parsedCSVResults.data[0].length; columnNum++) {
			var columnMappingValue = $("#columnMapping_" + columnNum)[0].value;

			var newFieldNameBox = $("#newColumn_" + columnNum);
			if (columnMappingValue == 'ARLO_column_new') {
				newFieldNameBox.prop('disabled', false);
			} else {
				newFieldNameBox.val('');
				newFieldNameBox.prop('disabled', true);
			}
		}
	};

	var fieldNamesToAdd = null;

	function onSubmitColumns(){

		ARLOLogDebug("onSubmitColumns");

		/*                                          */
		/* Figure out the MediaFile Id/Name Mapping */
		/*                                          */

		var selectedMediaFileRadio = $("input[name=mediaFile]:checked", "#form_setupcolumns");
		if (selectedMediaFileRadio.length != 1) {
			alert("Must Select MediaFile Field");
			return false;
		}
		var selectedMediaFileValue = selectedMediaFileRadio.val();

		/* are we using Id or Name */

		var usingMediaFileIdNotName = null;
		var selectedMediaFileColNum = selectedMediaFileValue;

		if (selectedMediaFileValue.substr(0, 15) == 'mediaFileIdCol_') {
			usingMediaFileIdNotName = true;
			selectedMediaFileColNum = Number(selectedMediaFileValue.substr(15));
		}

		if (selectedMediaFileValue.substr(0, 17) == 'mediaFileNameCol_') {
			usingMediaFileIdNotName = false;
			selectedMediaFileColNum = Number(selectedMediaFileValue.substr(17));
		}

		if (usingMediaFileIdNotName == null) {
			alert("Must Choose a MediaFile Column");
			return false;
		}

		if (! (selectedMediaFileColNum >= 0)) {
			ARLOLogError("Invalid MediaFile Column Found - Bailing Out");
			return false;
		}

		ARLOLogDebug("Got MediaFile ColNum: " + selectedMediaFileColNum + " IsId: " + usingMediaFileIdNotName);

		/*                              */
		/* Validate the Column Mappings */
		/*                              */

		if (! parsedCSVResults) {
			ARLOLogWarning("parsedCSVResults Invalid in onSubmitColumns - bailing out");
			return false;
		}

		var numCols = parsedCSVResults.data[0].length;

		/* build an array of column Field Names */
		var importColFieldNames = [];
		fieldNamesToAdd = [];
		for (var columnNum = 0; columnNum < numCols; columnNum++) {
			var columnMappingValue = $("#columnMapping_" + columnNum).val();
			var newFieldNameBox = $("#newColumn_" + columnNum);

			if (columnMappingValue == 'ARLO_column_skip') {
				importColFieldNames.push(null);
			} else if (columnMappingValue == 'ARLO_column_new') {

				var newColName = $.trim(newFieldNameBox.val());

				/* if add New, make sure existing name doesn't exist */
				for (var i = 0; i < cachedExistingFieldsJson.length; i++) {
					if (cachedExistingFieldsJson[i].name == newColName) {
						alert("'" + newColName + "' - Field Already Exists - Can not add!");
						return false;
					}
				}

				/* Make sure field Names aren't blank */
				if (newColName == '') {
					ARLOLogError("New Field Name Can Not Be Blank (Column Number " + columnNum + ")");
					return false;
				}

				importColFieldNames.push(newColName);
				fieldNamesToAdd.push(newColName);
			} else {
				importColFieldNames.push(columnMappingValue);
			}
		}

		/* Ensure there are no repeated column names */
		for (var x = 0; x < numCols; x++) {
			if (importColFieldNames[x] != null) {
				for (var y = 0; y < numCols; y++) {
					if (x != y) {
						if (importColFieldNames[x] == importColFieldNames[y]) {
							alert("Multiple Fields with Same Name: '" + importColFieldNames[x] + "'");
							return false;
						}
					}
				}
			}
		}

		/* if here, we're all validated and ready to go */

		/* kick-off adding the new columns */
		addNewFieldsStart();


	};

	/* add a new column from the fieldNamesToAdd list */
	/* when done, proceed with the import */

	function addNewFieldsStart() {
		ARLOLogDebug("addNewFieldsStart() - Adding These Fields: " + fieldNamesToAdd.toString());

		/* Throw up a Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Adding New UserMetaData Fields...</strong>", true);

		addNewFieldsContinue();
	};

	function addNewFieldsContinue() {
		if (fieldNamesToAdd.length == 0) {
			addNewFieldsEnd();
			return;
		}

		var newFieldName = fieldNamesToAdd.shift();

		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Adding New UserMetaData Fields... (" + fieldNamesToAdd.length + " remaining)</strong>", true);

		var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
		myAPIUserMetaData.addMediaFileUserMetaDataField(
			newFieldName,
			"Auto Added By Import",
			{{library.id}},
			addNewFieldsContinue,
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Adding UserMetaDataFields: Status: " + textStatus + " Error: " + errorThrown);
				if (myARLOModalStatus != null) {
					myARLOModalStatus.close();
					myARLOModalStatus = null;
				}
			}
		);
	};

	function addNewFieldsEnd() {
		if (myARLOModalStatus != null) {
			myARLOModalStatus.close();
			myARLOModalStatus = null;
		}

		prepareImport();
	};



	function prepareImport() {

		/* get the updated UserMetaData Fields */

		/* Throw up a Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Loading UserMetaDataFields...</strong>", true);

		var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
		myAPIUserMetaData.getLibrary_mediaFileUserMetaDataFields(
			{{library.id}},
			function(fieldsJson) {
				cachedExistingFieldsJson = fieldsJson;
				prepareImportHaveUserMetaDataFields();
			},
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Loading UserMetaDataFields: Status: " + textStatus + " Error: " + errorThrown);
				if (myARLOModalStatus != null) {
					myARLOModalStatus.close();
					myARLOModalStatus = null;
				}
			}
		);
	};

	var newMetaDataEntries = null;
	var cachedLibraryMediaFiles = null;

	function prepareImportHaveUserMetaDataFields() {
		/* Next Load all of the MediaFiles for the name mapping function */

		/* update the status */
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Loading the Library MediaFiles...</strong>", true);

		var myAPILibrary = new APILibrary("{{ArloAPIv0Url}}");
		myAPILibrary.getLibrary_mediaFiles(
			{{library.id}},
			function(mediaFilesJSON) {
				cachedLibraryMediaFiles = mediaFilesJSON;
				prepareImportHaveMediaFiles();
			},
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Loading Library MediaFiles: Status: " + textStatus + " Error: " + errorThrown);
				if (myARLOModalStatus != null) {
					myARLOModalStatus.close();
					myARLOModalStatus = null;
				}
			}
		);
	};

	function prepareImportHaveMediaFiles() {
		ARLOLogDebug("prepareImportHaveMediaFiles()");

        myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Building Import List...</strong>", true);

		/* map columns to MetaDataField Id */

		var numCols = parsedCSVResults.data[0].length;
		var columnToFieldId = [];
		for (var columnNum = 0; columnNum < numCols; columnNum++) {
			var columnMappingValue = $("#columnMapping_" + columnNum).val();
			var newFieldNameBox = $("#newColumn_" + columnNum);

			if (columnMappingValue == 'ARLO_column_skip') {
				columnToFieldId.push(null);
			} else {
				var colName = '';
				if (columnMappingValue == 'ARLO_column_new') {
					colName = $.trim(newFieldNameBox.val());
				} else {
					colName = columnMappingValue;
				}

				/* find the field ID that maps to this name */
				var fieldId = -1;
				for (var i = 0; i < cachedExistingFieldsJson.length; i++) {
					if (cachedExistingFieldsJson[i].name == colName) {
						fieldId = cachedExistingFieldsJson[i].id;
					}
				}

				if (fieldId < 0) {
					ARLOModalStatusCloseAll();
					ARLOLogError("Failed Mapping Column to FieldId (Column " + columnNum + ")");
					return false;
				}

				columnToFieldId.push(fieldId);
			}
		}

		ARLOLogDebug("columnToFieldId Mapping: " + columnToFieldId.toString());


		newMetaDataEntries = [];

		/* loop over rows */
		var startRow = 0;
		var successfullyMappedRows = 0;
		var failedMappedRows = 0;
		if ($("#checkSkipFirstRow").is(':checked')) {
			startRow = 1;
		}
		for (var rowNum = startRow; rowNum < parsedCSVResults.data.length; rowNum++) {

			/* determine file id */
			var mediaFileId = mapRowToMediaFileId(rowNum);
			if (mediaFileId == null) {
				failedMappedRows++;
				/* ARLOLogError("Failed Mapping MediaFileId - Row " + rowNum); */
				/* return false; */
			} else {

				successfullyMappedRows++;
				/* generate list of (fileId, fieldId, value) */
				for (var colNum = 0; colNum < numCols; colNum++) {
					if (columnToFieldId[colNum] != null) {
						if ((parsedCSVResults.data[rowNum][colNum] != "") && (typeof parsedCSVResults.data[rowNum][colNum] != 'undefined')) {
							newMetaDataEntries.push({
								"mediaFileId":mediaFileId,
								"fieldId":columnToFieldId[colNum],
								"value":parsedCSVResults.data[rowNum][colNum]
							});
						}
					}
				}
			}
		}

		$("#import_stats").prop("innerHTML", "<p>Found " + newMetaDataEntries.length + " Entries from " + successfullyMappedRows + " Rows to Import</p>");

		$("#parse_results_errors").prepend("Failed to Map " + failedMappedRows + " Rows\n");
		$("#parse_results").prepend("Successfully Mapped " + successfullyMappedRows + " Rows\n");

		showImportForm();
	};


	function mapRowToMediaFileId(rowNum) {

		/* Figure out the MediaFile Id for a row of the CSV File */
		/* return null on error */

		var selectedMediaFileRadio = $("input[name=mediaFile]:checked", "#form_setupcolumns");
		if (selectedMediaFileRadio.length != 1) {
			ARLOLogError("Failed Determining MediaFile For Row: " + rowNum)
			return null;
		}
		var selectedMediaFileValue = selectedMediaFileRadio.val();

        /* are we using Id or Name */

		var usingMediaFileIdNotName = null;
		var selectedMediaFileColNum = selectedMediaFileValue;

		if (selectedMediaFileValue.substr(0, 15) == 'mediaFileIdCol_') {
			usingMediaFileIdNotName = true;
			selectedMediaFileColNum = Number(selectedMediaFileValue.substr(15));
		}

		if (selectedMediaFileValue.substr(0, 17) == 'mediaFileNameCol_') {
			usingMediaFileIdNotName = false;
			selectedMediaFileColNum = Number(selectedMediaFileValue.substr(17));
		}

		if (usingMediaFileIdNotName == null) {
			ARLOLogError("Failed Determining MediaFile For Row: " + rowNum + " (MediaFile Column Not Found)");
			return null;
		}

		if (! (selectedMediaFileColNum >= 0)) {
			ARLOLogError("Failed Determining MediaFile For Row: " + rowNum + " (MediaFile Column Not Found2)");
			return null;
		}

		if (usingMediaFileIdNotName) {
			return parsedCSVResults.data[rowNum][selectedMediaFileColNum];
		} else {
			/* match the name to the mediaFileId */

			if (! cachedLibraryMediaFiles) {
				ARLOLogError("Library MediaFiles Are Not Loaded");
				return null;
			}

			var rowName = parsedCSVResults.data[rowNum][selectedMediaFileColNum];
			if (rowName) {
				var nameToMatch = rowName.toLowerCase();
				nameToMatch = removeFileNameExtensions(nameToMatch);

				for (var fileNum = 0; fileNum < cachedLibraryMediaFiles.length; fileNum++) {
					var alias = cachedLibraryMediaFiles[fileNum].alias;
					var aliasToMatch = alias.toLowerCase();
					aliasToMatch = removeFileNameExtensions(aliasToMatch);

					var filePathParts = cachedLibraryMediaFiles[fileNum].file.split('/');
					var filePath = filePathParts[filePathParts.length-1];
					var filePathToMatch = filePath.toLowerCase();
					filePathToMatch = removeFileNameExtensions(filePathToMatch);

					if (nameToMatch == aliasToMatch) {
						$("#parse_results").append(rowName + ":Mapped to Alias '" + alias + "':Success\n");
						return cachedLibraryMediaFiles[fileNum].id;
					}

					if (nameToMatch == filePathToMatch) {
						$("#parse_results").append(rowName + ":Mapped to FilePath '" + filePath + "':Success\n");
						return cachedLibraryMediaFiles[fileNum].id;
					}

				}
			}

			$("#parse_results_errors").append(rowName + ":No MediaFile found for MetaData Entry:Skipping\n");
			return null;
		}
	}

	/* Remove .wav, .mp3 from the end of a filename */

	function removeFileNameExtensions(sFileName) {
		var s = sFileName.replace(/\.([Ww][Aa][Vv])?([Mm][Pp]3)?$/, "");
		return s;
	}

	/*                            */
	/*      IMPORT FUNCTIONS      */
	/*                            */


	function showImportForm() {
		$("#step_setupcolumns").hide();
		$("#parse_results_div").show();
		$("#step_import").show();

		if (myARLOModalStatus != null) {
			myARLOModalStatus.close();
			myARLOModalStatus = null;
		}
	};

	var numEntriesToAdd = 0;

	function startImport() {

		ARLOLogDebug("startImport()");

		/* Throw up a Status */
		ARLOModalStatusCloseAll();
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Adding UserMetaData Entries...</strong>", true);

		numEntriesToAdd = newMetaDataEntries.length;

		importContinue();
	};

	var importErrorCount = 0;
	var importErrorsString = "";
	var runningImportString = "";

	function importContinue() {
		if (newMetaDataEntries.length == 0) {
			importEnd();
			return;
		}

		var newMetaDataEntry = newMetaDataEntries.shift();

		$("#import_stats").prop("innerHTML", "<p>Adding New UserMetaData Entry... (" + (numEntriesToAdd - newMetaDataEntries.length) + " of " + numEntriesToAdd  + ")</p>");

		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Adding New UserMetaData Entry... (" + (numEntriesToAdd - newMetaDataEntries.length) + " of " + numEntriesToAdd  + ")</strong><br /><progress value='" + (numEntriesToAdd - newMetaDataEntries.length) + "' max='" + numEntriesToAdd + "'></progress>", true);

		runningImportString = "mediaFileId:" + newMetaDataEntry.mediaFileId + ":fieldId:" + newMetaDataEntry.fieldId + ":value:" + newMetaDataEntry.value;

		var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
		myAPIUserMetaData.addMediaFileUserMetaData(
			newMetaDataEntry.mediaFileId,
			newMetaDataEntry.fieldId,
			newMetaDataEntry.value,
			importContinue,
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogWarning("Failed Adding UserMetaData Entry: Status: '" + textStatus + "' Error: '" + errorThrown + "' " + runningImportString);
				importErrorCount++;
				$("#import_results_errors").append("Failed Adding UserMetaData Entry: Status: '" + textStatus + "' Error: '" + errorThrown + "' " + runningImportString + "\n");

				if (importErrorCount > (numEntriesToAdd * 0.01)) {
					ARLOLogError("> 1% Error Rate - Bailing Out");
					$("#import_results_errors").prepend("> 1% Error Rate - Bailing Out");

					/* if > 1% error rate, bail out */
					if (myARLOModalStatus != null) {
						myARLOModalStatus.close();
						myARLOModalStatus = null;
					}
				} else {
					importContinue();
				}
			}
		);
	};

	function importEnd() {
		if (myARLOModalStatus != null) {
			myARLOModalStatus.close();
			myARLOModalStatus = null;
		}

		$("#step_import").hide();
		$("#import_done").show();
	};








/*                                      */
/*                                      */
/*                                      */




	$(document).ready(function(){
		ARLOInit(); /* Setup the Logging Interface */

		/*                */
		/* Event Handlers */
		/*                */

		$("#file_select").change(onFileSelected);


	});

-->
</script>
{% endblock javascript %}

{% block content %}

<div class="col-md-12">

	<ol class="breadcrumb">
		<li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
		<li><a href="{{ArloUrlPrefix}}/tools/libraryFiles/{{library.id}}">Library: {{library.name}}</a></li>
		<li>Import Metadata</li>
	</ol>

  <div class="panel panel-primary start-new-library">
    <div class="panel-body">


      <!--               -->
      <!--  SELECT FILE  -->
      <!--               -->

      <h3 id='header_step1'>Step 1 - Select File</h3>
      <div id="step_selectfile">
      	<p> Select a CSV file containing MetaData entries for files in your Library.  </p>
      	<p>
      		<strong>Note:</strong> The goal of this is to support rfc4180 standard
      		CSV files. Given the wide variety of possible data in these fields,
      		some special cases (think commas within the data fields) may not
      		parse properly depending on encoding.
      	</p>

      	<form href="#">
      		<input type="file" id="file_select" accept=".csv">
      	</form>

      </div>


      <!--                 -->
      <!--  SETUP COLUMNS  -->
      <!--                 -->

      <h3>Step 2 - Setup Columns and Fields</h3>
      <div id="step_setupcolumns" hidden='true'>
      	<p>  </p>

      	<form id=form_setupcolumns>
      		<label for='textarea_preview'>Preview</label><br />
      		<textarea id='textarea_preview' readonly='true' rows='4' cols='80'></textarea>

      		<br />
      		<br />
      		<input type='checkbox' id='checkSkipFirstRow' name='checkSkipFirstRow' checked>Skip First Row on Import
      		<br />
      		<br />

      		<table id='table_columns'>
      			<tr>
      				<th>Column</th>
      				<th>1st Row</th>
      				<th>Import Mapping</th>
      				<th>Create New Field</th>
      				<th>MediaFile ID</th>
      				<th>MediaFile Name</th>
      			</tr>
      		</table>

      		<br />
      		<input type='submit' value='Continue' onclick='onSubmitColumns(); return false;'/>
      	</form>
      </div>

      <!--                -->
      <!--  FINAL IMPORT  -->
      <!--                -->

      <h3>Step 3 - Import Prepared</h3>
      <div id="parse_results_div" hidden='true'>
      	<br />
      	<div id='import_stats'></div>
      	<p>
      		<strong>Data Parsing Results</strong><br />
      		<textarea id='parse_results' readonly='readonly' rows='10' cols='80'></textarea>
      	</p>
      	<br />
      	<p>
      		<strong>Errors</strong><br />
      		<textarea id='parse_results_errors' readonly='readonly' rows='10' cols='80'></textarea>
      	</p>
      </div>

      <div id="step_import" hidden='true'>
      	<br />
      	<p><strong>Proceed to Import...</strong></p>
      	<form>
      		<input type='submit' value='Start Import' onclick='startImport(); return false;'/>
      	</form>
      </div>

      <!--        -->
      <!--  DONE  -->
      <!--        -->

      <div id="import_done" hidden='true'>
      	<br />
      	<h3>Done</h3>

      	<p>
      		<strong>Import Errors</strong><br />
      		<textarea id='import_results_errors' readonly='readonly' rows='10' cols='80'></textarea>
      	</p>

      </div>

    </div>
  </div>
</div>


{% endblock content %}
