<!-- <meta http-equiv="refresh" content="15"> -->
{% extends "tools/base.html" %}
{% block javascript%}

{% load staticfiles %}
{% load crispy_forms_tags %}


<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

{% endblock javascript %}
{% block content %}

<div class="col-md-12">
  <ol class="breadcrumb">
    <li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
    <li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project}}</a></li>
    <li>Launch Plugin Job</li>
  </ol>
</div>

<div class="col-md-4">

  <div class="panel panel-primary delete-user">
    <div class="panel-heading">Launch Job</div>
    <div class="panel-body">

			<form id="jobType" method="POST">
				{% csrf_token %}
					{{ form|crispy }}
				<input type="submit" class="btn stn-default" value="Next"/>
			</form>

		</div>
	</div>
</div>

<div class="col-md-8">

	<p>Plugins extend ARLO's default functionality. Available plugins:</p>

	{% for plugin in jobPlugins %}
		{% if plugin.plugin_object.showInLaunchUI %}
		<div class="panel panel-default">
			<div class="panel-heading">{{ plugin.friendlyName }}</div>
			<div class="panel-body">
				{{ plugin.description }} 
			</div>
		</div>
		{% endif %}
	{% endfor %}

</div>

{% endblock content %}
