{% extends "tools/base.html" %}

{% block javascript%}

{% load staticfiles %}

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Library.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/ArloPermission.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/User.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/ArloUserGroup.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/userPermissions.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/sorttable/sorttable.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--


/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests.
// Namely for post() requests
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?

	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});


	var myARLOModalStatus = null;

	var myAPILibrary = null;
	var myUserPermissionsEditor = null;
	var myAPIArloPermission = null;
	var myAPIUser = null;
	var myAPIArloUserGroup = null;

	/**
	 * Edit the default permissions of the Library.
	 */

	function showEditDefaultPermissionsForm(library_id, has_read, has_write, has_launch_job, has_admin){

		/* Create an ARLOModalForm to edit the permissions */
		var form = document.createElement("form");
		form.setAttribute('action', "#");
		var formHtml = "" +
			"<input type='hidden' name='library_id' value='" + library_id + "'/>" +
			"<label>Modifying Default Permissions for Library (" + library_id + ")</label>" +
			"<table>" +
			"  <tr>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>Read?</p></td>" +
			"    <td><input type='checkbox' name='read' value='read'";
		if (has_read) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>Write?</p></td>" +
			"    <td><input type='checkbox' name='write' value='write'";
		if (has_write) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>LaunchJob?</p></td>" +
			"    <td><input type='checkbox' name='launch_job' value='launch_job'";
		if (has_launch_job) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>Admin?</p></td>" +
			"    <td><input type='checkbox' name='admin' value='admin'";
		if (has_admin) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"</table>" +
			"<input type='submit' name='submit' value='Save' />&nbsp;" +
			"<input type='submit' name='cancel' value='Cancel' />";

		form.innerHTML = formHtml;

		var modalForm = new ARLOModalForm();
		modalForm.popupForm(
			form,
			function(form, context){
				/* callback from the form  */
				/* Save the Values Here */

				var library_id = $(form).find('[name=library_id]').val();
				var has_read = $(form).find('[name=read]').is(':checked');
				var has_write = $(form).find('[name=write]').is(':checked');
				var has_launch_job = $(form).find('[name=launch_job]').is(':checked');
				var has_admin = $(form).find('[name=admin]').is(':checked');

				if (myARLOModalStatus == null) {
					myARLOModalStatus = new ARLOModalStatus();
				}

				editDefaultPermissions(library_id, has_read, has_write, has_launch_job, has_admin);

				return true;  /* close the ModalForm */
			},
			null,  /* on cancel, do nothing */
			this /* callback context */
		);
	}


	function editDefaultPermissions(library_id, has_read, has_write, has_launch_job, has_admin){
		if (this.myARLOModalStatus == null) {
			this.myARLOModalStatus = new ARLOModalStatus();
		}
		this.myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Saving...</strong>", true);

		myAPILibrary.updateDefaultPermissions(
			library_id,
			has_read,
			has_write,
			has_launch_job,
			has_admin,
			function(json) {
				ARLOLogNotify("Successfully Edited Permissions");
				location.reload();
			},
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Editing Permissions: Status: " + textStatus + " Error: " + errorThrown);
				this.myARLOModalStatus.close();
				this.myARLOModalStatus = null;
			},
			this /* callback context */
		);
	}


	$(document).ready(function(){
		ARLOInit();

		myAPILibrary = new APILibrary("{{ArloAPIv0Url}}");
		myAPIArloPermission = new APIArloPermission("{{ArloAPIv0Url}}");
		myAPIUser = new APIUser("{{ArloAPIv0Url}}");
		myAPIArloUserGroup = new APIArloUserGroup("{{ArloAPIv0Url}}");
		myUserPermissionsEditor = new UserPermissionsEditor("{% static 'tools/img/loading.gif' %}", myAPIArloPermission, myAPIUser, myAPIArloUserGroup)

	});

-->
</script>
{% endblock javascript %}



{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-3">

  <div class="panel panel-primary project-info">
    <div class="panel-heading">Library: {{library.name}}</div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/uploadAudioFile?library={{library.id}}">Upload File</a></li>
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/importLibraryUserMetaData/{{library.id}}">Import Metadata</a></li>
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/exportLibraryMediaFileMetaData/{{library.id}}">Export Metadata</a></li>
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/libraryPermissions/{{library.id}}">Edit User Permissions</a></li>
    </ul>
  </div>

  <div class="panel panel-primary sensor-arrays">
    <div class="panel-heading">Sensor Arrays</div>
    <ul class="list-group">
      {% if sensorArrays %}
      	{% for sensorArray in sensorArrays %}
      	<li class="list-group-item" data-id="{{sensorArray.id}}">
      		{{ sensorArray.name }}
          <div class="btn-group pull-right">
            <a href="{{ArloUrlPrefix}}/tools/sensorArray/{{ sensorArray.id }}" class="btn btn-xs btn-success">Edit</a>
            <a href="#" class="btn btn-xs btn-danger delete-sensor-array" data-toggle="modal" data-target="#modalDeleteSensorArray" data-id="{{ sensorArray.id }}" data-name="{{ sensorArray.name}}">Delete</a>
          </div>
      	</li>
      	{% endfor %}
      {% else %}
        <li class="list-group-item">No existing sensor arrays.</li>
      {% endif %}
    </ul>
    <div class="panel-footer">
      <p>Add new sensor array:</p>
      {# Daniel is hard coding this because it's too much work for too little otherwise #}
      <form method="POST" action="{{ArloUrlPrefix}}/tools/libraryAddSensorArray/{{library.id}}" class="form-inline margin-top">
      	{% csrf_token %}
        <div id="div_id_name" class="form-group">
          <label for="id_name" class="sr-only requiredField">Name</label>
          <input class="input-sm textinput textInput form-control" id="id_name" maxlength="255" name="name" placeholder="Name" type="text">
        </div>
        <div class="form-group">
          <div class="controls ">
            <input type="submit" name="submit" value="Go" class="btn btn-primary btn-sm" id="submit-id-submit">
          </div>
        </div>
      </form>
    </div>
  </div>

</div><!-- .col-md-3 -->


<div class="col-md-9">

  {% include 'tools/mediaFilesList.html' %}

</div>

<!-- Delete sensor array -->
<div id="modalDeleteSensorArray" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Sensor Array '<span></span>'?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="#" class="btn btn-danger submit">Delete</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock content %}
