{% comment %}
Template included in several other templates.
{% endcomment %}

<div class="panel panel-success audio-files" data-total-files="{{ totalFiles }}">
  <div class="panel-heading">
    <span>{{ fileListHeader }}</span>
    <span class="pull-right">Showing {{ MediaFilesPaginator.start_index }}-{{ MediaFilesPaginator.end_index }} of {{ totalFiles }}</span>
  </div>

  <div class="panel-body">
    <form method="GET" action="{{ArloUrlPrefix}}/tools/searchAudioFileNames">
      <div class="input-group">
        <input type="text" name="searchString" class="form-control" placeholder="{{ searchPrompt }}" />
        {% if currentProjectId %}
          <input type="hidden" name="projectId" value= {{ currentProjectId }} />
        {% elif currentLibraryId %}
          <input type="hidden" name="libraryId" value= {{ currentLibraryId }} />
        {% endif %}
        <span class="input-group-btn">
          <input class="btn btn-secondary" type="submit" value="Go!" />
        </span>
      </div>
    </form>
  </div>

  <div class="panel-body">
    <p>Sort by:
      {% if listSort == 'uploadDate' and listSortOptions.uploadDate %}<a href="?sort=uploadDate" class="btn btn-xs btn-success">Upload Date</a>
      {% elif listSortOptions.uploadDate %}<a href="?sort=uploadDate" class="btn btn-xs btn-default">Upload Date</a>{% endif %}
      {% if listSort == 'alias' and listSortOptions.alias %}<a href="?sort=alias" class="btn btn-xs btn-success">Name</a>
      {% elif listSortOptions.alias %}<a href="?sort=alias" class="btn btn-xs btn-default">Name</a>{% endif %}
      <!--
      {% if listSort == 'duration' %}<a href="?sort=duration" class="btn btn-xs btn-success">Duration</a>
      {% else %}<a href="?sort=duration" class="btn btn-xs btn-default">Duration</a>{% endif %}
      -->
      {% if listSort == 'tagCount' and listSortOptions.tagCount %}<a href="?sort=tagCount" class="btn btn-xs btn-success">Tag Count</a>
      {% elif listSortOptions.tagCount %}<a href="?sort=tagCount" class="btn btn-xs btn-default">Tag Count</a>{% endif %}
      {% if listSort == 'userTagCount' and listSortOptions.userTagCount %}<a href="?sort=userTagCount" class="btn btn-xs btn-success">User Tag Count</a>
      {% elif listSortOptions.userTagCount %}<a href="?sort=userTagCount" class="btn btn-xs btn-default">User Tag Count</a>{% endif %}
      {% if listSort == 'machineTagCount' and listSortOptions.machineTagCount %}<a href="?sort=machineTagCount" class="btn btn-xs btn-success">Machine Tag Count</a>
      {% elif listSortOptions.machineTagCount %}<a href="?sort=machineTagCount" class="btn btn-xs btn-default">Machine Tag Count</a>{% endif %}
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        {% if currentProjectId %}<td></td><td></td>{% endif %}
        {% if MediaFileListColumns.name %}<td>Alias</td>{% endif %}
        {% if MediaFileListColumns.duration %}<td>Duration (s)</td>{% endif %}
        {% if MediaFileListColumns.uploadDate %}<td>Upload Date</td>{% endif %}
        {% if MediaFileListColumns.tagCount %}<td>Tags</td>{% endif %}
        {% if MediaFileListColumns.numUserTags %}<td>User Tags</td>{% endif %}
        {% if MediaFileListColumns.numMachineTags %}<td>Machine Tags</td>{% endif %}
        {% if MediaFileListColumns.library %}<td>Library</td>{% endif %}
        {% if MediaFileListColumns.project %}<td>Project(s)</td>{% endif %}
      </tr>
    </thead>

    {% for mediaFile in MediaFileList %}
    <tr data-mediaFile="{{ mediaFile.id }}" data-mediaFile-URL="{{ mediaFile.fileURL }}">
      <td class="selectBox">
        <input type="checkbox" name="select_{{ mediaFile.id }}" value="{{ mediaFile.id }}" />
      </td>
      <td class="audioPreview">
        <a href="#" class="audioPreview"><span class="glyphicon glyphicon-headphones" aria-hidden="true" title="Preview"><audio src="{{mediaFile.fileURL}}"></audio></span></a>
      </td>
      <td class="metadata">
        <a href="{{ArloUrlPrefix}}/tools/viewMetadata/{{mediaFile.id}}" title="Metadata"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
      </td>
      {% if currentProjectId %}
      <td class="visualize">
        <a href="{{ArloUrlPrefix}}/tools/visualizeProjectFileTags/{{currentProjectId}}/{{mediaFile.id}}/{{tagSets.0.tagSet.id}}" title="Visualize Tags"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
      </td>
      <td class="tag">
        <a href="{{ArloUrlPrefix}}/tools/visualizeProjectFile/{{currentProjectId}}/{{mediaFile.id}}" title="Tag"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></a>
      </td>
      {% endif %}
      {% if MediaFileListColumns.name %}
      <td class="name">
        {% if currentProjectId %}
        <a href="{{ArloUrlPrefix}}/tools/visualizeProjectFile/{{currentProjectId}}/{{mediaFile.id}}">
        {% endif %}
        {{ mediaFile.alias }}
        {% if currentProjectId %}
        </a>
        {% endif %}
      </td>{% endif %}
      {% if MediaFileListColumns.duration %}<td class="duration">{{ mediaFile.duration|floatformat:"0" }}</td>{% endif %}
      {% if MediaFileListColumns.uploadDate %}<td class="date">{{ mediaFile.uploadDate }}</td>{% endif %}
      {% if MediaFileListColumns.tagCount %}<td class="tagCount">{{ mediaFile.tagCount }}</td>{% endif %}
      {% if MediaFileListColumns.numUserTags %}<td class="num-user-tags">{{mediaFile.numUserTags}}</td>{% endif %}
      {% if MediaFileListColumns.numMachineTags %}<td class="num-machine-tags">{{mediaFile.numMachineTags}}</td>{% endif %}
      {% if MediaFileListColumns.library %}<td class="library">
          <a href="{{ArloUrlPrefix}}/tools/libraryFiles/{{ mediaFile.library_id }}">{{ mediaFile.library }}</a>
      </td>{% endif %}
      {% if MediaFileListColumns.project %}<td class="projects">
        {% for project in mediaFile.projectList %}
        <div class="btn-group project" data-project="{{ project.id }}" data-mediaFile="{{ mediaFile.id }}">
          <a href="{{ArloUrlPrefix}}/tools/projectFiles/{{ project.id }}" class="btn btn-success btn-xs">{{ project.name }}</a>
          <a href="#" class="removeProject btn btn-danger btn-xs">x</a>
        </div>
        {% endfor %}
      </td>{% endif %}
    </tr>
    {% endfor %}
  </table>

  <div class="panel-footer">
    <div class="row">
      <div class="col col-xs-8">
          <button id="selectAllPageFiles" type="button" class="btn btn-primary btn-sm">
            <span>Select</span> All
            <!-- all {{ totalFiles }} files -->
          </button>
          <span id="withSelected" class="hidden">With selected:
            <div class="btn-group">
              {% if project %}
              <button id="removeSelectedFilesFromProject" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalRemoveSelectedFilesFromProject" data-allIDs="{{ mediaFilesAllIDs|join:"//" }}" data-projectID="{{project.id}}">
                Remove from project
              </button>
              {% else %}
              <button id="addSelectedFilesToProject" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddSelectedFilesToProject" data-allIDs="{{ mediaFilesAllIDs|join:"//" }}">
                Add to project
              </button>
              {% endif %}
              <button id="deleteSelectedFiles" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalDeleteSelectedFiles" data-allIDs="{{ mediaFilesAllIDs|join:"//" }}">
                Delete
              </button>
            </div>
          </span>
          <br />
      </div>
      {% if MediaFilesPaginator.has_other_pages %}
      <div class="col col-xs-4">

        <ul class="pagination pagination-sm pull-right">

          {% if MediaFilesPaginator.has_previous %}
          <li>
            <a href="?page=1&sort={{listSort}}" aria-label="First">&laquo;</a>
          </li>

          <li>
            <a href="?page={{ MediaFilesPaginator.previous_page_number }}&sort={{listSort}}" aria-label="Previous">&lsaquo;</a>
          </li>
          {% endif %}

          {% for i in pageRange %}
          <li {% if MediaFilesPaginator.number == i %} class="active" {% endif %}>
            <a href="?page={{ i }}&sort={{listSort}}">{{ i }}</a>
          </li>
          {% endfor %}

          {% if MediaFilesPaginator.has_next %}
          <li>
            <a href="?page={{ MediaFilesPaginator.next_page_number }}&sort={{listSort}}" aria-label="Next">&rsaquo;</a>
          </li>

          <li>
            <a href="?page={{ lastPage }}&sort={{listSort}}" aria-label="Last">&raquo;</a>
          </li>

          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div><!-- .row -->

    <div class="row">

      <p class="hidden text-center margin-top" id="selectAllFiles"><span class="numFilesOnPage"></span> files selected. <a href="#">Select all <span class="numFilesTotal">{{ totalFiles }}</span> files in {{ allFilesLabel }}</a>.</p>

      <p class="hidden text-center margin-top" id="clearSelectAllFiles">All {{ totalFiles }} files selected. <a href="#">Clear selection</a>.</p>

    </div>
  </div><!-- .panel-footer-->

</div> <!-- .panel -->










<!-- MODALS -->

<!-- Add multiple files to a project -->
<div id="modalAddSelectedFilesToProject" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add <span></span> File(s) to Project:</h4>
      </div>
      <div class="modal-body">
        <ul></ul>
        <form action="#" method="POST">
          <label for="selectProject">Select Project:</label>
          <select class="form-control" id="selectProject">
          {% for project in userProjects %}
          <option value="{{ project.project.id }}">{{ project.project.name }}</option>
          {% endfor %}
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary submit">Add to Project</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Remove multiple files from a project -->
{% if project %}
<div id="modalRemoveSelectedFilesFromProject" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Remove <span></span> File(s) from project '{{project.name}}'?</h4>
      </div>
      <div class="modal-body">
        <ul></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="?page={{ MediaFilesPaginator.number }}" class="btn btn-primary submit">Remove from Project</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}



<!-- Delete multiple files -->
<div id="modalDeleteSelectedFiles" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete <span></span> File(s)?</h4>
      </div>
      <div class="modal-body">
        <ul></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="#" class="btn btn-danger submit">Delete</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
