{% extends "tools/base.html" %}

{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'third-party/sorttable/sorttable.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/UserMetaData.js' %}" type="text/javascript"></script>


<style>
#popupR {
  height: 100%;
  width: 100%;
  background: #000000;
  position: absolute;
  z-index: 4;
  top: 0;
  -moz-opacity:0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  filter:alpha(opacity=75);
}

#windowR {
  width: 500px;
  height: 200px;
  margin: 1 auto;
  border: 1px solid #000000;
  background: #ffffff;
  position:fixed;
  z-index:5;
  top: 25%;
  left: 25%;
}
</style>

<script type="text/javascript">
<!--

	var myARLOModalStatus = null;
	var urlPrefix = "{{ArloUrlPrefix}}";

/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests.
// Namely for post() requests
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?

  $(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
  });


/*                                      */
/*        UserMetaData Functions        */
/*                                      */

	/* Cache the response from the API query                  */
	/* List of dictionaries                                   */
	/* [{id: <entry id>, metaDataFieldName: <name>, value: <value>}]  */
	var myUserMetaDataEntries = null;


	/* Pull the UserMetatData Entries from the API */
	/* then populate the interfae                  */

	function loadUserMetaData(){
		/* Load UserMetaData */
		var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
		myAPIUserMetaData.getMediaFile_mediaFileUserMetaData(
			{{audioID}},
			populateUserMetaData,
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Loading UserMetaData: Status: " + textStatus + " Error: " + errorThrown);
			}
		);
	};

	/* We have the results from the API Request, lets update the page */
	/* callback from loadUserMetaData()                               */

	function populateUserMetaData(json){
		myUserMetaDataEntries = json;

		// empty table except for header row
		var otable=document.getElementById("userMetaDataTable");
		while(otable.rows.length>1)
			otable.deleteRow(otable.rows.length-1);

		// add results to table
		$.each(json, function(index) {
			var fieldName = json[index].metaDataFieldName;
			var value = json[index].value;
			var id = json[index].id;

			var row = '<tr>';
			row += '<td style="padding:4px;">' + fieldName + '</td>';
			row += '<td style="padding:4px;">' + value + '</td>';
			row += '<td style="padding:4px;"><a href="#" onclick="editUserMetaDataEntry(' + id + ');return false;">Edit</a></td>';
			row += '<td style="padding:4px;"><a href="#" onclick="deleteUserMetaDataEntry(' + id + ');return false;">Delete</a></td>';
			row += '</tr>';

			$(row).appendTo("#userMetaDataTable");
		});

		if (myARLOModalStatus != null) {
			myARLOModalStatus.close();
			myARLOModalStatus = null;
		}
	};

	/* Edit an Existing Entry                                     */
	/* Show a form to edit the value of an existing entry, then   */
	/* make an API call to update, and finally reload all entries */

	function editUserMetaDataEntry(metaDataEntryId){
		var fieldName = null;
		var startingValue = null;

		/* Get the Original Values */
		$.each(myUserMetaDataEntries, function(index) {
			if (myUserMetaDataEntries[index].id == metaDataEntryId) {
				fieldName = myUserMetaDataEntries[index].metaDataFieldName;
				startingValue = myUserMetaDataEntries[index].value;
			}
		});

		if (fieldName == null) {ARLOLogError("Did not find Field Name - Bailing Out"); return false;}
		if (startingValue == null) {ARLOLogError("Did not find Starting Value - Bailing Out"); return false;}


		/* Create a ARLOModalForm to get the new Value */
		var form = document.createElement("form");
		form.setAttribute('action', "#");
		form.innerHTML = "<label>Enter the new Value for \"" + fieldName + "\"</label><br />";
		form.innerHTML += "<textarea rows='8' cols='50' name='newValue'>" + startingValue + "</textarea><br />";
		form.innerHTML += "<input type='submit' name='submit' value='Save' />&nbsp;";
		form.innerHTML += "<input type='submit' name='cancel' value='Cancel' />";

		var modalForm = new ARLOModalForm();
		modalForm.popupForm(
	        form,
    	    function(form){
				/* callback from the form  */
				/* Save the new Value Here */

				var newValue = $(form).find('[name=newValue]').val();

				myARLOModalStatus = new ARLOModalStatus();
				myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Saving UserMetaData...</strong>", true);
				var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
				myAPIUserMetaData.updateMediaFileUserMetaData_value(
					metaDataEntryId,
					newValue,
					function(json) {
						ARLOLogNotify("Successfully Saved UserMetaData Changes");
						myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Re-loading UserMetaData...</strong>", true);
						loadUserMetaData();
					},
					function(jqXHR, textStatus, errorThrown) {
	            	    ARLOLogError("Failed Saving UserMetaData: Status: " + textStatus + " Error: " + errorThrown);
						ARLOModalStatusCloseAll();
						myARLOModalStatus = null;
					}
				);
				return true;  /* close the ModalForm */
			},
        null  /* on cancel, do nothing */
	    );

	};


	/* Delete an existing entry                     */
	/* call the API DELETE, then reload all entries */

	function deleteUserMetaDataEntry(metaDataEntryId){
		var fieldName = null;
		var startingValue = null;

		/* Get the Original Values */
		$.each(myUserMetaDataEntries, function(index) {
			if (myUserMetaDataEntries[index].id == metaDataEntryId) {
				fieldName = myUserMetaDataEntries[index].metaDataFieldName;
				startingValue = myUserMetaDataEntries[index].value;
			}
		});

		if (fieldName == null) {ARLOLogError("Did not find Field Name - Bailing Out"); return false;}
		if (startingValue == null) {ARLOLogError("Did not find Starting Value - Bailing Out"); return false;}

		if ( confirm("Really Delete '" + fieldName + "': '" + startingValue + "'") ) {
			myARLOModalStatus = new ARLOModalStatus();
			myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Deleting UserMetaData (" + fieldName + ")...</strong>", true);
			var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
			myAPIUserMetaData.deleteMediaFileUserMetaData(
				metaDataEntryId,
				function(json) {
					ARLOLogNotify("Successfully Deleted UserMetaData Entry.");
					myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Re-loading UserMetaData...</strong>", true);
					loadUserMetaData();
				},
				function(jqXHR, textStatus, errorThrown) {
					ARLOLogError("Failed Deleting UserMetaData Entry: Status: " + textStatus + " Error: " + errorThrown);
					ARLOModalStatusCloseAll();
					myARLOModalStatus = null;
				}
			);
		}
	};


	/* Start the interface to add a new entry */

	function addUserMetaDataEntry(){

		/* get a list of fields defined in this library */

		/* throw up a Status */
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Loading UserMetaDataFields...</strong>", true);
		var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
        myAPIUserMetaData.getLibrary_mediaFileUserMetaDataFields(
            {{mediaFile.library.id}},
            addUserMetaDataEntry_haveFields,
            function(jqXHR, textStatus, errorThrown) {
                ARLOLogError("Failed Loading UserMetaDataFields: Status: " + textStatus + " Error: " + errorThrown);
				if (myARLOModalStatus != null) {
					myARLOModalStatus.close();
					myARLOModalStatus = null;
				}
            }
        );

	};

	/* callback from addUserMetaDataEntry */

	function addUserMetaDataEntry_haveFields(json) {

		if (myARLOModalStatus != null) {
			myARLOModalStatus.close();
			myARLOModalStatus = null;
		}

		/* Create a ARLOModalForm to get the new Value */
		var newInnerHTML = "";
		newInnerHTML = "<label>Available Fields for this new Entry</label>&nbsp;";
		newInnerHTML += "<select name='field'>";
		$.each(json, function(index) {

			/* Check if this field is already in use against the cached data */
			var unused = true;
			$.each(myUserMetaDataEntries, function(cachedIndex) {
				if (myUserMetaDataEntries[cachedIndex].metaDataFieldName == json[index].name) {
					unused = false;
					return false;
				}
			});

			if (unused) {
				newInnerHTML += "<option value=\"" + json[index].id + "\">" + json[index].name + "</option>";
			}
		});
		newInnerHTML += "</select><br />";
		newInnerHTML += "<a href='#' onclick='addUserMetaDataField();return false;'>Add New Field</a><br />";
		newInnerHTML += "<textarea rows='8' cols='50' name='newValue'></textarea><br />";
		newInnerHTML += "<input type='submit' name='submit' value='Save' />&nbsp;";
		newInnerHTML += "<input type='submit' name='cancel' value='Cancel' />";

		var form = document.createElement("form");
		form.setAttribute('action', "#");
		form.innerHTML = newInnerHTML;
		var modalForm = new ARLOModalForm();
		modalForm.popupForm(
	        form,
			function(form){
				var fieldId = $(form).find('[name=field]').val();
				var newValue = $(form).find('[name=newValue]').val();

				/* pop up a status */
				myARLOModalStatus = new ARLOModalStatus();
				myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Saving New UserMetaData Entry...</strong>", true);

				/* API Call */
				var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
				myAPIUserMetaData.addMediaFileUserMetaData(
					{{audioID}},
					fieldId,
					newValue,
					function(json) {
						ARLOLogNotify("Successfully Saved UserMetaData Changes");
						myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Re-loading UserMetaData...</strong>", true);
						loadUserMetaData();
					},
					function(jqXHR, textStatus, errorThrown) {
	            	    ARLOLogError("Failed Saving UserMetaData: Status: " + textStatus + " Error: " + errorThrown);
						ARLOModalStatusCloseAll();
						myARLOModalStatus = null;
					}
				);
				return true;  /* close the ModalForm */
			},
			null
		);
	};



	/* Start the interface to add a new UserMetaData Field */

	function addUserMetaDataField(){

		/* Create a ARLOModalForm to get the new Value */
		var newInnerHTML = "";
		newInnerHTML = "<label>Field Name:</label>&nbsp;";
		newInnerHTML += "<input type='text' name='newName' /><br />";
		newInnerHTML += "<label>Description:</label>&nbsp;";
		newInnerHTML += "<textarea rows='8' cols='50' name='newDescription'></textarea><br />";
		newInnerHTML += "<input type='submit' name='submit' value='Save' />&nbsp;";
		newInnerHTML += "<input type='submit' name='cancel' value='Cancel' />";

		var form = document.createElement("form");
		form.setAttribute('action', "#");
		form.innerHTML = newInnerHTML;
		var modalForm = new ARLOModalForm();
		modalForm.popupForm(
	        form,
			function(form){
				var newName = $(form).find('[name=newName]').val();
				var description = $(form).find('[name=newDescription]').val();

				if (newName.length < 1) {
					alert("Must select a name!");
					return false;
				}

				/* Check if this field is already in use against the cached data */
				var unused = true;
				$.each(myUserMetaDataEntries, function(cachedIndex) {
					if (myUserMetaDataEntries[cachedIndex].metaDataFieldName == newName) {
						unused = false;
						return false;
					}
				});
				if (!unused) {
					alert("Specified Name already exists!");
					return false;
				}

				/* pop up a status */
				myARLOModalStatus = new ARLOModalStatus();
				myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Saving New UserMetaData Entry...</strong>", true);


				/* API Call to add the new Field*/
				var myAPIUserMetaData = new APIUserMetaData("{{ArloAPIv0Url}}");
				myAPIUserMetaData.addMediaFileUserMetaDataField(
					newName,
					description,
					{{mediaFile.library.id}},
					function(json) {
						ARLOLogNotify("Successfully Saved New UserMetaData Field");
						ARLOModalStatusCloseAll();
						myARLOModalStatus = null;

					},
					function(jqXHR, textStatus, errorThrown) {
	            	    ARLOLogError("Failed Saving New UserMetaDataField: Status: " + textStatus + " Error: " + errorThrown);
						ARLOModalStatusCloseAll();
						myARLOModalStatus = null;
					}
				);
				return true;  /* close the ModalForm */
			},
			null
		);
	};



/*                                      */
/*                                      */
/*                                      */


	$(document).ready(function(){
		ARLOInit(); /* Setup the Logging Interface */

		/******
		 * Event Handlers Start Here
		 */

		$(".guess").click(function(event){
			guess = $(this);
			guess.empty();
			guess.append("Guessing...");
			url = '{{ArloUrlPrefix}}/tools/guessTimeFromName/{{audioID}}';
			$.getJSON(url, function(json){
				/* guess.empty(); */
				guess.append(json.success_string);
				elem = document.forms['metadata'].elements['id_startTime'];
				elem.value = json.date_time;
			});
			/* guess.removeClass('guess'); */
			event.preventDefault();
		});

		loadUserMetaData();
	});

-->
</script>
{% endblock javascript %}

{% block content %}
{% load crispy_forms_tags %}


<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">File Metadata</div>
    <div class="panel-body">

      <div class="row">
        <form name="metadata" action="" method="POST">
          {% csrf_token %}
          <div class="col-md-8">
            <h3>Media File Info</h3>
              {{form.active|as_crispy_field}}
              {{form.alias|as_crispy_field}}
              {{form.uploadDate|as_crispy_field}}
              {{form.mediaRelativeFilePath|as_crispy_field}}
              {{form.md5|as_crispy_field}}
              {{form.sensor|as_crispy_field}}
              <input type="submit" class="btn btn-xs btn-success" />
          </div><!-- .col-md-8 -->
          <div class="col-md-4">
            <h3>General Metadata</h3>
            {% if message %}
              <div class="well">
                {{message}}
              </div>
            {% endif %}
            {{form.startTime|as_crispy_field}}
            <p><a class="guess btn btn-xs btn-default" href="{{ArloUrlPrefix}}/tools/guessTimeFromName/{{audioID}}">Guess Time From Name</a></p>
            {{form.contextInfo|as_crispy_field}}
          </div><!-- .col-md-4 -->
        </form>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-12">
          <h3>Custom Metadata <a href="#" onclick="addUserMetaDataEntry();return false;" class="btn btn-xs btn-success">Add New Entry</a><br />
</h3>
  				<table id="userMetaDataTable" class="table table-bordered table-striped margin-top">
  					<tr><th>Name</th><th>Value</th><th><!-- Edit --></th><th><!-- Delete --></th></tr>
  				</table>
        </div><!-- .col-md-4 -->
      </div><!-- .row -->

      <hr />

      <div class="row">

        <div class="col-md-4">
          <h3>Audio File Info (Read-Only)</h3>
          <table class='table table-bordered table-striped'>
            <tr><td align='right'>{{form.fileSize.label_tag}}</td><td>{{form.fileSize}}</td></tr>
            <tr><td align='right'>{{form.dataStartIndex.label_tag}}</td><td>{{form.dataStartIndex}}</td></tr>
            <tr><td align='right'>{{form.dataSize.label_tag}}</td><td>{{form.dataSize}}</td></tr>
            <tr><td align='right'>{{form.wFormatTag.label_tag}}</td><td>{{form.wFormatTag}}</td></tr>
            <tr><td align='right'>{{form.numChannels.label_tag}}</td><td>{{form.numChannels}}</td></tr>
            <tr><td align='right'>{{form.sampleRate.label_tag}}</td><td>{{form.sampleRate}}</td></tr>
            <tr><td align='right'>{{form.nAvgBytesPerSec.label_tag}}</td><td>{{form.nAvgBytesPerSec}}</td></tr>
            <tr><td align='right'>{{form.nBlockAlign.label_tag}}</td><td>{{form.nBlockAlign}}</td></tr>
            <tr><td align='right'>{{form.bitsPerSample.label_tag}}</td><td>{{form.bitsPerSample}}</td></tr>
            <tr><td align='right'>{{form.numBytesToTailPad.label_tag}}</td><td>{{form.numBytesToTailPad}}</td></tr>
            <tr><td align='right'>{{form.numFrames.label_tag}}</td><td>{{form.numFrames}}</td></tr>
            <tr><td align='right'>{{form.durationInSeconds.label_tag}}</td><td>{{form.durationInSeconds}}</td></tr>
          </table>
        </div>

        <div class="col-md-8">
          <h3>Raw Metadata (Read Only)</h3>
          <table class="table table-bordered table-striped">
        		<tr>
              <th>Name</th><th>Value</th><th>Editable?</th>
            </tr>
        		{% for name, value, editable in metaData %}
        		<!-- {{ name }} -->
        		<tr>
              <td>{{ name }}</td>
              <td>{{ value }}</td>
              <td class="{% if editable %}success{% else %}danger{% endif %}">{% if editable %}True{% else %}False{% endif %}</td>
            </tr>
        		{% endfor %}
        	</table>
        </div>

      </div><!-- .row -->

    </div>
  </div>
</div>

{% endblock content %}
