{% extends "tools/base.html" %}

{% block javascript%}

<script type="text/javascript">
<!--

/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests.
// Namely for post() requests
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?

	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});

-->
</script>
{% endblock javascript %}

{% block content %}

<div class="col-md-12">

  <div class="panel panel-primary project-info">
    <div class="panel-heading">Project: {{project.name}}</div>

    <div class="panel-body">
      <div class="row">

        <div class="col-md-6">
          {% if project.notes %}
          <h4>Project Notes</h4>
          <p>{{project.notes|linebreaksbr}}</p>
          {% endif %}
          <p><a href="/tools/projectNotes/{{project.id}}" class="btn btn-xs btn-success">Edit Project Notes</a></p>
        </div>

        <div class="col-md-3">
          <h4>Tagging and Classification</h4>

          <ul class="list-group">
            <li><a href="{{ArloUrlPrefix}}/tools/randomWindowTagging/{{project.id}}">Random Window Tagging</a></li>
            <li><a href="{{ArloUrlPrefix}}/tools/supervisedTagDiscoveryQueueRunner/{{project.id}}">Supervised Tag Discovery</a></li>
            <li><a href="{{ArloUrlPrefix}}/tools/unsupervisedTagDiscoveryQueueRunner/{{project.id}}">Unsupervised Tag Discovery</a></li>
            <li><a href="{{ArloUrlPrefix}}/tools/launchJob/{{project.id}}/selectJobType">Launch Plugin Jobs</a></li>
            <li><a href="{{ArloUrlPrefix}}/tools/manageJobs/{{project.id}}">Manage Jobs</a></li>
            <!--<li><a href="{{ArloUrlPrefix}}/tools/expertAgreementClassificationQueueRunner/{{project.id}}">Expert Agreement Classification</a></li>-->

            <!--	<a href="{{ArloUrlPrefix}}/tools/supervisedTagDiscovery/{{project.id}}">Supervised Tag Discovery</a></li> -->
            <!-- 	<a href="{{ArloUrlPrefix}}/tools/unsupervisedTagDiscovery/{{project.id}}">Unsupervised Tag Discovery</a></li> -->
            {% comment %}
            	<!-- <a href="{{ArloUrlPrefix}}/tools/adaptAnalysis/{{project.id}}"> --> <del>ADAPT Analysis</del> <!-- </a><br/> --><br />
            {% endcomment %}
          	<!--<li><a href="{{ArloUrlPrefix}}/tools/visualizeMultiProjectFile/{{project.id}}">Multi-View</a></li>-->
          </ul>
        </div>

        <div class="col-md-3">
          <h4>Options</h4>
          <ul class="list-group">
            <li><a href="{{ArloUrlPrefix}}/tools/uploadAudioFile?project={{project.id}}">Upload File</a></li>
            <li><a href="{{ArloUrlPrefix}}/tools/projectPermissions/{{project.id}}">Project Permissions</a></li>
            <li><a href="{{ArloUrlPrefix}}/tools/createTranscriptForTagSet/{{project.id}}">Create Transcript</a></li>
            <li><a href="{{ArloUrlPrefix}}/tools/createFileTagReport/{{project.id}}">Create File-Tag Report</a></li>
          </ul>
        </div>

        <!--<div class="col-md-3">
          <ul>
            <li>Total Tags: {{numTags}}</li>
            <li>User Tags: {{numUserTags}}</li>
            <li>Machine Tags: {{numMachineTags}}</li>
          </ul>
        </div>-->

      </div><!-- .row -->
    </div><!-- .panel-body -->
  </div><!--.panel-->
</div><!--.col-->

<div class="col-md-9">

  {% include 'tools/mediaFilesList.html' %}

</div><!-- .col-md-6 -->

<div class="col-md-3">

  <div class="panel panel-primary project-tag-sets">
    <div class="panel-heading">Tag Sets</div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/startNewTagSet/{{project.id}}">Start New Tag Set</a></li>
      <!-- Might not be needed - Daniel
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/projectTagSets/{{project.id}}">View All TagSets</a></li>
      -->
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/catalog/{{project.id}}">Tag Catalog</a></li>
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/importTagsFromCSV/{{project.id}}">Import Tags From CSV</a></li>
    </ul>

    {% if tagSets %}
    <div class="panel-body">
      <h5>Tag Sets</h5>
    </div>

    <ul class="list-group">
      {% for tagSet in tagSets  %}
      <li class="list-group-item">
        {{ tagSet.tagSet.name }} 
        <a href="{{ArloUrlPrefix}}/tools/viewTagSet/{{tagSet.tagSet.id}}" title="Edit tagset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        <a href="{{ArloUrlPrefix}}/tools/visualizeProjectTags/{{project.id}}/{{tagSet.tagSet.id}}" title="Visualize Tag Set"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a> <span class="badge">{{tagSet.numTags}}</span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div><!-- .panel -->

</div><!-- .col-md-3-->


{% endblock content %}
