{% extends "tools/base.html" %}

{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Project.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/ArloPermission.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/User.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/ArloUserGroup.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/userPermissions.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/sorttable/sorttable.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--


/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests.
// Namely for post() requests
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?

	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});


	var myARLOModalStatus = null;

	var projectTagSets = {
		{% for tagset in project_tagsets %}
		'{{tagset.id}}': '{{tagset.name}}',
		{% endfor %}
	};

	var myAPIProject = null;
	var myUserPermissionsEditor = null;
	var myAPIArloPermission = null;
	var myAPIUser = null;
	var myAPIArloUserGroup = null;


	/**
	 * Edit the default permissions of the Project.
	 */

	function showEditDefaultPermissionsForm(project_id, has_read, has_write, has_launch_job, has_admin){

		/* Create an ARLOModalForm to edit the permissions */
		var form = document.createElement("form");
		form.setAttribute('action', "#");
		var formHtml = "" +
			"<input type='hidden' name='project_id' value='" + project_id + "'/>" +
			"<label>Modifying Default Permissions for Project (" + project_id + ")</label>" +
			"<table>" +
			"  <tr>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>Read?</p></td>" +
			"    <td><input type='checkbox' name='read' value='read'";
		if (has_read) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>Write?</p></td>" +
			"    <td><input type='checkbox' name='write' value='write'";
		if (has_write) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>LaunchJob?</p></td>" +
			"    <td><input type='checkbox' name='launch_job' value='launch_job'";
		if (has_launch_job) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>Admin?</p></td>" +
			"    <td><input type='checkbox' name='admin' value='admin'";
		if (has_admin) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"</table>" +
			"<input type='submit' name='submit' value='Save' />&nbsp;" +
			"<input type='submit' name='cancel' value='Cancel' />";

		form.innerHTML = formHtml;

		var modalForm = new ARLOModalForm();
		modalForm.popupForm(
			form,
			function(form, context){
				/* callback from the form  */
				/* Save the Values Here */

				var project_id = $(form).find('[name=project_id]').val();
				var has_read = $(form).find('[name=read]').is(':checked');
				var has_write = $(form).find('[name=write]').is(':checked');
				var has_launch_job = $(form).find('[name=launch_job]').is(':checked');
				var has_admin = $(form).find('[name=admin]').is(':checked');

				if (myARLOModalStatus == null) {
					myARLOModalStatus = new ARLOModalStatus();
				}

				editDefaultPermissions(project_id, has_read, has_write, has_launch_job, has_admin);

				return true;  /* close the ModalForm */
			},
			null,  /* on cancel, do nothing */
			this /* callback context */
		);
	}




	function editDefaultPermissions(project_id, has_read, has_write, has_launch_job, has_admin){
		if (this.myARLOModalStatus == null) {
			this.myARLOModalStatus = new ARLOModalStatus();
		}
		this.myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Saving...</strong>", true);

		myAPIProject.updateDefaultPermissions(
			project_id,
			has_read,
			has_write,
			has_launch_job,
			has_admin,
			function(json) {
				ARLOLogNotify("Successfully Edited Permissions");
				location.reload();
			},
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Editing Permissions: Status: " + textStatus + " Error: " + errorThrown);
				this.myARLOModalStatus.close();
				this.myARLOModalStatus = null;
			},
			this /* callback context */
		);
	}


	$(document).ready(function(){
		ARLOInit();

		myAPIProject = new APIProject("{{ArloAPIv0Url}}");
		myAPIArloPermission = new APIArloPermission("{{ArloAPIv0Url}}");
		myAPIUser = new APIUser("{{ArloAPIv0Url}}");
		myAPIArloUserGroup = new APIArloUserGroup("{{ArloAPIv0Url}}");
		myUserPermissionsEditor = new UserPermissionsEditor("{% static 'tools/img/loading.gif' %}", myAPIArloPermission, myAPIUser, myAPIArloUserGroup)

	});

-->
</script>

{% endblock javascript %}

{% block content %}

<div class="col-md-12">
  <ol class="breadcrumb">
    <li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
    <li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project}}</a></li>
    <li>Edit Project Permissions</li>
  </ol>
</div>

<div class="col-md-9">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">
      Project-Wide Permissions: {{ project.name }}
      <a href="#" class="btn btn-xs btn-success pull-right" onclick="myUserPermissionsEditor.showAddPermissionForm('project', {'{{project.id}}':'{{project.name}}'});return false;">Add</a></strong>
    </div>
    <div class="panel-body">

      <!--                                    -->
      <!--        Project Permissions         -->
      <!--                                    -->

      <h4>Users</h4>
      <table class="table table-striped table-bordered sortable user-project-permissions">
      	<tr><th>Bearer</th><th>Read</th><th>Write</th><th>LaunchJob</th><th>Admin</th><th></th></tr>
      	{% for perm in projectUserPermissions %}
      	<tr>
      		<td>{{perm.bearer_object.username}}</td>
      		<td {% if perm.read %} class="success" {% else %} class="danger" {% endif %}>{{perm.read}}</td>
      		<td {% if perm.write %} class="success" {% else %} class="danger" {% endif %}>{{perm.write}}</td>
      		<td {% if perm.launch_job %} class="success" {% else %} class="danger" {% endif %}>{{perm.launch_job}}</td>
      		<td {% if perm.admin %} class="success" {% else %} class="danger" {% endif %}>{{perm.admin}}</td>
      		<td>
            <!--<a class="btn btn-xs btn-success edit" href="#" data-toggle="modal" data-target="#modalEditUserProjectPermissions" data-username="{{perm.bearer_object.username}}" data-user-id="{{perm.bearer_id}}" data-read="{{perm.read}}" data-write="{{perm.write}}" data-launch="{{perm.launch_job}}" data-admin="{{perm.admin}}">Edit</a>-->
            <a class="btn btn-xs btn-success edit" href="#" onclick="myUserPermissionsEditor.showEditPermissionForm({{perm.id}}, '{{perm.bearer_object}}', '{{perm.target_object}}', {{perm.read|yesno:"true,false"}}, {{perm.write|yesno:"true,false"}}, {{perm.launch_job|yesno:"true,false"}}, {{perm.admin|yesno:"true,false"}});return false;">Edit</a>
      		  <a class="btn btn-xs btn-danger remove" href="#" onclick="myUserPermissionsEditor.removePermission({{perm.id}}, '{{perm.bearer_object}}');return false;">Remove</a>
          </td>
      	</tr>
      	{% endfor %}
      </table>

      <h4>Groups</h4>
      <table class='table table-striped table-bordered sortable'>
      	<tr><th>Bearer</th><th>Read</th><th>Write</th><th>LaunchJob</th><th>Admin</th><th></th></tr>
      	{% for perm in projectGroupPermissions %}
      	<tr>
      		<td>{{perm.bearer_object.name}} ({{perm.bearer_id}})</td>
      		<td {% if perm.read %} class="success" {% else %} class="danger" {% endif %}>{{perm.read}}</td>
      		<td {% if perm.write %} class="success" {% else %} class="danger" {% endif %}>{{perm.write}}</td>
      		<td {% if perm.launch_job %} class="success" {% else %} class="danger" {% endif %}>{{perm.launch_job}}</td>
      		<td {% if perm.admin %} class="success" {% else %} class="danger" {% endif %}>{{perm.admin}}</td>
      		<td>
            <a class="btn btn-xs btn-success" href="#" onclick="myUserPermissionsEditor.showEditPermissionForm({{perm.id}}, '{{perm.bearer_object}}', '{{perm.target_object}}', {{perm.read|yesno:"true,false"}}, {{perm.write|yesno:"true,false"}}, {{perm.launch_job|yesno:"true,false"}}, {{perm.admin|yesno:"true,false"}});return false;">Edit</a>
      		  <a class="btn btn-xs btn-danger" href="#" onclick="myUserPermissionsEditor.removePermission({{perm.id}}, '{{perm.bearer_object}}');return false;">Remove</a></td>
      	</tr>
      	{% endfor %}
      </table>

    </div>
  </div>


  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">
      TagSet Specific Permissions
      <a class="btn btn-xs btn-success pull-right" href="#" onclick="myUserPermissionsEditor.showAddPermissionForm('tagset', projectTagSets);return false;">Add</a>
    </div>
    <div class="panel-body">

      <!--                                   -->
      <!--        TagSet Permissions         -->
      <!--                                   -->

      <div class="well">These permissions override the Project permissions above.</div>

      <h4>Users</h4>
      <table class='table table-striped table-bordered sortable'>
      	<tr><th>TagSet</th><th>Bearer</th><th>Read</th><th>Write</th><th>LaunchJob</th><th>Admin</th><th></th></tr>
      	{% for perm in projectTagSetUserPermissions %}
      	<tr>
      		<td>{{perm.target_object.name}}</td>
      		<td>{{perm.bearer_object.username}} ({{perm.bearer_id}})</td>
      		<td {% if perm.read %} class="success" {% else %} class="danger" {% endif %}>{{perm.read}}</td>
      		<td {% if perm.write %} class="success" {% else %} class="danger" {% endif %}>{{perm.write}}</td>
      		<td {% if perm.launch_job %} class="success" {% else %} class="danger" {% endif %}>{{perm.launch_job}}</td>
      		<td {% if perm.admin %} class="success" {% else %} class="danger" {% endif %}>{{perm.admin}}</td>
      		<td>
            <a class="btn btn-xs btn-success" href="#" onclick="myUserPermissionsEditor.showEditPermissionForm({{perm.id}}, '{{perm.bearer_object}}', '{{perm.target_object}}', {{perm.read|yesno:"true,false"}}, {{perm.write|yesno:"true,false"}}, {{perm.launch_job|yesno:"true,false"}}, {{perm.admin|yesno:"true,false"}});return false;">Edit</a>
      		  <a class="btn btn-xs btn-danger" href="#" onclick="myUserPermissionsEditor.removePermission({{perm.id}}, '{{perm.bearer_object}}');return false;">Remove</a>
          </td>
      	</tr>
      	{% endfor %}
      </table>

      <h4>Groups</h4>
      <table class='table table-striped table-bordered sortable'>
      	<tr><th>TagSet</th><th>Bearer</th><th>Read</th><th>Write</th><th>LaunchJob</th><th>Admin</th><th></th></tr>
      	{% for perm in projectTagSetGroupPermissions %}
      	<tr>
      		<td>{{perm.target_object.name}}</td>
      		<td>{{perm.bearer_object.name}} ({{perm.bearer_id}})</td>
      		<td {% if perm.read %} class="success" {% else %} class="danger" {% endif %}>{{perm.read}}</td>
      		<td {% if perm.write %} class="success" {% else %} class="danger" {% endif %}>{{perm.write}}</td>
      		<td {% if perm.launch_job %} class="success" {% else %} class="danger" {% endif %}>{{perm.launch_job}}</td>
      		<td {% if perm.admin %} class="success" {% else %} class="danger" {% endif %}>{{perm.admin}}</td>
      		<td>
            <a class="btn btn-xs btn-success" href="#" onclick="myUserPermissionsEditor.showEditPermissionForm({{perm.id}}, '{{perm.bearer_object}}', '{{perm.target_object}}', {{perm.read|yesno:"true,false"}}, {{perm.write|yesno:"true,false"}}, {{perm.launch_job|yesno:"true,false"}}, {{perm.admin|yesno:"true,false"}});return false;">Edit</a>
      		  <a class="btn btn-xs btn-danger" href="#" onclick="myUserPermissionsEditor.removePermission({{perm.id}}, '{{perm.bearer_object}}');return false;">Remove</a>
          </td>
      	</tr>
      	{% endfor %}
      </table>

    </div>
  </div>
</div><!-- col -->

<div class="col-md-3">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">
      Default Permissions
      <a class="btn btn-xs btn-success pull-right" href="#" onclick='showEditDefaultPermissionsForm(
              {{project.id}},
              {{project.default_permission_read|yesno:"true,false"}},
              {{project.default_permission_write|yesno:"true,false"}},
              {{project.default_permission_launch_job|yesno:"true,false"}},
              {{project.default_permission_admin|yesno:"true,false"}}
              );return false;'>Edit</a>
    </div>
    <div class="panel-body">

      <table class='table table-striped table-bordered sortable'>
        <thead>
          <tr><td>Read</td><td {% if project.default_permission_read %} class="success" {% else %} class="danger" {% endif %}>{{project.default_permission_read}}</td></tr>
        </thead>
        <tr><td>Write</td><td {% if project.default_permission_write %} class="success" {% else %} class="danger" {% endif %}>{{project.default_permission_write}}</td></tr>
        <tr><td>Launch Job</td><td {% if project.default_permission_launch_job %} class="success" {% else %} class="danger" {% endif %}>{{project.default_permission_launch_job}}</td></tr>
        <tr><td>Admin</td><td {% if project.default_permission_admin %} class="success" {% else %} class="danger" {% endif %}>{{project.default_permission_admin}}</td></tr>
      </table>



    </div>
  </div>
</div>


<!------------>
<!-- MODALS -->
<!------------>

<!-- Edit user permissions -->
<div id="modalEditUserProjectPermissions" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="#" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit permissions for <span class="user"></span> on project <span class="project">{{project.name}}</span>:</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" name="perm_id" />
            <table class="table table-bordered table-striped">
              <tr>
                <th><label for="read">Read</label></th>
                <th><label for="write">Write</label></th>
                <th><label for="launch_job">Launch Jobs</label></th>
                <th><label for="admin">Admin</label></th>
              </tr>
              <tr>
                <td class="text-center"><input type="checkbox" class="form-control" id="read" value="read"></td>
                <td class="text-center"><input type="checkbox" class="form-control" id="write" value="write"></td>
                <td class="text-center"><input type="checkbox" class="form-control" id="launch_job" value="launch_job"></td>
                <td class="text-center"><input type="checkbox" class="form-control" id="admin" value="admin"></td>
              </tr>
            </table>

        </div>
        <div class="modal-footer">
          <button type="submit" name="cancel" class="btn btn-default"  data-dismiss="modal">Cancel</button>
          <button type="submit" name="submit" class="btn btn-primary submit">Submit</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




{% endblock content %}
