{% extends "tools/base.html" %}

{% block content %}

<div class="col-md-3">

  <div class="panel panel-primary projects">
    <div class="panel-heading">Project Actions</div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/startNewProject">Start New Project</a></li>
      <!--<li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/addAudioToProject">Add Audio File(s) To Project</a></li>-->
      <!--<li class="list-group-item"><a href="#" onclick='$("#addUserToProjectFormDiv").toggle();return false;'>Add User To Project</a></li>-->
    </ul>
  </div>

</div><!-- .col-md-3 -->


<div class="col-md-9">

  <div class="panel panel-success projects">
    <div class="panel-heading">My Projects</div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Owner</th>
          <th>User Tags</th>
          <th>Machine Tags</th>
          <!--<th>Type</th>-->
          <!--<th class="delete">Delete</th>-->
          <th>Permissions</th>
        </tr>
      </thead>
      {% for userProjectInfo in userProjectInfos %}

    		<tr data-project="{{ userProjectInfo.project.id }}">
          <td class="selectBox">
            <input type="checkbox" name="select_{{ userProjectInfo.project.id }}" value="{{ userProjectInfo.project.id }}" />
          </td>
    			<td class="name"><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{ userProjectInfo.project.id }}">{{ userProjectInfo.project.name }}</a></td>
    			<td class="owner">{{ userProjectInfo.project.user.username }}</td>
          <td class="num-user-tags">{{userProjectInfo.numUserTags}}</td>
          <td class="num-machine-tags">{{userProjectInfo.numMachineTags}}</td>
    			<!--<td>{{ userProjectInfo.project.type.name }}</td>-->
    			<!--<td><a class="delete btn btn-xs btn-danger" href="{{ArloUrlPrefix}}/tools/deleteProject/{{ userProjectInfo.project.id }}">Delete</a></td>-->
    			<td class="permissions">
            <a href="{{ArloUrlPrefix}}/tools/projectPermissions/{{ userProjectInfo.project.id }}" class="btn btn-xs btn-success">Edit Permissions</a>

            <!--
            <table class="table">


    				    {% for sharedUserInfo in userProjectInfo.sharedUserInfos  %}
    					  <tr>
                  <td>
                    {{ sharedUserInfo.user.username }}
                  </td>

                  <td>
                    <div class="btn-group">
                      {% if sharedUserInfo.canRead %}
                      <button class="btn btn-xs btn-success">R</button>
                      {% else %}
                      <button class="btn btn-xs btn-danger">R</button>
                      {% endif %}

                      {% if sharedUserInfo.canWrite %}
                      <button class="btn btn-xs btn-success">W</button>
                      {% else %}
                      <button class="btn btn-xs btn-danger">W</button>
                      {% endif %}

                      {% if sharedUserInfo.canLaunch %}
                      <button class="btn btn-xs btn-success">L</button>
                      {% else %}
                      <button class="btn btn-xs btn-danger">L</button>
                      {% endif %}

                      {% if sharedUserInfo.canAdmin %}
                      <button class="btn btn-xs btn-success">A</button>
                      {% else %}
                      <button class="btn btn-xs btn-danger">A</button>
                      {% endif %}

                    </div>
                  </td>
                </tr>

              {% endfor %}
              </table>
            -->

          </td>
    		</tr>
    	{% endfor %}

    </table>

    <div class="panel-footer">
      <div class="row">
        <div class="col col-xs-8">
            <!--<button id="selectAllPageFiles" type="button" class="btn btn-primary btn-sm">
              <span>Select</span> All
            </button> -->With selected:
            <div class="btn-group">
              <button id="deleteSelectedProjects" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalDeleteSelectedProjects">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div><!-- .panel-footer -->

  </div> <!-- .panel -->


  {% if sharedProjectInfos %}
  <div class="panel panel-primary shared-projects">
    <div class="panel-heading">Projects Shared With Me</div>
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Owner</td>
          <td>Type</td>
          <td>Other Users (canRead? / canWrite?)</td>
        </tr>
      </thead>

      {% for projectInfo in sharedProjectInfos %}
    		<tr>
    			<td><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{ projectInfo.project.id }}">{{ projectInfo.project.name }}</a></td>
    			<td>{{ projectInfo.project.user.username }}</td>
    			<td>{{ projectInfo.project.type.name }}</td>
    			<td>({{ projectInfo.canRead }} /  {{ projectInfo.canWrite }} )</td>
    		</tr>
    	{% endfor %}

    </table>
  </div> <!-- .panel -->
  {% endif %}

</div>



<!-- Delete multiple projects -->
<div id="modalDeleteSelectedProjects" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete <span></span> Project(s)?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="#" class="btn btn-danger submit">Delete</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock content %}


<!--
<div id='addUserToProjectFormDiv'>
	<form action="addUserToProject" method="POST">
		{% csrf_token %}
		{{ addUserToProjectForm.as_p }}
		<input type="submit" value="Submit" />
	</form>
</div>
-->
