{% extends "tools/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">

  <ol class="breadcrumb">
    <li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
    <li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project}}</a></li>
    <li>Edit Tag Set: {{tagSet.name}}</li>
  </ol>

  <div class="panel panel-primary project-info">

    <div class="panel-body">

      <div class="well">
      	Created by {{tagSet.user}} on {{tagSet.creationDate}}
      </div>

      {% if saveMessage %}
      <p class="text-success">{{saveMessage}}</p>
      {% endif %}

      <form action="" id="spectraForm" method="POST">
      	{% csrf_token %}
      	{{ form|crispy }}
      	<input type='submit' class="btn" />
      </form>

    </div>
  </div>
</div>

{% endblock content %}
