{% extends "tools/base.html" %}

{% block javascript %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/TagSet.js' %}" type="text/javascript"></script>


<script type="text/javascript">
<!--

    var myARLOModalStatus = null;
    var urlPrefix = "{{ArloUrlPrefix}}";


	/* *************************** */
	/*                             */
	/*  Helper Functions for AJAX  */
	/*                             */
	/* *************************** */
	
	// Override to add CSRF token into all AJAX requests. 
	// Namely for post() requests 
	// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
	// TODO: put into arlo.js or other?  
	
	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
	
		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});

	function hideTagSet(tagSetId) {
		var myAPITagSet = new APITagSet("{{ArloAPIv0Url}}");
		myAPITagSet.hideTagSet(
			tagSetId, 
			true,
			function() {
				ARLOLogInfo("TagSet Hidden");
				location.reload(true);
			},
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Hiding TagSet: " + textStatus + " Error: " + errorThrown);
			}
		);

	};

	function unhideTagSet(tagSetId) {
		var myAPITagSet = new APITagSet("{{ArloAPIv0Url}}");
		myAPITagSet.hideTagSet(
			tagSetId, 
			false,
			function() {
				ARLOLogInfo("TagSet Unhidden");
				location.reload(true);
			},
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Hiding TagSet: " + textStatus + " Error: " + errorThrown);
			}
		);

	};

	$(document).ready(function(){
		ARLOInit(); /* Setup the Logging Interface */
	});


-->
</script>
{% endblock javascript %}

{% block content %}

<H1>Tag Sets</H1><HR>

<br />

<div class="panel panel-primary">
	<div class="panel-heading">Existing Tag Sets</div>
	{% if tagSets %}
	<table id='tagSetsTable' class="table">
	<tr><th>Id</th><th>Name</th><th>Project</th><th>Hide/Unhide</th><th>edit</th><th>delete</th></tr>
		{% for tagSet in tagSets %}
		<tr>
			<td><a href="{{ArloUrlPrefix}}/tools/viewTagSet/{{ tagSet.id }}">{{ tagSet.id }}</a></td>
			<td>
				{% if tagSet.hidden %}<strike>{% endif %} {{ tagSet.name }} {% if tagSet.hidden %}</strike>{% endif %}
			</td>
			<td><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{ tagSet.project.id }}">{{ tagSet.project.name }}</a></td>
			<td>
				{% if tagSet.hidden %}
					<a href="#" onclick="unhideTagSet({{tagSet.id}}); return false;">Unhide</a>
				{% else %}
					<a href="#" onclick="hideTagSet({{tagSet.id}}); return false;">Hide</a>
				{% endif %}
			</td>
			<td> </td>
			<td>
				<a class="delete" href="{{ArloUrlPrefix}}/tools/deleteTagSet/{{ tagSet.id }}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>No Tag Sets are available.</p>
	{% endif %}
</div>



{% endblock content %}
