{% extends "tools/base.html" %}

{% block javascript %}

<script type="text/javascript">
<!--

function enableDisableCustomFields(){

	if ($("#id_useCustomBitSize").is(':checked')) {
		$("#id_bitSize").removeAttr("disabled");
	} else {
		$("#id_bitSize").prop("disabled", true);
	}

	if ($("#id_useCustomSampleRate").is(':checked')) {
		$("#id_sampleRate").removeAttr("disabled");
	} else {
		$("#id_sampleRate").prop("disabled", true);
	}
}

$(document).ready(function(){

	$("#id_file").change(function(event){

		var s = $("#id_file")[0].value;
		s = s.split(/(\\|\/)/g).pop();
		$('#id_alias').val(s);
	});

	/* setup fields */
	enableDisableCustomFields();

	/*                    *
	 *   Event Handlers   *
	 *                    */

	$("#id_useCustomBitSize").change(function(event){
		enableDisableCustomFields();
	});

	$("#id_useCustomSampleRate").change(function(event){
		enableDisableCustomFields();
	});
});

-->
</script>
{% endblock javascript %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Upload Media File</div>
    <div class="panel-body">
      <form action="" method="POST" enctype="multipart/form-data">
      	{% csrf_token %}
      	{{ form|crispy }}
      	<input type="submit" value="Submit" />
      </form>
    </div>
  </div>

</div><!-- .col-md-12 -->

{% endblock content %}
