{% extends "tools/base.html" %}

{% block javascript %}

<script type="text/javascript">
<!--
/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests.
// Namely for post() requests
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?
$(document).ajaxSend(function(event, xhr, settings) {
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	function sameOrigin(url) {
		// url could be relative or scheme relative or absolute
		var host = document.location.host; // host + port
		var protocol = document.location.protocol;
		var sr_origin = '//' + host;
		var origin = protocol + sr_origin;
		// Allow absolute or scheme relative URLs to same origin
		return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
			(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
			// or any other URL that isn't scheme relative or absolute i.e relative.
			!(/^(\/\/|http:|https:).*/.test(url));
	}
	function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
		xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	}
});
-->
</script>
{% endblock javascript %}

{% block content %}





<div class="col-md-12">
	<div class="panel panel-primary libraries">
		<div class="panel-heading">Audio Files Actions</div>
		<div class="panel-body">
			<div class="row">
				<ul class="list-group">
					<li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/uploadAudioFile">Upload Media File</a></li>
					<li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/uploadAudioFile2">Upload and Convert</a> (supports MP3)</li>
				</ul>
			</div>
		</div>
	</div>
</div>


	<div class="col-md-12">

	{% include 'tools/mediaFilesList.html' with searchPrompt=searchPrompt %}

	</div>


{% comment %}
OLD LINKS

<H1>User Home Page</H1>

<H2><a href="{{ArloUrlPrefix}}/tools/audioFiles">Media Files</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/projects">Projects</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/userLibraries">Libraries</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/tagSets">Tag Sets</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/userSettings">Settings</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/userGroups">User Groups</a></H2>
<H2><a href="{{ArloUrlPrefix}}/changePassword">Change Password</a></H2>
{% endcomment %}

{% endblock content %}
