{% extends "tools/base.html" %}

{% block content %}

<div class="col-md-3">

  <div class="panel panel-primary libraries">
    <div class="panel-heading">Library Actions</div>
    <ul class="list-group">
      {% if user.is_staff %}
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/launchLibraryValidation">Launch Library Validation Task</a></li>
      {% endif %}
      <li class="list-group-item"><a href="{{ArloUrlPrefix}}/tools/startNewLibrary">Start New Library</a></li>
    </ul>
  </div><!-- .panel -->

</div> <!-- .col-md-3 -->

<div class="col-md-9">

  <div class="panel panel-success libraries">
    <div class="panel-heading">Libraries</div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-md-2 name">Name</th>
          <th class="col-md-2">Owner</th>
          <th class="col-md-4">Notes</th>
        </tr>
      </thead>

      {% for lib in libraries %}
      <tr>
        <td class="name"><a href="{{ArloUrlPrefix}}/tools/libraryFiles/{{ lib.id }}">{{ lib.name }}</a></td>
        <td>{{ lib.user.username }}</td>
  			<td class="notes">{{ lib.notes }}</td>
      </tr>
      {% endfor %}
    </table>
  </div> <!-- .panel -->

</div> <!-- .col-md-6 -->




{% endblock content %}
