{% extends "tools/base.html" %}
{% block javascript%}
{% load staticfiles %}
<script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
-->
</script>

{% endblock javascript %}

<!--                                  -->
<!--            Content               -->
<!--                                  -->

{% block content %}

<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Job Details</div>
    <div class="panel-body">

    {% if user.is_staff %}
    	<table class='adminfunctions table table-bordered table-striped'><tr><td>
    		<h3>Admin Functions</h3>
    		<form method=POST action="{{ArloUrlPrefix}}/tools/setJobStatus/{{job.id}}">
    			{% csrf_token %}
    			{{ setJobStatusForm.jobStatus }}
    			<button id="settaskstatus" value="Set Task Status" >Set Task Status</button>
    		</form>
    		<form method=POST action="{{ArloUrlPrefix}}/tools/setJobPriority/{{job.id}}">
    			{% csrf_token %}
    			{{ setJobPriorityForm.jobPriority }}
    			<button id="settaskpriority" value="Set Task and Children Priority" >Set Task and Children Priority</button>
    		</form>
    	</td></tr></table>
    {% endif %}

    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center">Info</h3>
          <table class="table table-bordered table-striped">
            <tr>
              <td><strong>ID:</strong></td>
              <td>{{job.id}}</td>
            </tr>
            <tr>
              <td><strong>Name:</strong></td>
              <td> {{job.name}}</td>
            </tr>
            <tr>
              <td><strong>Type:</strong></td>
              <td>{{job.type.name}}</td>
            </tr>
            <tr>
              <td><strong>Project:</strong></td>
              <td>{% if job.project %} <a href="{{ArloUrlPrefix}}/tools/projectFiles/{{job.project.id}}">{{job.project.name}}</a>{% endif %}</td>
            </tr>
            <tr>
              <td><strong>Creation Date:</strong></td>
              <td>{{job.creationDate}}</td>
            </tr>
            <tr>
              <td><strong>User:</strong></td>
              <td>{{job.user.username}}</td>
            </tr>
            <tr>
              <td><strong>Priority:</strong></td>
              <td>{{job.priority}}</td>
            </tr>
          </table>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">QueueRunner Details</h3>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Status:</strong></td>
            <td><span class="jobstatus_{{job.status}}">{{job.status}}</span></td>
          </tr>
          <tr>
            <td><strong>Requested Status:</strong></td>
            <td>{% if job.requestedStatus %}{{job.requestedStatus}}{%endif%}</td>
          </tr>
          <tr>
            <td><strong>Started Date:</strong></td>
            <td>{% if job.startedDate %}{{job.startedDate}}{%endif%}</td>
          </tr>
          <tr>
            <td><strong>Last Status Date:</strong></td>
            <td>{% if job.lastStatusDate %}{{job.lastStatusDate}}{%endif%}</td>
          </tr>
          <tr>
            <td><strong>Parent Job:</strong></td>
            <td>{% if job.parentJob %}<a href="{{ArloUrlPrefix}}/tools/viewJob/{{job.parentJob.id}}">{{job.parentJob.name}}</a>{%endif%}</td>
          </tr>
        </table>
        <p class="text-muted text-center">Note: not applicable to all jobs</p>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">Status</h3>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Running?</strong></td>
            {% if job.isRunning %}
              <td class="success">True</td>
            {% else %}
              <td class="danger">False</td>
            {% endif %}
          </tr>
          <tr>
            <td><strong>Complete?</strong></td>
            {% if job.isComplete %}
              <td class="success">True</td>
            {% else %}
              <td class="danger">False</td>
            {% endif %}
          </tr>
          <tr>
            <td><strong>Fraction Completed:</strong></td>
            <td>{{job.fractionCompleted}}</td>
          </tr>
        </table>
      </div>
    </div><!-- row -->

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <form method=POST action="{{ArloUrlPrefix}}/tools/stopQueuedTask/{{job.id}}">
          {% csrf_token %}
          <button class="btn btn-danger pull-right margin-bottom" name='Submit'{% if job.status.name != "Queued" %}disabled{% endif %}>Stop Queued Task</button>
        </form>
      </div>
      <div class="col-md-3">
        <form method=POST action="{{ArloUrlPrefix}}/tools/queueStoppedTask/{{job.id}}">
          {% csrf_token %}
          <button class="btn btn-success margin-bottom" name='Submit'{% if job.status.name != "Stopped" %}disabled{% endif %}>Queue Stopped Task</button>
        </form>
      </div>
    </div>

<!--                                  -->
<!--            Actions               -->
<!--                                  -->

{% if job.type.name == "RandomWindowTagging" %}
	<a href="{{ArloUrlPrefix}}/tools/tagRandomWindow/{{job.id}}/0">Goto First Random Window</a>
{% endif %}
{% if job.type.name == "SupervisedTagDiscovery" or job.type.name == "SupervisedTagDiscoveryParent" %}
<!-- TODO	<a href="{{ArloUrlPrefix}}/tools/supervisedTagDiscovery/{{job.project.id}}/fromJob/{{job.id}}">New Job From These Parameters (Does not save Classes)</a> -->
{% endif %}

<!--                                  -->
<!--            Job Logs              -->
<!--                                  -->

  <div class="row">
    <div class="col-md-12">

      {% if jobLogs %}
      	<h2 class="text-center margin-top">Job Logs</h2>
      	<table class="table table-bordered table-striped">
      		<tr>
            <th>Date</th>
            <th>Message</th>
          </tr>
      		{% for jobLog in jobLogs %}
      		<tr><td class="notes">{{jobLog.messageDate}}</td><td class="notes">{{jobLog.message}}</td></tr>
      		{% endfor %}
      	</table>
      {% endif %}

      <!--                                  -->
      <!--        Job Result Files          -->
      <!--                                  -->

      {% if jobResultFiles %}
      	<h2 class="text-center margin-top">Job Result Files</h2>
      	<table class="table table-bordered table-striped">
      		<tr><th>Date</th><th>File</th><th>Notes</th></tr>
      		{% for jobResultFile in jobResultFiles %}
      		<tr>
      			<td class="date">{{ jobResultFile.creationDate }}</td>
      			<td class="name">
      				{% if jobResultFile.resultFile %}
      				<a href='{{ jobResultFile.resultFile.url }}'>{{ jobResultFile.resultFile.url }}</a>
      				{% else %}
      				Not Uploaded Yet!
      				{% endif %}
      			</td>
      			<td>{{ jobResultFile.notes }}</td>
      		</tr>
      		{% endfor %}
      	</table>
      {% endif %}

      <!--                                  -->
      <!--          Child Tasks             -->
      <!--                                  -->

      {% if childTasks %}
      	<h2 class="text-center margin-top">Child Tasks</h2>
      	<table class="table table-bordered table-striped">
      	  <tr><th>id</th><th>Name</th><th>Priority</th><th>Status</th></tr>
        	{% for task in childTasks %}
        		<tr>
        			<td><a href="{{ArloUrlPrefix}}/tools/viewJob/{{task.id}}">{{task.id}}</a></td>
        			<td>{{task.name}}</td>
        			<td>{{task.priority}}</td>
              {% if task.status|stringformat:"s" == "Complete" %}
                <td class="jobstatus_{{task.status}} success">{{task.status}}</td>
              {% elif task.status|stringformat:"s" == "Error" %}
                <td class="jobstatus_{{task.status}} danger">{{task.status}}</td>
              {% else %}
                <td class="jobstatus_{{task.status}}">{{task.status|stringformat:"s"}}</td>
              {% endif %}
        		</tr>
        	{% endfor %}
      	</table>
      {% endif %}

      <div class="row">
        <div class="col-md-6">
          <form method=POST action="{{ArloUrlPrefix}}/tools/stopQueuedChildTasks/{{job.id}}">
            {% csrf_token %}
            <button name='Submit' class="btn btn-danger pull-right">Stop Queued Child Tasks</button>
          </form>
        </div>
        <div class="col-md-6">
          <form method=POST action="{{ArloUrlPrefix}}/tools/queueStoppedChildTasks/{{job.id}}">
            {% csrf_token %}
            <button name='Submit' class="btn btn-success">Queue Stopped Child Tasks</button>
          </form>
        </div>
      </div>

  <!--                                  -->
  <!--            Parameters            -->
  <!--                                  -->

      <h2 class="text-center margin-top">Parameters</h2>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      	{% for parameter in jobParameters %}
      		<tr><td>{{ parameter.name }}</td><td>{{ parameter.value }}</td></tr>
      	{% endfor %}
      </table>

    </div>

{% comment %}

{% if supervisedTagDiscoveryBias %}

<H1>SupervisedTagDiscoveryBias</H1>

<p>name: {{supervisedTagDiscoveryBias.name}}</p>
<p>project: {{supervisedTagDiscoveryBias.project.name}}</p>

<p>creationDate: {{supervisedTagDiscoveryBias.creationDate}}</p>

<H2>Status</H2>

<p>isRunning? {% if supervisedTagDiscoveryBias.isRunning %}True{% else %}False{% endif %}</p>
<p>isComplete? {% if supervisedTagDiscoveryBias.isComplete %}True{% else %}False{% endif %}</p>
<p>numberOfTagsDiscovered: {{supervisedTagDiscoveryBias.numberOfTagsDiscovered}} </p>
<p>fractionComplete: {{supervisedTagDiscoveryBias.fractionCompleted}} </p>

<H2>Scope</H2>

<p>numberOfTagsToDiscover: {{supervisedTagDiscoveryBias.numberOfTagsToDiscover}} </p>

<H2>Representation Bias</H2>

<p>numFrequencyBands: {{supervisedTagDiscoveryBias.numFrequencyBands}} </p>
<p>numTimeFramesPerSecond : {{supervisedTagDiscoveryBias.numTimeFramesPerSecond }} </p>
<p>dampingRatio: {{supervisedTagDiscoveryBias.dampingRatio}} </p>
<p>minFrequency: {{supervisedTagDiscoveryBias.minFrequency}} </p>
<p>maxFrequency: {{supervisedTagDiscoveryBias.maxFrequency}} </p>
<p>numExemplars: {{supervisedTagDiscoveryBias.numExemplars}} </p>

<p>spectraWeight: {{supervisedTagDiscoveryBias.spectraWeight}} </p>
<p>pitchWeight: {{supervisedTagDiscoveryBias.pitchWeight}} </p>
<p>pitchEnergyWeight: {{supervisedTagDiscoveryBias.pitchEnergyWeight}} </p>
<p>averageEnergyWeight: {{supervisedTagDiscoveryBias.averageEnergyWeight}} </p>

<H2>SelectionBias</H2>

<p>numRandomProbes: {{supervisedTagDiscoveryBias.numRandomProbes}} </p>
<p>outOfCore: {{supervisedTagDiscoveryBias.outOfCore}} </p>
<p>numSameFileRepeats: {{supervisedTagDiscoveryBias.numSameFileRepeats}} </p>
<p>maxOverlapFraction: {{supervisedTagDiscoveryBias.maxOverlapFraction}} </p>
<p>minPerformance: {{supervisedTagDiscoveryBias.minPerformance}} </p>

{% endif %}
{% if unsupervisedTagDiscoveryBias %}

<H1>UnsupervisedTagDiscoveryBias</H1>

<p>name: {{unsupervisedTagDiscoveryBias.name}}</p>
<p>project: {{unsupervisedTagDiscoveryBias.project.name}}</p>

<p>creationDate: {{unsupervisedTagDiscoveryBias.creationDate}}</p>

<H2>Status</H2>

<p>isRunning? {% if unsupervisedTagDiscoveryBias.isRunning %}True{% else %}False{% endif %}</p>
<p>isComplete? {% if unsupervisedTagDiscoveryBias.isComplete %}True{% else %}False{% endif %}</p>
<p>numberOfTagsDiscovered: {{unsupervisedTagDiscoveryBias.numberOfTagsDiscovered}} </p>
<p>fractionComplete: {{unsupervisedTagDiscoveryBias.fractionCompleted}} </p>

<p>numberOfClusters: {{unsupervisedTagDiscoveryBias.numberOfClusters}} </p>
<p>numberOfClustersToSave: {{unsupervisedTagDiscoveryBias.numberOfClustersToSave}} </p>
<p>numberOfExamplesPerCluster: {{unsupervisedTagDiscoveryBias.numberOfExamplesPerCluster}} </p>

<H2>Representation Bias</H2>

<p>numFrequencyBands: {{unsupervisedTagDiscoveryBias.numFrequencyBands}} </p>
<p>numTimeFramesPerSecond : {{unsupervisedTagDiscoveryBias.numTimeFramesPerSecond }} </p>
<p>dampingRatio: {{unsupervisedTagDiscoveryBias.dampingRatio}} </p>
<p>minFrequency: {{unsupervisedTagDiscoveryBias.minFrequency}} </p>
<p>maxFrequency: {{unsupervisedTagDiscoveryBias.maxFrequency}} </p>

<H2>SelectionBias</H2>

<p>numOptimizationIterations: {{unsupervisedTagDiscoveryBias.numOptimizationIterations}} </p>

{% endif %}

{% if tagAnalysisBias %}

<H1>TagAnalysis</H1>

<p>name: {{tagAnalysisBias.name}}</p>
<p>project: {{tagAnaysisBias.name.project.name}}</p>

<p>creationDate: {{tagAnalysisBias.creationDate}}</p>

<H2>Status</H2>

<p>isRunning? {% if tagAnalysisBias.isRunning %}True{% else %}False{% endif %}</p>
<p>isComplete? {% if tagAnalysisBias.isComplete %}True{% else %}False{% endif %}</p>
<p>numberOfTagsDiscovered: {{tagAnalysisBias.numberOfTagsDiscovered}} </p>
<p>fractionComplete: {{tagAnalysisBias.fractionCompleted}} </p>

<p>freqAveragingWindowWidth: {{tagAnalysisBias.freqAveragingWindowWidth}} </p>
<p>numFramesToAverageNoise: {{tagAnalysisBias.numFramesToAverageNoise}} </p>
<p>updateTagPositions: {{tagAnalysisBias.updateTagPositions}} </p>

{% endif %}
{% if transcript %}

<H1>Transcript</H1>

<p>audioFile: {{transcript.audioFile.alias}}</p>
<p>project: {{transcript.project.name}}</p>

<p>creationDate: {{transcript.creationDate}}</p>

<H2>Status</H2>

<p>isRunning? {% if transcript.isRunning %}True{% else %}False{% endif %}</p>
<p>isComplete? {% if transcript.isComplete %}True{% else %}False{% endif %}</p>
<p>numberOfTagsDiscovered: {{transcript.numberOfTagsDiscovered}} </p>
<p>fractionComplete: {{transcript.fractionCompleted}} </p>

<H2>Representation Bias</H2>

<p>numFrequencyBands: {{transcript.numFrequencyBands}} </p>
<p>numTimeFramesPerSecond : {{transcript.numTimeFramesPerSecond }} </p>
<p>dampingRatio: {{transcript.dampingRatio}} </p>
<p>minFrequency: {{transcript.minFrequency}} </p>
<p>maxFrequency: {{transcript.maxFrequency}} </p>

<p>spectraWeight: {{transcript.spectraWeight}} </p>
<p>pitchWeight: {{transcript.pitchWeight}} </p>
<p>pitchEnergyWeight: {{transcript.pitchEnergyWeight}} </p>
<p>averageEnergyWeight: {{transcript.averageEnergyWeight}} </p>

<H2>SelectionBias</H2>

<p>numRandomProbes: {{transcript.numRandomProbes}} </p>
<p>minPerformance: {{transcript.minPerformance}} </p>

{% endif %}

{% endcomment %}

{% endblock content %}
