{% extends "tools/base.html" %}

{% block javascript %}

{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/visualizeProjectFile.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'third-party/jQuery-contextMenu/jquery.ui.position.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-popupWindow/jquery.popupWindow.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/tag.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>

<script type="text/javascript">
	//variables passed in through django
	var audioID = '{{audioID}}';
	var currentTagID;
	var navigateURL;

	var projectId = '{{project.id}}';

	var urlPrefix = "{{ArloUrlPrefix}}";
	var mediaUrl = "{% get_media_prefix %}";
	var ArloStaticUrl = "{% get_static_prefix %}";

	var audioPlayer;

	var LOADING_GIF_URL = "{% static 'tools/img/loading.gif' %}";
	var EMPTY_WAV_URL = "{% static 'tools/empty.wav' %}";
</script>

<script src="{% static 'tools/js/spectra.js' %}" type="text/javascript"></script>


<script type="text/javascript">
<!--
	$(document).ready(function(){
		ARLOInit();

		$('body').keypress(function(evt){
			/* Test to ensure that keypresses to forms (INPUT) aren't triggered */
			/* On Firefox, after clicking 'Create Tag' focus stays on the button and
			   shortcuts fail, so test if focus is on a button */
			if ((evt.target.tagName == "BODY") ||
				(evt.target.tagName == "INPUT") && (evt.target.type == "submit")) {
				keyPressHandler (evt);
			}
			/*for(var propertyName in evt.target) {
				console.log(propertyName + ": " + evt.target[propertyName]);
			}*/
			/*for(var propertyName in evt) {
				console.log(propertyName + ": " + evt[propertyName]);
			}*/
		});

		$("#spectraForm").ajaxForm({
			url:'{{ArloUrlPrefix}}/tools/createAudioSpectra',
			dataType:'json',
			success:spectraFormCallback
		});

		$("#createTagForm").ajaxForm({
			url:'{{ArloUrlPrefix}}/tools/createUserTag/' + {{project.id}} + '/' + audioID,
			dataType:'json',
			success:createTagFormCallback,
			error:function(){alert("Error");}
		});

		navigateURL = '{{ArloUrlPrefix}}/tools/navigateTags/' + {{project.id}} + '/' + audioID;

		$("#navigateForm").ajaxForm({
			url:navigateURL,
			dataType:'json',
			success:navigateFormCallback
		});

		getAutoComplete();

		getSpectra();

		currentTagID = $("#id_currentTagID").val();
		$("#id_navStartTime").val($("#id_startTime").val());
		$("#id_navEndTime").val($("#id_endTime").val());

		// drawTags();

		// document.getElementById("audioSegment").addEventListener("timeupdate", updateSeek);
		// $("#audioSegment").bind("timeupdate", updateSeek);

		audioPlayer = new AudioPlayer(
			'audioPlayerid',
			EMPTY_WAV_URL,
			document.getElementById("audioSegmentDiv")
		);
	});

-->
</script>


{% endblock javascript %}
{% block content %}

{% if loadAudio %}
<!-- preload empty wav file to workaround in Firefox - see Bugzilla Bug 53 -->
<!-- <audio id="audioSegment" src="{% static 'tools/empty.wav' %}" controls="true" preload="metadata" autobuffer autoplay='true'></audio> -->
{% endif %}

<div class="col-md-12">

	<ol class="breadcrumb">
		<li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
		<li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project.name}}</a></li>
		<li>Tag File: {{fileAlias}}</li>
	</ol>

  <div id="image" onclick="point_it(event)" style="position:relative"></div>
  <div id=audioSegmentDiv></div>

</div>

<div class="col-md-4">

  <form action="" id="spectraForm" method="POST" onkeypress="return SubmitFormOnEnter(event)">

    {% csrf_token %}

    <input class="btn btn-xs" type="submit" name="method" value="Back" />
    <input class="btn btn-xs" type="submit" name="method" value="Back Half"/>
    <input class="btn btn-xs" type="submit" name="method" value="Forward Half"/>
    <input class="btn btn-xs" type="submit" name="method" value="Forward"/>

    {{spectraForm|crispy}}

    <input type="submit" id="submit" name="method" value="Submit" />

  </form>

</div>

<div class="col-md-4">
  <form action="" id="createTagForm" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="taggingMethod">Tagging Method:</label>
      <div class="controls">
        <select id="taggingMethod" class="select form-control">
          <option value="basic">Basic</option>
          <option value="adv">Advanced</option>
        </select>
      </div>
    </div>
    {{createTagForm|crispy}}

    <input type="text" readonly="true" id="id_createTagDuration" name="createTagDuration" />

    <input type="submit" name="method" value="Create Tag"/>
  </form>
</div>

<div class="col-md-4">

  <form action="" id="navigateForm" method="POST">
    {% csrf_token %}
    {{navigateForm|crispy}}

    <input class="btn btn-xs" type="submit" name="method" value="First" />
    <input class="btn btn-xs" type="submit" name="method" value="Previous" />
    <input class="btn btn-xs" type="submit" name="method" value="Next" />
    <input class="btn btn-xs" type="submit" name="method" value="Last" />

  </form>

  <p><a href='/site_media/{{audioSegmentFilePath}}' id="audioSegmentDownload" class="btn btn-xs btn-success">Right-Click to Download This WAV Segment</a></li></p>
  <p><a href="{{ArloUrlPrefix}}/tools/createPitchTraceCsv/{{project.id}}/{{audioID}}" class="btn btn-xs btn-success">Create PitchTrace CSV</a></p>
</div>

{% endblock content %}
