<!-- MultiView page for ARLO -->

<!-- 
Process:
  Form POST
    Django:
      - Validate Form
      - Generate File List
    JS (on document ready):
      - loadFiles()
        - Load Spectra
        - Draw Tags

-->

<!-- Page Layout:                                   -->
<!-- ============                                   -->
<!--                                                -->
<!-- += audioFilesMasterDiv ============+           -->
<!-- |                                  |           -->
<!-- | All Spectra Images               |           -->
<!-- |                                  |           -->
<!-- +==================================+           -->
<!--                                                -->
<!-- += floatingFormDiv ==========================+ -->
<!-- |                                            | -->
<!-- | += collapsibleSettingsFormHeader ========+ | -->
<!-- | |                                        | | -->
<!-- | | += collapsibleSettingsForm ========+   | | -->
<!-- | | |                                  |   | | -->
<!-- | | |                                  |   | | -->
<!-- | | +==================================+   | | -->
<!-- | +========================================+ | -->
<!-- +============================================+ -->
<!--                                                -->
<!-- += staticFormDiv =========================+    -->
<!-- |                                         |    -->
<!-- | += staticSettingsForm ================+ |    -->
<!-- | |                                     | |    -->
<!-- | +=====================================+ |    -->
<!-- |                                         |    -->
<!-- |                                         |    -->
<!-- +=========================================+    -->
<!--                                                -->
<!-- Dynamically Positioned by JS                   -->
<!-- ============================                   -->
<!--                                                -->
<!--  = settingsForm <form> (navigation)            -->
<!--  = createTagForm                               -->
<!--  = navigateForm                                -->



{% extends "tools/base.html" %}
{% block javascript %}

{% load static %}

<link rel="stylesheet" href="{% static 'tools/css/visualizeProjectFile.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/tag.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script src="{% static 'third-party/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/ts_picker/ts_picker.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/multiSpectra.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>

<script type="text/javascript">
	//variables passed in through django (for multiSpectra.js)
	var urlPrefix = "{{ArloUrlPrefix}}";
	var mediaUrl = "{% get_media_prefix %}";
	var ArloStaticUrl = "{% get_static_prefix %}";

	var imageWidth = 0;
	var imageHeight = 0;
	var borderWidth = {{borderWidth}};
	var topBorderHeight = {{topBorderHeight}};
	var timeScaleHeight = {{timeScaleHeight}};
	var currentTagID;
	var navigateURL;  // only used in $(document).ready below

	/*  var audioFileSensors = {{audioFileSensorsJSON|safe}};      now strictly in multiSpectra */
	/*  var audioFileSensorArrays = {{audioFileSensorArraysJSON|safe}};   now strictly in multiSpectra */

	var projectId = '{{project.id}}';

	var jumpToTagId = {{jumpToTagId}};
	var jumpToTagRealStartTimeString = "{{jumpToTagRealStartTimeString}}";
	var jumpToTagDuration = {{jumpToTagDuration}};

	var LOADING_GIF_URL = "{% static 'tools/img/loading.gif' %}";
	var EMPTY_WAV_URL = "{% static 'tools/empty.wav' %}";
</script>


<script type="text/javascript">
<!--
	$(document).ready(function() {
		ARLOInit(); /* Setup ARLO Global Utilities */

		/* Update the forms with the last used settings */
		LoadSettingsFormLastData();

//		$("#spectraForm").ajaxForm({
//			url:'{{ArloUrlPrefix}}/tools/createAudioSpectra',
//			dataType:'json',
//			 success:spectraFormCallback
//		});

		$("#createTagForm").ajaxForm({
			 url:'{{ArloUrlPrefix}}/tools/createUserTag/' + {{project.id}},
			 dataType:'json',
			 success:createTagFormCallback /* callback in multiSpectra.js */
		});

//		$("#navigateForm").ajaxForm({
//			url:navigateURL,
//			dataType:'json',
//			success:navigateFormCallback
//		});

		getAutoComplete();  /* setup auto complete for class names in createTag form */
		/* getSpectra(); */ /* auto-submits the form on load - not desired here I don't think */

		currentTagID = $("#id_currentTagID").val();
		$("#id_navStartTime").val($("#id_startTime").val());
		$("#id_navEndTime").val($("#id_endTime").val());
		
		/////////////////////////////
		// setup collapsible headers
		// 
		// toggles form between static and 'popup' (previously collapsible) content
		
		$("#collapsibleSettingsFormHeader").click(function() {
			//$(".collapsible_body", $(this)).slideToggle(100); //find the collapsible_body class div in this parent div
			var settingsForm = $("#settingsForm")[0];
			var collapsibleParent = $("#collapsibleSettingsForm")[0];
			var staticParent = $("#staticSettingsForm")[0];
			
			if (settingsForm.parentNode.id == collapsibleParent.id) {
				// make static
				collapsibleParent.removeChild(settingsForm);
				staticParent.appendChild(settingsForm);
			} else {
				// make collapsible
				staticParent.removeChild(settingsForm);
				collapsibleParent.appendChild(settingsForm);
			}
		});

		$("#collapsibleCreateTagFormHeader").click(function() {
			var createTagForm = $("#createTagForm")[0];
			var collapsibleParent = $("#collapsibleCreateTagForm")[0];
			var staticParent = $("#staticCreateTagForm")[0];
			
			if (createTagForm.parentNode.id == collapsibleParent.id) {
				// make static
				collapsibleParent.removeChild(createTagForm);
				staticParent.appendChild(createTagForm);
			} else {
				// make collapsible
				staticParent.removeChild(createTagForm);
				collapsibleParent.appendChild(createTagForm);
			}
		});
	
		$("#collapsibleNavigateFormHeader").click(function()
		{
			var createTagForm = $("#navigateForm")[0];
			var collapsibleParent = $("#collapsibleNavigateForm")[0];
			var staticParent = $("#staticNavigateForm")[0];
			
			if (createTagForm.parentNode.id == collapsibleParent.id) {
				// make static
				collapsibleParent.removeChild(createTagForm);
				staticParent.appendChild(createTagForm);
			} else {
				// make collapsible
				staticParent.removeChild(createTagForm);
				collapsibleParent.appendChild(createTagForm);
			}
		});
	
		// disable clicks from body from propagating through
		$("#collapsibleSettingsForm").click(function(e) {
			// return false;  /* using false breaks the submit buttons on the pop-up forms */
			e.stopPropagation();
		});
		$("#collapsibleCreateTagForm").click(function(e) {
			e.stopPropagation();
		});
		$("#collapsibleNavigateForm").click(function(e) {
			e.stopPropagation();
		});
	
	
		$('#id_sensorArrayLayout').click(function(e) {
			ToggleLayoutAsSensorArray();
		});
	
		///////////////////////////
		// setup date/time pickers
		$("#id_startDateTime").parent().append( $("#start_datetime_picker") );
	
	/*	loadFiles();  Now called from SubmitForm callback */
		LayoutAsSensorArraySetup();
	
	    /* Event Handlers for Form Submit */
	
	    $("#staticSettingsForm :submit").click(OnSubmitSettingsForm);
	    $("#staticNavigateForm :submit").click(OnNavigateForm);
	
	    /* ************************************** */
	    /* If provided, jump to the specified Tag */
	
	    if (jumpToTagId > 0) {
	      var jumpToTagRealStartTimeFromEpoch = getDateFromFormat(jumpToTagRealStartTimeString, "yyyy-MM-dd HH:mm:ss");
	      if (jumpToTagRealStartTimeFromEpoch == 0) {
	        ARLOLogError("Failed Parsing JumpToTag StartTime");
	      } else {
	        var jumpToTagRealStartTime = new Date(jumpToTagRealStartTimeFromEpoch);
	        jumpToTag(jumpToTagId, jumpToTagRealStartTime, jumpToTagDuration);
	      }
	    }
      
	});


  /* ***************************************************** */
  /*                                                       */
  /*        Settings Form Submit / Load Audio Files        */
  /*                                                       */
  /* ***************************************************** */

	function OnSubmitSettingsForm(event) {
    
		/* Parse Form */
		settingsFormData = ParseSettingsForm();
    
		if (settingsFormData === undefined) {
			ARLOLogError("Failed Parsing SettingsForm");
			return false;
		}

		/*  Button Actions  */

		var buttonValue = event.target.value;
		
		switch (buttonValue) {
			case "Submit":
				break;
			case "Back":
				// move the display 'back' by 'duration'
				settingsFormData.startTime = new Date(settingsFormData.startTime.getTime() - (settingsFormData.duration * 1000));
				settingsFormData.endTime   = new Date(settingsFormData.endTime.getTime() - (settingsFormData.duration * 1000));
				break;
			case "Back Half":
				// move the display 'back' by half of 'duration'
				settingsFormData.startTime = new Date(settingsFormData.startTime.getTime() - (settingsFormData.duration * 1000 / 2));
				settingsFormData.endTime   = new Date(settingsFormData.endTime.getTime() - (settingsFormData.duration * 1000 / 2));
				break;
			case "Forward Half":
				// move the display 'forward' by half of a 'duration'
				settingsFormData.startTime = new Date(settingsFormData.startTime.getTime() + (settingsFormData.duration * 1000 / 2));
				settingsFormData.endTime   = new Date(settingsFormData.endTime.getTime() + (settingsFormData.duration * 1000 / 2));
				break;
			case "Forward":
				// move the display 'forward' by a 'duration'
				settingsFormData.startTime = new Date(settingsFormData.startTime.getTime() + (settingsFormData.duration * 1000));
				settingsFormData.endTime   = new Date(settingsFormData.endTime.getTime() + (settingsFormData.duration * 1000));
				break;
			case "Zoom In Time":
				settingsFormData.spectraNumFramesPerSecond *= 2;
				break;
			case "Zoom Out Time":
				settingsFormData.spectraNumFramesPerSecond = Math.round(settingsFormData.spectraNumFramesPerSecond / 2);
				break;
			case "Zoom In Freq":
				settingsFormData.spectraNumFrequencyBands *= 2;
				break;
			case "Zoom Out Freq":
				settingsFormData.spectraNumFrequencyBands = Math.round(settingsFormData.spectraNumFrequencyBands / 2);
				break;
			case "Increase Damping":
				settingsFormData.spectraDampingFactor *= 2;
				break;
			case "Decrease Damping":
				settingsFormData.spectraDampingFactor /= 2;
				break;
			default:
				ARLOLogWarning("Unmatched Button in OnSubmitSettingsForm()");
				break;
		}

		plotData(settingsFormData);

		return false;  /* return false to stop event propagation (and form submission outside AJAX) */
	};

	function plotData(settingsFormData) {
		/* Update Interface Settings Form with our Parsed and Updated Data */
		UpdateSettingsFormFromData(settingsFormData);


		/* Data is good, so update the last-used settings for future re-loading */
		SaveSettingsFormLastData();

		getFilesList(settingsFormData); /* Get the files and update the Display */
	}


	/*                                  */
	/*     SettingsForm ARLOSettings    */
	/*                                  */

	/* Save the current SettingsForm values for future reloads */
	function SaveSettingsFormLastData() {
		ARLOSettingSet("MultiViewLastStartTime", $("#id_startDateTime").val());
		ARLOSettingSet("MultiViewLastSpectraDuration", $("#id_duration").val()); 
		ARLOSettingSet("MultiViewLastLoadAudio", ( $("#id_loadAudio").is(':checked') ? "1" : "0"));

		ARLOSettingSet("MultiViewLastSpectraNumFramesPerSecond", $("#id_spectraNumFramesPerSecond").val());
		ARLOSettingSet("MultiViewLastSpectraNumFrequencyBands", $("#id_spectraNumFrequencyBands").val());
		ARLOSettingSet("MultiViewLastSpectraDampingFactor", $("#id_spectraDampingFactor").val());

		ARLOSettingSet("MultiViewLastSpectraGain", $("#id_gain").val());
		ARLOSettingSet("MultiViewLastSpectraMinimumBandFrequency", $("#id_spectraMinimumBandFrequency").val());
		ARLOSettingSet("MultiViewLastSpectraMaximumBandFrequency", $("#id_spectraMaximumBandFrequency").val());

		/* TagSet Selection */
		var s = "";
		$("#id_tagSets option").each( function () {
			if ( $(this).prop('selected')) {
				s += $(this).val() + ",";
			}
		});

		if (s.length) {
			s = s.substr(0, s.length-1);  // remove trailing ','
			ARLOSettingSet("MultiViewLastSpectraTagSets",s);
		} else {
			ARLOSettingDelete("MultiViewLastSpectraTagSets");
		}
	};

	/* Update the forms with the last used settings */
	function LoadSettingsFormLastData() {
		var s;
		s = ARLOSettingGet("MultiViewLastStartTime");
		if (s) { $("#id_startDateTime").val(s); }
			s = ARLOSettingGet("MultiViewLastSpectraDuration");
		if (s) { $("#id_duration").val(s); }
			s = ARLOSettingGet("MultiViewLastLoadAudio");
		if (s) { 
			if (s == "1") {
				$("#id_loadAudio").prop('checked', true); 
			} else {
				$("#id_loadAudio").prop('checked', false);
			}
		}

		s = ARLOSettingGet("MultiViewLastSpectraNumFramesPerSecond");
		if (s) { $("#id_spectraNumFramesPerSecond").val(s); }
			s = ARLOSettingGet("MultiViewLastSpectraNumFrequencyBands");
		if (s) { $("#id_spectraNumFrequencyBands").val(s); }
			s = ARLOSettingGet("MultiViewLastSpectraDampingFactor");
		if (s) { $("#id_spectraDampingFactor").val(s); }
			s = ARLOSettingGet("MultiViewLastSpectraGain");
		if (s) { $("#id_gain").val(s); }
			s = ARLOSettingGet("MultiViewLastSpectraMinimumBandFrequency");
		if (s) { $("#id_spectraMinimumBandFrequency").val(s); }
			s = ARLOSettingGet("MultiViewLastSpectraMaximumBandFrequency");
		if (s) { $("#id_spectraMaximumBandFrequency").val(s); }

		/* TagSet Selection */
		var sLastTagSets = ARLOSettingGet("MultiViewLastSpectraTagSets");
		if (sLastTagSets) {
			var lastTagSetsArray = sLastTagSets.split(",");

			// check if any of the previous selections are in the select option
			var haveApplicableOptions = false;
			// loop over all available options
			$("#id_tagSets option").each( function () {
				// is this option in the array ?
				if ($.inArray( $(this).val(), lastTagSetsArray) > -1) {
					haveApplicableOptions = true;
				}
			});

			// if not haveApplicableOptions, then no options would be selected, stick with the defaults
			// else, proceed to select the previous options
			if (haveApplicableOptions) {
				// un-select all options
				$("#id_tagSets option").prop('selected', false);

				// select options that are saved
				$("#id_tagSets option").each( function () {
					// is this option in the array ?
					var myval = $(this).val();
					if ($.inArray( myval, lastTagSetsArray) > -1) {
						$(this).prop('selected', true);
					}
				});
			}
		}
	};


	/*                                         */
	/*    SettingsForm <-> SettingsFormData    */
	/*                                         */

	function ParseSettingsForm() {

		// start Time
		var startTimeFromEpoch = getDateFromFormat($("#id_startDateTime").val(), "yyyy-MM-dd HH:mm:ss");
		if (startTimeFromEpoch == 0) { 
			ARLOLogWarning("Invalid Start Date/Time");
			return undefined; 
		}
		var startTime = new Date(startTimeFromEpoch);

		// duration
		var duration = parseFloat($("#id_duration").val());
		if (isNaN(duration) || isNaN($("#id_duration").val()) || ( ! (duration > 0))) { 
			ARLOLogWarning("Invalid Duration");
			return undefined; 
		}
    
		// end time
		var endTime = new Date(startTime.getTime() + (duration * 1000));

		// load Audio
		var loadAudio = $("#id_loadAudio").is(':checked');

		var spectraNumFramesPerSecond = parseInt($("#id_spectraNumFramesPerSecond").val(), 10);  // radix = 10
		if ((isNaN(spectraNumFramesPerSecond)) || isNaN($("#id_spectraNumFramesPerSecond").val()) || (spectraNumFramesPerSecond <= 0)){
			ARLOLogWarning("Invalid spectraNumFramesPerSecond");
			return undefined;
		}
		var spectraNumFrequencyBands = parseInt($("#id_spectraNumFrequencyBands").val(), 10);
		if ((isNaN(spectraNumFrequencyBands)) || isNaN($("#id_spectraNumFrequencyBands").val()) || (spectraNumFrequencyBands <= 0)) {
			ARLOLogWarning("Invalid spectraNumFrequencyBands");
			return undefined;
		}
		var spectraDampingFactor = parseFloat($("#id_spectraDampingFactor").val());
		if ((isNaN(spectraDampingFactor)) || isNaN($("#id_spectraDampingFactor").val()) || (spectraDampingFactor <= 0)) {
			ARLOLogWarning("Invalid spectraDampingFactor");
			return undefined;
		}

		var gain = parseFloat($("#id_gain").val());
		if (isNaN(gain) || isNaN($("#id_gain").val())) {
			ARLOLogWarning("Invalid gain");
			return undefined;
		}
		var spectraMinimumBandFrequency = parseFloat($("#id_spectraMinimumBandFrequency").val());
		if ((isNaN(spectraMinimumBandFrequency)) || isNaN($("#id_spectraMinimumBandFrequency").val()) || (spectraMinimumBandFrequency <= 0)) {
			ARLOLogWarning("Invalid spectraMinimumBandFrequency");
			return undefined;
		}
		var spectraMaximumBandFrequency = parseFloat($("#id_spectraMaximumBandFrequency").val());
		if ((isNaN(spectraMaximumBandFrequency)) || isNaN($("#id_spectraMaximumBandFrequency").val()) || (spectraMaximumBandFrequency <= 0)) {
			ARLOLogWarning("Invalid spectraMaximumBandFrequency");
			return undefined;
		}

		return new SettingsFormData(startTime, duration, endTime, loadAudio, spectraNumFramesPerSecond, spectraNumFrequencyBands, spectraDampingFactor, gain, spectraMinimumBandFrequency, spectraMaximumBandFrequency);


		//<p><label for="id_sensorArrayLayout">SensorArray Layout:</label> <input type="checkbox" name="sensorArrayLayout" id="id_sensorArrayLayout" /></p>
		//<p><label for="id_tagSets">Tagsets:</label> <select multiple="multiple" name="tagSets" id="id_tagSets">
		//<option value="471" selected="selected">10MinAfter</option>
		//</select></p>

	};

	function UpdateSettingsFormFromData(settingsFormData) {
		$("#id_startDateTime").val(formatDate(settingsFormData.startTime, "yyyy-MM-dd HH:mm:ss"));
		$("#id_duration").val(settingsFormData.duration);
		if (settingsFormData.loadAudio) {
			$("#id_loadAudio").prop('checked', true);
		} else {
			$("#id_loadAudio").prop('checked', false);
		}

		$("#id_spectraNumFramesPerSecond").val(settingsFormData.spectraNumFramesPerSecond);
		$("#id_spectraNumFrequencyBands").val(settingsFormData.spectraNumFrequencyBands);
		$("#id_spectraDampingFactor").val(settingsFormData.spectraDampingFactor);

		$("#id_gain").val(settingsFormData.gain);
		$("#id_spectraMinimumBandFrequency").val(settingsFormData.spectraMinimumBandFrequency);
		$("#id_spectraMaximumBandFrequency").val(settingsFormData.spectraMaximumBandFrequency);
	};


	/* *********************************** */
	/*                                     */
	/*            Navigate Tags            */
	/*                                     */
	/* *********************************** */

	function OnNavigateForm(event) {

		/* Get Parameters */
		var tagClassId = $("#id_navigateTagClass").val();

		var sTagSetIds = "";
		$("#id_tagSets option").each( function () {
			if ( $(this).prop('selected')) {
				sTagSetIds += "&tagSets=" + $(this).val();
			}
		});

		var buttonValue = event.target.value;

		/* Get Current View Date, if needed */

		var startDateString = "";
		var endDateString = "";

		/* No need to generate dates for first/last */
		/* What Button Was Hit */
		switch (buttonValue) {
			case "First":
				break;
			case "Last":
				break;
			case "Next":
			case "Previous":

				/* Get the Current Settings Form data */
				settingsFormData = ParseSettingsForm();
				if (settingsFormData === undefined) {
					ARLOLogError("OnNavigate() Failed Parsing SettingsForm");
					return false;
				}
				startDateString = formatDate(settingsFormData.startTime, "yyyy-MM-dd HH:mm:ss");
				endDateString = formatDate(settingsFormData.endTime, "yyyy-MM-dd HH:mm:ss");
				break;
			default:
				ARLOLogWarning("Unmatched Button in OnNavigateForm()");
				return false; /* return false to stop event propagation (and form submission outside AJAX) */
		}

		/* Build the base URL */
		var url = urlPrefix + "/api/v0/tagNavigationByTime/" +                                                      
			projectId +
			"/?tagClass=" + tagClassId +
			sTagSetIds;

		/* What Button Was Hit */
		switch (buttonValue) {
			case "Next":
				url += "&relation=next&date=" + endDateString;
				break;
			case "Previous":
				url += "&relation=previous&date=" + startDateString;
				break;
			case "First":
				url += "&relation=first";
				break;
			case "Last":
				url += "&relation=last";
				break;
			default:
				ARLOLogWarning("Unmatched Button in OnNavigateForm()");
				return false; /* return false to stop event propagation (and form submission outside AJAX) */
		}

		/* Update Status */
		MultiViewStatusUpdate("Finding " + buttonValue + " Tag...");
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px' /><br /><strong>Finding " + buttonValue + " Tag...</strong>", true);

		/* Submit Request */
		$.ajax({
			url: url,
			dataType: 'json',
			error: function(request, textStatus, errorThrown) {
				var sMsg = "Failed AJAX GET in OnNavigateForm()";
				if ( ! (textStatus == undefined)) { sMsg += " (" + textStatus + ")"; }
				ARLOLogError(sMsg);
			},
			success: NavigateCallback
		});

		return false; /* return false to stop event propagation (and form submission outside AJAX) */
	};

	function NavigateCallback(json) {

		myARLOModalStatus.close();

		if (json.tagId == null) {
			ARLOLogNotify("No Tag Found");
			return false;
		}

		var tagStartTimeFromEpoch = getDateFromFormat(json.realStartTime, "yyyy-MM-dd HH:mm:ss");
		if (tagStartTimeFromEpoch == 0) {
			ARLOLogError("Failed Parsing NavigateCallback StartTime");
		} else {
			var tagStartTime = new Date(tagStartTimeFromEpoch);

			/* If here, we have the next Tag that we're going to Draw */
			jumpToTag(json.tagId, tagStartTime, json.duration);
		}

	};


	/* ************************* */
	/*                           */
	/*        Jump To Tag        */
	/*                           */
	/* ************************* */

	/* Update the Settings form based on the Time / Duration of the indicated Tag, and re-plot */
	/* @param tagId Database ID of the Tag we are plotting                    */
	/* @param tagRealStartTime Date object of the Tag StartTime                                */
	/* @param tagDuration Length of the Tag, in seconds                                        */

	function jumpToTag(tagId, tagRealStartTime, tagDuration) {
		if (typeof tagId == 'undefined') {ARLOLogError("jumpToTag() tagId undefined");return false;}
		if (typeof tagRealStartTime == 'undefined') {ARLOLogError("jumpToTag() tagRealStartTime undefined");return false;}
		if (typeof tagDuration == 'undefined') {ARLOLogError("jumpToTag() tagDuration undefined");return false;}
    
		/* update the 'currentTagID' for the plot to highlight this tag */
		currentTagID = tagId;

		/* Override the form startTime with the startTime of the Tag to ensure legit data */
		$("#id_startDateTime").val(formatDate(tagRealStartTime, "yyyy-MM-dd HH:mm:ss"));
    
		/* Get the Current Settings Form data */
		settingsFormData = ParseSettingsForm();
    
		if (settingsFormData === undefined) {
			ARLOLogError("Failed Parsing SettingsForm");
			return false;
		}

		/* From the startTime of the Tag, and the current 
		   duration of the Window, center the Tag in the new Plot */

		/* if the current duration is shorter than 125% of the Tag's duration, increase the duration */

		if ((tagDuration * 1.25) > settingsFormData.duration) {
			settingsFormData.duration = (tagDuration * 1.25);
		}

		/*	var startTimeFromEpoch = getDateFromFormat($("#id_startDateTime").val(), "yyyy-MM-dd HH:mm:ss");
			if (startTimeFromEpoch == 0) { return undefined; }
			var startTime = new Date(startTimeFromEpoch);
		*/

		/* var tagStartTime = getDateFromFormat(tagRealStartTime, "yyyy-MM-dd HH:mm:ss"); */
		//    var tagStartTime = new Date(tagRealStartTime); /* this is coming in JSON formatted date, so no conversion needed */
		var tagStartTime = tagRealStartTime;
		var offset = ((settingsFormData.duration / 2) - (tagDuration / 2));
		var newStartTime = tagStartTime.valueOf() - (offset * 1000);
		settingsFormData.startTime = new Date(newStartTime);

		return plotData(settingsFormData);
	}

-->
</script>

<style type='text/css'>
div.ARLONoBorderTable table, td, tr {
	border: none;
	border-bottom: none;
	border-collapse:collapse;
	padding:1px;
	vertical-align:middle;
}
</style>

<style type='text/css'>
	div.floatingFormDiv {position:fixed;z-index:100;left:0px; bottom:0px;display:block;margin:0;}
	div.floatingFormDiv > * {margin:0;padding:0px;}
	div.floatingFormDiv > td {border:1px solid #ffcc00;}
	div.floatingFormInnerDiv {background:#fff4c8;border:1px solid #ffcc00;z-index:100;display:inline-block;margin:0;vertical-align:bottom;}
	div.floatingFormInnerDiv > * {margin:0;padding:1px 3px 1px 3px;}
</style>


{% endblock javascript %}
{% block content %}

<!-- Setup Date/Time Pickers -->
<!-- These are positioned by the $(document).ready function above -->
<a id="start_datetime_picker" href="javascript:show_calendar('id_startDateTime', document.getElementById('id_startDateTime').value);"><img src="{% static 'tools/img/cal.gif' %}" width="16" height="16" border="0" alt="Click Here to Pick the Start Date/Time" /></a>

<!-- This will hold all of the file spectra / audio players -->
<div id="audioFilesMasterDiv" style="position: relative">
</div> <!-- audioFiles -->

<!-- ###################### -->
<!-- # Floating Form Divs # -->
<!-- ###################### -->

<div id="floatingFormDiv" class="floatingFormDiv">
<!--  <table cellspacing="0" cellpadding="0"> <tr>
    <td> -->
	<div id="collapsibleSettingsFormHeader" class="floatingFormInnerDiv" float=left>
		<h3>Settings Form</h3>
		<div id="collapsibleSettingsForm">
		</div> <!-- collapsibleSettingsForm -->
	</div>  <!-- collapsibleSettingsFormHeader -->
<!--    </td>
    <td> -->
	<div id="collapsibleCreateTagFormHeader" class="floatingFormInnerDiv" float=left>
		<h3>Create Tag Form</h3>
		<div id="collapsibleCreateTagForm">
		</div> <!-- collapsibleCreateTagForm -->
	</div>  <!-- collapsibleCreateTagFormHeader -->
	<div id="collapsibleNavigateFormHeader" class="floatingFormInnerDiv" float=left>
		<h3>Navigate Form</h3>
		<div id="collapsibleNavigateForm">
		</div>
	</div>
<!--    </td>
  </tr> </table> -->
</div> <!-- floatingFormDiv -->


<!-- #################### -->
<!-- # Static Form Divs # -->
<!-- #################### -->

<div id="staticFormDiv" style="position: relative">
<table>
	<tr>
		<td>
			<div id="staticSettingsForm">
				<form action="" id="settingsForm" name="settingsForm" method="POST" onkeypress="return SubmitFormOnEnter(event)">
					{% csrf_token %}
					<table>
						<tr><td align='center'>
							<input type="submit" name="method" value="Back" />
							<input type="submit" name="method" value="Back Half"/>
							<input type="submit" name="method" value="Forward Half"/>
							<input type="submit" name="method" value="Forward"/>
						</td></tr>
		
						<tr><td>
							<div class='ARLONoBorderTable'>
								<table class='ARLONoBorderTable'>
									<tr><td align='right'>
										{{settingsForm.startDateTime.errors}}
										<label for="id_startDateTime">Start Date/Time<br /> (yyyy-mm-dd hh:mm:ss):</label> 
									</td><td>
										{{settingsForm.startDateTime}}
									</td></tr>
		  
									<tr><td align='right'>
										{{settingsForm.duration.errors}}
										<label for="id_duration">Duration:</label>
									</td><td>
										{{settingsForm.duration}}
									</td></tr>
		  
									<tr><td align='right'>
										{{settingsForm.gain.errors}}
										<label for="id_gain">Gain:</label>
									</td><td>
										{{settingsForm.gain}}
									</td></tr>
		  
									<tr><td align='right'>
										{{settingsForm.spectraNumFramesPerSecond.errors}}
										<label for="id_spectraNumFramesPerSecond">Num Frames Per Second:</label>
									</td><td>
										{{settingsForm.spectraNumFramesPerSecond}}
									</td></tr>
		  
									<tr><td align='right'>
										{{settingsForm.spectraNumFrequencyBands.errors}}
										<label for="id_spectraNumFrequencyBands">Num Frequency Bands:</label>
									</td><td>
										{{settingsForm.spectraNumFrequencyBands}}
									</td></tr>
		  
									<tr><td align='right'>
										{{settingsForm.spectraDampingFactor.errors}}
										<label for="id_spectraDampingFactor">Damping Factor:</label>
									</td><td>
										{{settingsForm.spectraDampingFactor}}
									</td></tr>
		  
									<tr><td align='right'>
										{{settingsForm.spectraMinimumBandFrequency.errors}}
										<label for="id_spectraMinimumBandFrequency">Minimum Frequency:</label>
									</td><td>
										{{settingsForm.spectraMinimumBandFrequency}}
									</td></tr>
		  
									<tr><td align='right'>
										{{settingsForm.spectraMaximumBandFrequency.errors}}
										<label for="id_spectraMaximumBandFrequency">Maximum Frequency:</label>
									</td><td>
										{{settingsForm.spectraMaximumBandFrequency}}
									</td></tr>
		
									<tr><td align='right'>
										{{settingsForm.loadAudio.errors}}
										<label for="id_loadAudio">Load Audio?</label>
									</td><td>
										{{settingsForm.loadAudio}}
									</td></tr>
		  
									<tr><td align='right'>
										{{settingsForm.sensorArrayLayout.errors}}
										<label for="id_sensorArrayLayout">Use SensorArray Layout?:</label>
									</td><td>
										{{settingsForm.sensorArrayLayout}}
									</td></tr>
		  
									<tr><td align='right'>
										{{settingsForm.tagSets.errors}}
										<label for="id_tagSets">Tagsets:</label>
									</td><td>
										{{settingsForm.tagSets}}
									</td></tr>
								</table>
							</div>
						</td></tr>
		
						<tr><td align='center'>
							<input type="submit" id="submit" name="method" value="Submit" />
							<br />
							<input type="submit" name="method" value="Zoom In Time" />
							<input type="submit" name="method" value="Zoom Out Time"/>
							<br />
							<input type="submit" name="method" value="Zoom In Freq" />
							<input type="submit" name="method" value="Zoom Out Freq"/>
							<br />
							<input type="submit" name="method" value="Increase Damping" />
							<input type="submit" name="method" value="Decrease Damping"/>
						</td></tr>
					</table>
				</form>
			</div> <!-- staticSettingsForm -->
		</td>
		<td>
			<div id="staticCreateTagForm">
				<form action="" id="createTagForm" name="createTagForm" method="POST">
					{% csrf_token %}
					<table>
						<tr><td align='center'>
							<input type="submit" name="method" value="Create Tag"/>
						</td></tr>

						<tr><td>
							<div class='ARLONoBorderTable'>
								<table>

									<tr><td align='right'>
										<label for="taggingMethod">Tagging Method:</label>
									</td><td>
										<select id="taggingMethod">
											<option value="adv">Advanced</option>
											<option value="basic">Basic</option>
										</select>
									</td></tr>
                    
									<tr><td align='right'>
										<label for="id_createTagDuration">Tag Duration:</label>
									</td><td>
										<input type="text" id="id_createTagDuration" name="createTagDuration" />
									</td></tr>
									
									<tr><td align='right'>
										<label for="id_tagSet">Tag Set:</label>
									</td><td>
										{{createTagForm.tagSet}}
									</td></tr>
									
									<tr><td align='right'>
										<label for="id_className">Classname:</label>
									</td><td>
										{{createTagForm.className}}
									</td></tr>
									
									<tr><td align='right'>
										<label for="id_displayName">Display Name:</label>
									</td><td>
										{{createTagForm.displayName}}
									</td></tr>
									
									<tr><td align='right'>
										<label for="id_strength">Strength:</label>
									</td><td>
										{{createTagForm.strength}}
									</td></tr>

									<tr><td align='right'>
										<label for="id_tagStartTime">Start Time:</label>
									</td><td>
										{{createTagForm.tagStartTime}}
									</td></tr>
									
									<tr><td align='right'>
										<label for="id_tagEndTime">End Time:</label>
									</td><td>
										{{createTagForm.tagEndTime}}
									</td></tr>
									
									<tr><td align='right'>
										<label for="id_tagMinFrequency">Min Frequency:</label>
									</td><td>
										{{createTagForm.tagMinFrequency}}
									</td></tr>
									
									<tr><td align='right'>
										<label for="id_tagMaxFrequency">Max Frequency:</label>
									</td><td>
										{{createTagForm.tagMaxFrequency}}
									</td></tr>
									
									<tr><td align='right'>
										<label for="id_audioFileId">Audio File ID:</label>
									</td><td>
										{{createTagForm.audioFileId}}
									</td></tr>

								</table>
							</div>
						</td></tr>
					</table>
				</form>
			</div> <!-- staticCreateTagForm -->
		</td>
		<td>
			<div id="staticNavigateForm">
				<form action="" id="navigateForm" method="POST">
					{% csrf_token %}
					{{navigateForm.as_p}}
					<input type="submit" name="method" value="First" />
					<input type="submit" name="method" value="Previous" />
					<input type="submit" name="method" value="Next" />
					<input type="submit" name="method" value="Last" />
					<br /><br /><br />
				</form>
			</div>
		</td>
	</tr>
</table>
</div> <!-- staticFormDiv -->


{% endblock content %}
