<!-- <meta http-equiv="refresh" content="15"> -->
{% extends "tools/base.html" %}
{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

{% endblock javascript %}
{% block content %}
<h1>Launch TestJob</h1>
<hr />

<form id="jobSettings" method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Launch"/>
</form>
{% endblock content %}
