<!-- <meta http-equiv="refresh" content="15"> -->
{% extends "tools/base.html" %}
{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script type="text/javascript">
<!--
$(document).ready(function(){

});
-->
</script>
{% endblock javascript %}

{% block content %}

<div class="col-md-12">

	<div class="panel panel-primary">
		<div class="panel-heading">
			Launch k-Nearest Neighbors Classifier Job
		</div>

		<div class="panel-body">
			<p>
				<a href="{{ArloUrlPrefix}}/docs/jobTypes/plugin_KNNPlugin.html">Documentation available here</a>.
			</p>

			<form id="jobSettings" method="POST">
					{% csrf_token %}
					<p>
						{{form.non_field_errors}}
					</p>

					<table>
						<tr>
							<th>{{form.name.label}}</th>
							<td>{{form.name.errors}}{{form.name}}</td>

						</tr><tr id='rowN_neighbors'>
							<th>{{form.n_neighbors.label}}</th>
							<td>{{form.n_neighbors.errors}}{{form.n_neighbors}}</td>

						</tr><tr id='rowWeights'>
							<th>{{form.weights.label}}</th>
							<td>{{form.weights.errors}}{{form.weights}}</td>

						</tr><tr id='rowAlgorithm'>
							<th>{{form.algorithm.label}}</th>
							<td>{{form.algorithm.errors}}{{form.algorithm}}</td>

						</tr><tr id='rowExampleTagSet'>
							<th>{{form.exampleTagSet.label}}</th>
							<td>{{form.exampleTagSet.errors}}{{form.exampleTagSet}}</td>

						</tr><tr id='rowSourceTagSet'>
							<th>{{form.sourceTagSet.label}}</th>
							<td>{{form.sourceTagSet.errors}}{{form.sourceTagSet}}</td>

						</tr><tr id='rowDestinationTagSet'>
							<th>{{form.destinationTagSet.label}}</th>
							<td>{{form.destinationTagSet.errors}}{{form.destinationTagSet}}</td>

						</tr><tr>
							<th>&nbsp;</th>

						</tr><tr id='rowNumFrequencyBands'>
							<th>{{form.numFrequencyBands.label}}</th>
							<td>{{form.numFrequencyBands.errors}}{{form.numFrequencyBands}}</td>

						</tr><tr id='rowNumTimeFramesPerSecond'>
							<th>{{form.numTimeFramesPerSecond.label}}</th>
							<td>{{form.numTimeFramesPerSecond.errors}}{{form.numTimeFramesPerSecond}}</td>

						</tr><tr id='rowDampingRatio'>
							<th>{{form.dampingRatio.label}}</th>
							<td>{{form.dampingRatio.errors}}{{form.dampingRatio}}</td>

						</tr><tr id='rowMinFrequency'>
							<th>{{form.minFrequency.label}}</th>
							<td>{{form.minFrequency.errors}}{{form.minFrequency}}</td>

						</tr><tr id='rowMaxFrequency'>
							<th>{{form.maxFrequency.label}}</th>
							<td>{{form.maxFrequency.errors}}{{form.maxFrequency}}</td>

						</tr>
					</table>

					<input type="submit" value="Launch"/>
				</form>

</div>

{% endblock content %}
