/*
	ARLO Specific CSS
*/


/****** General *********/

ul {
  list-style-position: inside;
}

.margin-top {
  margin-top: 1em !important;
}

.margin-bottom {
  margin-bottom: 1em !important;
}

.table td, .table th {
  text-align: center;
}

.table td {
  vertical-align: middle !important;
  text-align: center;
}

.table td.notes {
  text-align: left;
}

.table td.name {
  text-align: left;
}

.table td.date {
  text-align: left;
}


/****** Pagination *********/

.panel-footer .pagination {
  margin: 0;
}

.panel-footer p {
  margin: 0;
}

/****** Projects *********/
.panel.projects .users ul {
  padding: 0;
  list-style-type: none;
}

.panel.projects .users ul li {
  margin: 0 0 .5em 0;
}

.panel.projects td.users table td {
  padding-top: 0;
}

.table td.users table {
  background-color: transparent;
}

/****** Visualize *********/
#image {
  margin: 1em auto 2em;
}

#audioSegmentDiv {
  margin: 0 0 2em 0;
}

#audioSegmentDiv #AudioPlayerontrolsDiv_audioPlayerid {
  margin: 0px auto;
  width: 50%;
  text-align: center;
}

#navigateForm {
  margin: 0 0 1em 0;
}

/****** Catalog *********/

.tagClass .tag {
  display: inline-block;
  position: relative;
  float: left;
  cursor: pointer;
  margin-right: 4px;
}

.tagClass .machineTag {
  border: 2px solid red;
}

.tagClass .userTag {
  border: 2px solid #00FF00;
}

.tagClass .machineTag.userTag {
  border: 2px solid fuchsia;
}

.tagClass .number {
  display: inline-block;
  padding: 1px 5px 3px 2px;
  line-height: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.tagClass .number.user {
  background-color: #00ff00;
}

.tagClass .number.machine {
  background-color: red;
}

.tagClass .number.user.machine {
  background-color: fuchsia;
}


/** Viz Pages ***/

#projectTagsVizHolder {
  height: 400px;
  width: 100%;
  display: block;
  clear: both;
}

#projectTagsVizTop {
  padding: 0 0 2em;
  float: left;
  width: 100%;
}

#projectTagsVizTop form {
  margin: 0 0 2em 0;
}

#projectTagsPieHolder {
  height: 150px;
  width: 300px;
  float: right;
  width: 35%;
  margin: 2em 0 1em;
}

#projectTagsVizTop h3 {
  font-weight: bold;
  font-size: 58px;
  display: inline-block;
  width: 65%;
}

#projectTagsVizTop h3 span {
  background-color: #f8e71c;
  padding: .1em .25em;
}

#projectTagsVizOptions {
  clear: both;
}

#projectTagsVizOptions {
  font-weight: bold;
}

#projectTagsVizOptions a {
  display: inline-block;
  padding: .12em .25em;
  color: #000;
  background-color: #ededed;
  text-decoration: none;
  margin: 0 .25em 0 0;
}

#projectTagsVizOptions a.active {
  background-color: #f8e71c;
}











/*                */
/*  ARLO Logging  */
/*                */


/*** OLD ***/


div.ARLOLogMessageDiv {
	background:#fff4c8;
	position:fixed;
	z-index:100;
	right:0px;
	width:300px;
	bottom:0px;
	display:block;
	margin:0;
	border:1px solid #ffcc00;
	max-height:300px;
	overflow:auto;
}
div.ARLOLogMessageDiv * {
	margin:0;
	padding:0px;
}

div.ARLOLogMessageDiv td {
	border:1px solid #ffcc00;
}

div.ARLOLogMessageCollapseDiv {
	background:#fff4c8;
	z-index:100;
	display:block;
	margin:0;
	border:1px solid #ffcc00;
	max-height:250px;
	overflow:auto;
}

.ARLOLogMessageList {
	background:#fff4c8;
	z-index:100;
	display:inline-block;
	margin:0;
}
.ARLOLogMessageList * {
	margin:0;
	padding:1px 3px 1px 3px;
	list-style: none;
	list-style-type: none;
}

div.ARLOLogMessagePopup {
	margin:10;
	padding: 10px 10px 10px 10px;
}


/*                       */
/*    ARLOModalStatus    */
/*                       */


div.ARLOModalStatusOverDiv {
	filter: alpha(opacity=75);
	-moz-opacity: .75;
	opacity: .75;
	background-color: #404040;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%; height: 100%;
}

div.ARLOModalStatusMessage {
	position: fixed;
	top:50%;
	left:50%;
	margin:-100px 0 0 -100px;

	background-color: Menu;
	border: #f9f9f9;
	height: 200px;
	width: 200px;
}


/*                       */
/*    ARLOModalForm      */
/*                       */


div.ARLOModalFormOverDiv {
	filter: alpha(opacity=75);
	-moz-opacity: .75;
	opacity: .75;
	background-color: #404040;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%; height: 100%;
}

div.ARLOModalFormMessage {
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background-color: #f9f9f9;
	border: #f9f9f9;
}
