#popupR {
height: 100%;
width: 100%;
background: #000000;
position: absolute;
z-index: 4;
top: 0;
-moz-opacity:0.75;
-khtml-opacity: 0.75;
opacity: 0.75;
filter:alpha(opacity=75);
}

#windowR {
width: 600px;
height: 300px;
margin: 1 auto;
border: 1px solid #000000;
background: #ffffff;
position:fixed;
z-index:5;
top: 25%;
left: 25%;
}
#popupM {
height: 100%;
width: 100%;
background: #000000;
position: absolute;
z-index: 4;
top: 0;
-moz-opacity:0.75;
-khtml-opacity: 0.75;
opacity: 0.75;
filter:alpha(opacity=75);
}

#windowM {
width: 600px;
height: 300px;
margin: 1 auto;
border: 1px solid #000000;
background: #ffffff;
position: fixed;
z-index: 5;
top: 25%;
left: 25%;
}

#popupA {
height: 100%;
width: 100%;
background: #000000;
position: absolute;
z-index: 4;
top: 0;
-moz-opacity:0.75;
-khtml-opacity: 0.75;
opacity: 0.75;
filter:alpha(opacity=75);
}

#windowA {
width: 600px;
height: 300px;
margin: 1 auto;
border: 1px solid #000000;
background: #ffffff;
position: fixed;
z-index: 5;
top: 25%;
left: 25%;
}
