{% extends "tools/base.html" %}

{% block content %}

<H1>ADAPT Statistics</H1><HR>

<H2>Feature Set</H2>
{% if tagClasses %}
<ul>
	{% for tagClass in tagClasses %}
	<li>
		{{ tagClass.className }}
	</li>
	{% endfor %}
</ul>
{% else %}
<p>No tagClass are available.</p>
{% endif %}

<br>Number of Tag Classes: {{ numTagClasses }}</br>

<H2>Example Set</H2>

<br>Number of Tags: {{ numTags }}</br>

{% endblock content %}
