{% extends "tools/base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">

  {% if errorMessage %}

  <p class="bg-danger">Error: {{ errorMessage }}</p>

  {% endif %}

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Add File to Project</div>
    <div class="panel-body">
      <form action="" method="POST">
      	{% csrf_token %}
        <div id="div_id_project" class="form-group">
          <label for="id_project" class="control-label">Audio File: {{ audioFile.alias }}</label>
          <input type="hidden" name="mediaFiles" value="{{ audioFileID }}" />
        </div>
      	{{ form|crispy }}
      	<input type="submit" value="Submit" />
      </form>
    </div>
  </div>

</div><!-- .col-md-12 -->
{% endblock content %}
