{% extends "tools/base.html" %}

{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/ArloUserGroup.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/User.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/ArloPermission.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/userPermissions.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--


/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests. 
// Namely for post() requests 
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?  

	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});

	var myARLOModalStatus = null;


	function removeUserFromGroup(userId){
		var groupId = {{arloUserGroup.id}};
		if (confirm("Are you sure you wish to remove this user?")) {
			if (myARLOModalStatus == null) {
 				myARLOModalStatus = new ARLOModalStatus();
 			}
			myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Removing User...</strong>", true);
			var myAPIArloUserGroup = new APIArloUserGroup("{{ArloAPIv0Url}}");
			myAPIArloUserGroup.removeUserFromGroup(
				groupId,
				userId,
				function(json) {
					ARLOLogNotify("Successfully Removed User: " + userId);
					location.reload();
				},
				function(jqXHR, textStatus, errorThrown) {
					ARLOLogError("Failed Removing User: Status: " + textStatus + " Error: " + errorThrown);
					ARLOModalStatusCloseAll();
					myARLOModalStatus = null;
				}
			);
		}
	}

	/* Add a User to an ArloUserGroup  */
	/* Show a form to collect info     */
	/* make an API call to create      */

	function showAddUserToGroupForm(){
		var groupId = {{arloUserGroup.id}};

		/* Create a ARLOModalForm to get the new Value */
		var form = document.createElement("form");
		form.setAttribute('action', "#");
		form.innerHTML = "<label>User Name:</label>";
		form.innerHTML += "<input type='text' name='username'></input><br />";
		form.innerHTML += "<input type='submit' name='submit' value='Save' />&nbsp;";
		form.innerHTML += "<input type='submit' name='cancel' value='Cancel' />";

		var modalForm = new ARLOModalForm();
		modalForm.popupForm(
			form,
			function(form){
				/* callback from the form  */
				/* Save the new Value Here */

				var username = $(form).find('[name=username]').val();

				if (myARLOModalStatus == null) {
	 				myARLOModalStatus = new ARLOModalStatus();
	 			}
				myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Adding User to Group...</strong>", true);
				var myAPIArloUserGroup = new APIArloUserGroup("{{ArloAPIv0Url}}");
				myAPIArloUserGroup.addUserToGroup(
					groupId,
					username,
					function(json) {
						ARLOLogNotify("Successfully Added User: " + username);
						location.reload();
					},
					function(jqXHR, textStatus, errorThrown) {
						ARLOLogError("Failed Adding User: Status: " + textStatus + " Error: " + errorThrown);
						ARLOModalStatusCloseAll();
					}
				);

				return true;  /* close the ModalForm */
			},
		null  /* on cancel, do nothing */
		);
	}


	/* Add an Admin to an ArloUserGroup  */
	/* Show a form to collect info       */
	/* make an API call to create        */

	function showAddAdminToGroupForm(){

		/* Create a ARLOModalForm to get the new Value */
		var form = document.createElement("form");
		form.setAttribute('action', "#");
		form.innerHTML = "<label>User Name:</label>";
		form.innerHTML += "<input type='text' name='username'></input><br />";
		form.innerHTML += "<input type='submit' name='submit' value='Save' />&nbsp;";
		form.innerHTML += "<input type='submit' name='cancel' value='Cancel' />";

		var modalForm = new ARLOModalForm();
		modalForm.popupForm(
			form,

			function(form){
				/* callback from the form  */

				var username = $(form).find('[name=username]').val();

				if (myARLOModalStatus == null) {
					myARLOModalStatus = new ARLOModalStatus();
				}
				myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Looking up User Id...</strong>", true);

				var myAPIUser = new APIUser("{{ArloAPIv0Url}}");

				myAPIUser.lookup_username(
					username,
					function(json) {
						/* Check if we found exactly 1 user */
						if (json.count != 1) {
							ARLOLogError("User Not Found");
							myARLOModalStatus.close();
							myARLOModalStatus = null;
							return;
						}
						/* We have 1 user, proceed to add permissions */
						var user_id = json.results[0].id;
						ARLOLogNotify("Successfully Found User: " + user_id);

						var group_id = {{arloUserGroup.id}};
						addAdminToGroup(user_id, group_id);
					},
					function(jqXHR, textStatus, errorThrown) {
						ARLOLogError("Failed Searching for User: Status: " + textStatus + " Error: " + errorThrown);
						myARLOModalStatus.close();
						myARLOModalStatus = null;
					});



				return true;  /* close the ModalForm */
			},
			null  /* on cancel, do nothing */
		);
	}


	function addAdminToGroup(user_id, group_id){
		if (myARLOModalStatus == null) {
			myARLOModalStatus = new ARLOModalStatus();
		}
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Adding Admin to Group...</strong>", true);

		var myAPIArloUserGroup = new APIArloUserGroup("{{ArloAPIv0Url}}");
		myAPIArloUserGroup.addAdminToGroup(
			group_id,
			user_id,
			function(json) {
				ARLOLogNotify("Successfully Added Admin: " + user_id);
				location.reload();
			},
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Adding Admin: Status: " + textStatus + " Error: " + errorThrown);
				ARLOModalStatusCloseAll();
			}
		);
	}


	var myUserPermissionsEditor = null;
	var myAPIArloPermission = null;
	var myAPIUser = null;
	var myAPIArloUserGroup = null;

	$(document).ready(function(){
		ARLOInit();

		myAPIArloPermission = new APIArloPermission("{{ArloAPIv0Url}}");
		myAPIUser = new APIUser("{{ArloAPIv0Url}}");
		myAPIArloUserGroup = new APIArloUserGroup("{{ArloAPIv0Url}}");
		myUserPermissionsEditor = new UserPermissionsEditor("{% static 'tools/img/loading.gif' %}", myAPIArloPermission, myAPIUser, myAPIArloUserGroup)

	});

-->
</script>

{% endblock javascript %}

{% block content %}

<h1>ARLO User Group</h1>
<H2>{{arloUserGroup.name}}</H2><HR>
<p>Created By: {{arloUserGroup.createdBy.username}}</p>
{% if hasGroupAdmin %}
<p>You have <strong>Admin</strong> Access to this Project.</p>
{% endif %}

<table>

	<tr><td>

		<h3>Users</h3>
		<ul>
			{% for u in arloUserGroup.users.all %}
			<li>
				{{u.username}}
				{% if hasGroupAdmin %}
				(<a href="#" onclick="removeUserFromGroup({{u.id}});return false;">Remove</a>)
				{% endif %}
			</li>
			{% endfor %}
		</ul>

		<strong><a href="#" onclick="showAddUserToGroupForm();return false;">Add User to Group</a></strong>

	</td><td>

		<h3>Admins</h3>

		<ul>
			{% for perm in adminPerms %}
			<li>
				{% if perm.bearer_object.username %} {% comment %} If we have a username, this this is a User object {% endcomment %}
				User: {{perm.bearer_object.username}} ({{perm.bearer_id}})
				{% else %}
				Group: {{perm.bearer_object.name}} ({{perm.bearer_id}})
				{% endif %}
				<a href="#" onclick="myUserPermissionsEditor.removePermission({{perm.id}}, '{{perm.bearer_object}}');return false;">Remove</a>
			</li>
			{% endfor %}
		</ul>

		<strong><a href="#" onclick="showAddAdminToGroupForm();return false;">Add Admin</a></strong>

	</td></tr>
</table>

{% endblock content %}
