{% extends "tools/base.html" %}

{% block javascript%}

	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

	<script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
	<script src="{% static 'third-party/sorttable/sorttable.js' %}" type="text/javascript"></script>
	<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--

	var urlPrefix = "{{ArloUrlPrefix}}";

	function searchFormCallback(json) {
		if (json.searchString.length) {
			var sFileCount = "Searching Media Files... (showing " + json.filesReturned + " of " + json.totalFiles + " found)";
		} else {
			var sFileCount = "Media Files (" + json.filesReturned + " of " + json.totalFiles + " shown)";
		}

		$("#fileCount").prop('innerHTML', sFileCount);

		// empty table except for header row
		var otable=document.getElementById("filesTable");
		while(otable.rows.length>1) 
			otable.deleteRow(otable.rows.length-1); 

		// add results to table
		$.each(json.filesDict, function(index) {
			var id = json.filesDict[index].mediaID;
			var row = '<tr>';
			row += '<td><a href=' + urlPrefix + '/tools/visualizeAudio/' + id + '>Visualize</a></td>';
			row += '<td><a href=' + urlPrefix + '/tools/viewMetadata/' + id + '>Edit Meta</a></td>';
			row += '<td><a class ="delete" href=' + urlPrefix + '/tools/deleteAudio/' + id + '>Delete</a></td>';
			row += '<td>' + json.filesDict[index].startTime + '</td>';
			row += '<td>' + json.filesDict[index].alias + '</td>';
			row += '<td>' + json.filesDict[index].sensorName + '</td>';
			row += '<td>' + json.filesDict[index].durationInSeconds + '</td>';
			row += '</tr>';

			$(row).appendTo("#filesTable");
		});

		// setup a 'delete confirmation' on the links
		// since these are created after page load, they aren't picked up by the Django default 'delete' confirmation.
		$(".delete").click(function(event){
			var x = window.confirm("Are you sure you want to delete this?");
			if(!x) {
				event.preventDefault();
			};
		});
	};

	function searchFiles() {
		$("#fileCount").prop('innerHTML', 'Loading Files... <img src="{% static 'tools/img/loading.gif' %}" width="20px" height="20px"/>');

		$("#searchForm").ajaxSubmit({
			url:'{{ArloUrlPrefix}}/tools/searchAudioFileNames',
			dataType:'json',
			error:function() {ARLOLogError("Error Searching Files");},
			success:searchFormCallback 
		});
	};


	$(document).ready(function() {
		ARLOInit();
		searchFiles();
	});

-->
</script>



{% endblock javascript %}


{% block content %}

<H1>Media File Page</H1><HR>

<H2><a href="{{ArloUrlPrefix}}/tools/uploadAudioFile">Upload Media File</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/uploadAudioFile2">Upload and Convert</a> (supports MP3)</H2>

{%comment%}
<del><H2><!--<a href="{{ArloUrlPrefix}}/tools/deleteUserAudioFiles" class="delete">-->(warning: Delete All Media Files)<!--</a>--></H3></del>
{%endcomment%}
<hr />
<H2 id="fileCount">Existing Media Files</H2>


  <!-- Heads up using jQuery ajaxJorm you must specify method for the Form -->
  <!-- alse SubmitFormOnEnter() doesn't seem to work with ajaxForm -->
	<form id="searchForm" name="searchForm" method="GET">
		{% csrf_token %} <!-- Even though this is currently a GET, include anyway for if we switch -->
		<input type="text" name="searchString" value=""/>
		<input type="submit" name="method" value="Search" onclick="searchFiles();return false;"/>
	</form>

	<table id="filesTable" name="filesTable" class='sortable'>
		<tr><th></th><th></th><th></th><th>Start Time</th><th>Alias<!-- [Relative Path]--></th><th>Sensor</th><th>Duration (s)</th></tr>
	</table>


{% endblock content %}
