<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'tools/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tools/css/arlo.css' %}" />
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/rtl.css' %}" />{% endif %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<!--    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type ="text/javascript">
    google.load("jquery", "1.11.2");
    </script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- New ARLO JS -->
  <script src="{% static 'tools/js/arlo2.js' %}" type="text/javascript"></script>



  <!-- Used?
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    -->

	{% load staticfiles %}
  <!-- needed?
    <script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
    <script src="{% static 'third-party/jquery-popupWindow/jquery.popupWindow.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
  -->
    <!--
      $(document).ready(function(){
        $(".delete").click(function(event){
          var x = window.confirm("Are you sure you want to delete this?");
          if(!x)
          {
            event.preventDefault();
          };
        });
      });
    -->
    </script>
    {% block javascript %}{% endblock %}
  </head>
  {% load i18n %}

  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

    <!-- Container -->
    <div id="container" class="container">

      {% if not is_popup %}
      <!-- Header -->
      <div id="header row">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ArloUrlPrefix}}/tools/userHome">ARLO</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a href="{{ArloUrlPrefix}}/tools/userHome">Audio Files</a>
              </li>
              <li>
                <a href="{{ArloUrlPrefix}}/tools/projects">Projects</a>
              </li>
              <li>
                <a href="{{ArloUrlPrefix}}/tools/userLibraries">Libraries</a>
              </li>
							{% if user.is_staff %}
							<li>
								<a href="{{ArloUrlPrefix}}/tools/createUser">Admin</a>
							</li>
							{% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ArloUrlPrefix}}/tools/userHome">User Home</a></li>
                  <li><a href="{{ArloUrlPrefix}}/tools/userSettings">Settings</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ArloUrlPrefix}}/tools/logout/">{% trans 'Log out' %}</a></li>
                </ul>
              </li>
            </ul><!-- ul.nav-->
            {% endif %}
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      </div><!-- END Header -->

      {% endif %} <!-- if not popup... -->

      {% if messages %}
        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
      {% endif %}

      <!-- Content -->
      <div id="content" class="row">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
      </div> <!-- END Content -->

      {% block footer %}<div id="footer"></div>{% endblock %}
    </div>
    <!-- END Container -->

  </body>
</html>
