{% extends "tools/base1.html" %}
{% load i18n %}

{% block title %}{% trans 'ARLO' %}{% endblock %}

{% block branding %}
<a href="/">{% trans 'ARLO Version 1.0' %}</a>

<style>
.adminfunctions { font-weight:bold; background: #CCFFFF; border:2px;}
.jobstatus_Error {background: #FF0033;}
.jobstatus_Queued {background: #FFFF33;}
.jobstatus_Stopped {background: #FF9900;}
.jobstatus_Running {background: #00FF66;}
</style>

{% if messageList %}
	<ul class="messagelist">
	{% for message in messageList %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
{% endif %}
{% endblock %}

{% block nav-global %}
{% endblock %}

{% block footer %}
<HR>
{% endblock %}
