{% extends "tools/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% include 'tools/adminMenu.html' %}

<div class="col-md-9">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Create User</div>
    <div class="panel-body">

      {% if message %}
      <div class="well">
        {{message}}
      </div>
      {% endif %}

      <form action="" id="createUserForm" method="POST">
      	{% csrf_token %}
        {{ form|crispy }}
      	<input class="btn" type="submit" name="method" value="Create User" />
      </form>

    </div>
  </div>
</div>
{% endblock content %}
