{% extends "tools/base.html" %}


{% block content %}
<H1>Create New Settings</H1>
{{saveMessage}}<br/>
<form action="createSettings" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
</form>
{% endblock content %}
