{% extends "tools/base.html" %}

{% block javascript%}

{% load static %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

{% endblock javascript %}

{% block content %}

{% load crispy_forms_tags %}

<div class="col-md-12">

  <ol class="breadcrumb">
    <li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
    <li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project}}</a></li>
    <li>Create Transcript</li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-body">

      <form enctype="multipart/form-data" action="" method="POST">
  	    {% csrf_token %}
  		  {{ form|crispy }}
  	    <input class="btn bn-sm btn-success loadingSubmit" type="submit" value="Submit" />
      </form>

    </div>

    {% if status %}
      <p>Status: {{ status }} </p>
      {% if filePath %}
        <a href='{% get_media_prefix %}/{{ filePath }}'>Click Here to Download</a>
      {% endif %}
    {% endif %}
  </div>
</div>

{% endblock content %}
