{% extends "tools/base.html" %}
{% block javascript %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>


<script type="text/javascript">
<!--
$(document).ready(function(){
	ARLOInit();

	getDeleteCount();

	$("#id_tagSets").change(function(event){
		getDeleteCount();
	});
	$("#id_tagClasses").change(function(event){
		getDeleteCount();
	});
	$("#id_deleteUserTags").change(function(event){
		getDeleteCount();
	});
	$("#id_deleteMachineTags").change(function(event){
		getDeleteCount();
	});

	$("#selectAllTagSets").click(function(event){
		event.preventDefault();
		selectAllTagSets();
	}).submit(function(event){
		event.preventDefault();
		selectAllTagSets();
	});
	$("#selectAllTagClasses").click(function(event){
		event.preventDefault();
		selectAllTagClasses();
	}).submit(function(event){
		event.preventDefault();
		selectAllTagClasses();
	});

	/* confirm the delete */
	$("#submitDelete").click(function(event){
		if (! confirm("Delete Tags?")) {
			event.preventDefault();
		} else {
			showModalPopup();
			return true;
		}
	}).submit(function(event){
		if (! confirm("Delete Tags?")) {
			event.preventDefault();
		} else {
			showModalPopup();
			return true;
		}
	});

});

var myARLOModalStatus = null;
function showModalPopup() {
	myARLOModalStatus = new ARLOModalStatus();
	myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Deleting Tags...</strong>", true);
};

function selectAllTagSets(){
	$("#id_tagSets").children().each(function(){
		$(this).prop("selected", true);
	});
	getDeleteCount();
};

function selectAllTagClasses(){
	$("#id_tagClasses").children().each(function(){
		$(this).prop("selected", true);
	});
	getDeleteCount();
};

function getDeleteCount(){
	$("#deleteTagCount").prop('innerHTML', 'Counting Tags... <img src="{% static 'tools/img/loading.gif' %}" width="20px" height="20px"/>');

	$("#deleteTagsForm").ajaxSubmit({
		url:'{{ArloUrlPrefix}}/tools/getDeleteTagCount/{{project.id}}',
		dataType:'json',
		type:'GET', /* have to override default form method */
		error:function() {
			if (myARLOModalStatus == null) {
				/*
					If the modal status is already popped up for starting the 
					delete, don't bother alerting on this error.
				*/
				ARLOLogError("Error Counting Tags");
			}
		},
		success:getDeleteCountCallback
	});

};

function getDeleteCountCallback(json){
	var sDeleteCount = "";
	if ("count" in json) {
		sDeleteCount = "This will delete " + json.count + " tags";
	}
	$("#deleteTagCount").prop('innerHTML', sDeleteCount);
};

-->
</script>

{% endblock javascript %}

{% block content %}

<H1>Delete Tags</H1>

<form id='deleteTagsForm' method="POST">
	{% csrf_token %}
	<p>{{form.deleteUserTags.errors}} {{form.deleteUserTags.label}} {{form.deleteUserTags}}</p>
	<p>{{form.deleteMachineTags.errors}} {{form.deleteMachineTags.label}} {{form.deleteMachineTags}}</p>
	<p>
		{{form.tagSets.errors}} TagSets {{form.tagSets}}
		<input type='submit' id='selectAllTagSets' name='selectAllTagSets' value='Select All' />
	</p>
	<p>
		{{form.tagClasses.errors}} TagClasses {{form.tagClasses}}
		<input type='submit' id='selectAllTagClasses' name='selectAllTagClasses' value='Select All' />
	</p>

	<input id="submitDelete" type='submit' value="Delete"/>
</form>

<font color="red"><h2 id='deleteTagCount' ></h2></font>

{% endblock content %}
