{% extends "tools/base.html" %}
{% block javascript%}

{% load staticfiles %}

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
	$(document).ready(function(){
		SetupHelpButtons('{{ArloUrlPrefix}}');

	});
-->
</script>
{% endblock javascript %}

{% block content %}
<h1>Expert Agreement Classification</h1>
<hr />
<br />
<p><a href="http://wiki.arloproject.com/Expert_Agreement_Classification">Documentation</a></p>
{{message}}

<br />

<table border='2'><tr><td>
	<h3><u>Run Classification</u></h3>
	
	<form action="" id="discoveryForm" method="POST">
		{% csrf_token %}
		{{ classifyForm.errors }}
		<table>
			<tr>
				<td>
					{{classifyForm.name.errors}}
					<p>Name:{{classifyForm.name}}</p>
					{{classifyForm.randomWindowJobId.errors}}
					<p>randomWindowJobId:{{classifyForm.randomWindowJobId}}</p>
					{{classifyForm.distanceWeightingPower.errors}}
					<p>Distance Weighting Power:{{classifyForm.distanceWeightingPower}}</p>
					{{classifyForm.classificationProbabilityThreshold.errors}}
					<p>Classification Probability Threshold:{{classifyForm.classificationProbabilityThreshold}}</p>
					<strong>Spectra Details:</strong><br />
					<table border='0'>
						<tr>
							<td>Num Frequency Bands<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="frequencyBands"/></td>
							<td>
								{{classifyForm.numFrequencyBands.errors}}
								{{classifyForm.numFrequencyBands}}
							</td>
						</tr><tr>
							<td>Num Time Frames Per Second<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="framesPerSecond"/></td>
							<td>
								{{classifyForm.numTimeFramesPerSecond.errors}}
								{{classifyForm.numTimeFramesPerSecond}}
							</td>
						</tr><tr>
							<td>Damping Ratio<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="dampingRatio"/></td>
							<td>
								{{classifyForm.dampingRatio.errors}}
								{{classifyForm.dampingRatio}}
							</td>
						</tr><tr>
							<td>Min Frequency<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="minFrequency"/></td>
							<td>
								{{classifyForm.minFrequency.errors}}
								{{classifyForm.minFrequency}}
							</td>
						</tr><tr>
							<td>Max Frequency<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="maxFrequency"/></td>
							<td>
								{{classifyForm.maxFrequency.errors}}
								{{classifyForm.maxFrequency}}
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr><td>
							{{classifyForm.sourceTagSets.errors}}
							<p>Source TagSets<br />{{classifyForm.sourceTagSets}}</p>
						</td></tr>
					</table>
				</td>
			</tr>
			<tr><td>
				<input type="submit" name="method" value="Classify" />
			</td></tr>
		</table>
	</form>
</td></tr></table>

<br />

<table border='2'><tr><td>
	<h3><u>Run Optimization</u></h3>
	
	<form action="" id="discoveryForm" method="POST">
		{% csrf_token %}
		{{ optimizeForm.errors }}
		<table>
			<tr>
				<td>
					{{optimizeForm.name.errors}}
					<p>Name:{{optimizeForm.name}}</p>
					{{optimizeForm.randomWindowJobId.errors}}
					<p>randomWindowJobId:{{optimizeForm.randomWindowJobId}}</p>
					{{optimizeForm.distanceWeightingPower.errors}}
					<p>Distance Weighting Power:{{optimizeForm.distanceWeightingPower}}</p>
					{{optimizeForm.classificationProbabilityThreshold.errors}}
					<p>Classification Probability Threshold:{{optimizeForm.classificationProbabilityThreshold}}</p>
					<strong>Spectra Details:</strong><br />
					<table border='0'>
						<tr><th></th><th>Lower Bound</th><th>Upper Bound</th></tr>
						<tr>
							<td>Num Frequency Bands<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="frequencyBands"/></td>
							<td>
								{{optimizeForm.numFrequencyBandsLower.errors}}
								{{optimizeForm.numFrequencyBandsLower}}
							</td><td>
								{{optimizeForm.numFrequencyBandsUpper.errors}}
								{{optimizeForm.numFrequencyBandsUpper}}
							</td>
						</tr><tr>
							<td>Num Time Frames Per Second<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="framesPerSecond"/></td>
							<td>
								{{optimizeForm.numTimeFramesPerSecondLower.errors}}
								{{optimizeForm.numTimeFramesPerSecondLower}}
							</td><td>
								{{optimizeForm.numTimeFramesPerSecondUpper.errors}}
								{{optimizeForm.numTimeFramesPerSecondUpper}}
							</td>
						</tr><tr>
							<td>Damping Ratio<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="dampingRatio"/></td>
							<td>
								{{optimizeForm.dampingRatioLower.errors}}
								{{optimizeForm.dampingRatioLower}}
							</td><td>
								{{optimizeForm.dampingRatioUpper.errors}}
								{{optimizeForm.dampingRatioUpper}}
							</td>
						</tr><tr>
							<td>Min Frequency<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="minFrequency"/></td>
							<td>
								{{optimizeForm.minFrequencyLower.errors}}
								{{optimizeForm.minFrequencyLower}}
							</td><td>
								{{optimizeForm.minFrequencyUpper.errors}}
								{{optimizeForm.minFrequencyUpper}}
							</td>
						</tr><tr>
							<td>Max Frequency<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="maxFrequency"/></td>
							<td>
								{{optimizeForm.maxFrequencyLower.errors}}
								{{optimizeForm.maxFrequencyLower}}
							</td><td>
								{{optimizeForm.maxFrequencyUpper.errors}}
								{{optimizeForm.maxFrequencyUpper}}
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr><td>
							{{optimizeForm.sourceTagSets.errors}}
							<p>Source TagSets<br />{{optimizeForm.sourceTagSets}}</p>
						</td></tr>
					</table>
				</td>
			</tr>
			<tr><td>
				<input type="submit" name="method" value="Optimize" />
			</td></tr>
		</table>
	</form>

</td></tr></table>


{% endblock content %}
