{% extends "tools/base.html" %}

{% block javascript%}

{% load static %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
	var myARLOModalStatus = null;
	function showSubmitStatus() {
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Building Export...</strong>", false);
	};
-->
</script>

{% endblock javascript %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">

	<ol class="breadcrumb">
		<li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
		<li><a href="{{ArloUrlPrefix}}/tools/libraryFiles/{{library.id}}">Library: {{library.name}}</a></li>
		<li>Export Metadata</li>
	</ol>

	{% if status %}
  <div class="well">
    	<p>Status: {{ status }} </p>
    	{% if filePath %}
    		<p><a href='{% get_media_prefix %}/{{ filePath }}'>Click here to download</a>.</p>
    	{% endif %}
  </div>
	{% endif %}

  <div class="panel panel-primary start-new-library">
    <div class="panel-body">

      <form enctype="multipart/form-data" action="" method="POST">
      	{% csrf_token %}
        {{ form|crispy }}

      	<input class="btn" type="submit" value="Export" onclick='showSubmitStatus(); return true;'/>
      </form>

    </div>
  </div>

</div>
{% endblock content %}
