{% extends "tools/base.html" %}

{% block content %}

<H2>{{formTitle}}</H2>
<form method="POST" action="">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock content %}