{% extends "tools/base.html" %}
{% block javascript%}

{% load staticfiles %}

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
	$(document).ready(function(){
		SetupHelpButtons('{{ArloUrlPrefix}}');

	});
-->
</script>
{% endblock javascript %}

{% block content %}
<h1>Weka SVM Job Launcher</h1>
<hr />
<br />
{% comment %}
TODO 
<p><a href="http://wiki.arloproject.com/Expert_Agreement_Classification">Documentation</a></p>
{% endcomment %}

{{message}}

<br />

<table border='2'><tr><td>
	
	<form action="" id="discoveryForm" method="POST">
		{% csrf_token %}
		{{ svmForm.errors }}
		<table>
			<tr>
				<td>
					{{svmForm.name.errors}}
					<p>{{svmForm.name.label}}:{{svmForm.name}}</p>

					<strong>SVM Details:</strong><br />
					<table border='0'>
						<tr>
							<td>{{svmForm.numFramesPerExample.label}}</td>
							<td>
								{{svmForm.numFramesPerExample.errors}}
								{{svmForm.numFramesPerExample}}
							</td>
						</tr><tr>
							<td>{{svmForm.complexityConstant.label}}</td>
							<td>
								{{svmForm.complexityConstant.errors}}
								{{svmForm.complexityConstant}}
							</td>
						</tr>
					</table>

					<strong>Spectra Details:</strong><br />
					<table border='0'>
						<tr>
							<td>{{svmForm.numFrequencyBands.label}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="frequencyBands"/></td>
							<td>
								{{svmForm.numFrequencyBands.errors}}
								{{svmForm.numFrequencyBands}}
							</td>
						</tr><tr>
							<td>{{svmForm.numTimeFramesPerSecond.label}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="framesPerSecond"/></td>
							<td>
								{{svmForm.numTimeFramesPerSecond.errors}}
								{{svmForm.numTimeFramesPerSecond}}
							</td>
						</tr><tr>
							<td>{{svmForm.dampingRatio.label}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="dampingRatio"/></td>
							<td>
								{{svmForm.dampingRatio.errors}}
								{{svmForm.dampingRatio}}
							</td>
						</tr><tr>
							<td>{{svmForm.minFrequency.label}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="minFrequency"/></td>
							<td>
								{{svmForm.minFrequency.errors}}
								{{svmForm.minFrequency}}
							</td>
						</tr><tr>
							<td>{{svmForm.maxFrequency.label}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="maxFrequency"/></td>
							<td>
								{{svmForm.maxFrequency.errors}}
								{{svmForm.maxFrequency}}
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr><td>
							{{svmForm.sourceTagSet.errors}}
							<p>{{svmForm.sourceTagSet.label}}<br />{{svmForm.sourceTagSet}}</p>
						</td></tr>
						<tr><td>
							{{svmForm.destinationTagSet.errors}}
							<p>{{svmForm.destinationTagSet.label}}<br />{{svmForm.destinationTagSet}}</p>
						</td></tr>
					</table>
				</td>
			</tr>
			<tr><td>
				<input type="submit" name="method" />
			</td></tr>
		</table>
	</form>
</td></tr></table>


{% endblock content %}
