{% extends "tools/base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">

  <div class="panel panel-primary project-info">
    <div class="panel-heading">Launch Library Validation</div>

		<div class="panel-body">

			{% if message %}
			<div class="well">
				{{message}}
			</div>
			{% endif %}

			<form action="" id="myForm" method="POST">
				{% csrf_token %}
				{{ form | crispy }}
				<input class="btn" type="submit" name="method" value="Launch" />
			</form>

		</div>

	</div>
</div>

{% endblock content %}
