{% extends "tools/base.html" %}

{% block javascript%}

{% load staticfiles %}

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Library.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/ArloPermission.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/User.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/ArloUserGroup.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/userPermissions.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/sorttable/sorttable.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--


/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests.
// Namely for post() requests
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?

	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});


	var myARLOModalStatus = null;

	var myAPILibrary = null;
	var myUserPermissionsEditor = null;
	var myAPIArloPermission = null;
	var myAPIUser = null;
	var myAPIArloUserGroup = null;

	/**
	 * Edit the default permissions of the Library.
	 */

	function showEditDefaultPermissionsForm(library_id, has_read, has_write, has_launch_job, has_admin){

		/* Create an ARLOModalForm to edit the permissions */
		var form = document.createElement("form");
		form.setAttribute('action', "#");
		var formHtml = "" +
			"<input type='hidden' name='library_id' value='" + library_id + "'/>" +
			"<label>Modifying Default Permissions for Library (" + library_id + ")</label>" +
			"<table>" +
			"  <tr>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>Read?</p></td>" +
			"    <td><input type='checkbox' name='read' value='read'";
		if (has_read) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>Write?</p></td>" +
			"    <td><input type='checkbox' name='write' value='write'";
		if (has_write) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>LaunchJob?</p></td>" +
			"    <td><input type='checkbox' name='launch_job' value='launch_job'";
		if (has_launch_job) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"    <td><p style='text-align:right'>Admin?</p></td>" +
			"    <td><input type='checkbox' name='admin' value='admin'";
		if (has_admin) { formHtml += " checked='checked'"; }
		formHtml += "></td>" +
			"  </tr><tr>" +
			"</table>" +
			"<input type='submit' name='submit' value='Save' />&nbsp;" +
			"<input type='submit' name='cancel' value='Cancel' />";

		form.innerHTML = formHtml;

		var modalForm = new ARLOModalForm();
		modalForm.popupForm(
			form,
			function(form, context){
				/* callback from the form  */
				/* Save the Values Here */

				var library_id = $(form).find('[name=library_id]').val();
				var has_read = $(form).find('[name=read]').is(':checked');
				var has_write = $(form).find('[name=write]').is(':checked');
				var has_launch_job = $(form).find('[name=launch_job]').is(':checked');
				var has_admin = $(form).find('[name=admin]').is(':checked');

				if (myARLOModalStatus == null) {
					myARLOModalStatus = new ARLOModalStatus();
				}

				editDefaultPermissions(library_id, has_read, has_write, has_launch_job, has_admin);

				return true;  /* close the ModalForm */
			},
			null,  /* on cancel, do nothing */
			this /* callback context */
		);
	}


	function editDefaultPermissions(library_id, has_read, has_write, has_launch_job, has_admin){
		if (this.myARLOModalStatus == null) {
			this.myARLOModalStatus = new ARLOModalStatus();
		}
		this.myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Saving...</strong>", true);

		myAPILibrary.updateDefaultPermissions(
			library_id,
			has_read,
			has_write,
			has_launch_job,
			has_admin,
			function(json) {
				ARLOLogNotify("Successfully Edited Permissions");
				location.reload();
			},
			function(jqXHR, textStatus, errorThrown) {
				ARLOLogError("Failed Editing Permissions: Status: " + textStatus + " Error: " + errorThrown);
				this.myARLOModalStatus.close();
				this.myARLOModalStatus = null;
			},
			this /* callback context */
		);
	}


	$(document).ready(function(){
		ARLOInit();

		myAPILibrary = new APILibrary("{{ArloAPIv0Url}}");
		myAPIArloPermission = new APIArloPermission("{{ArloAPIv0Url}}");
		myAPIUser = new APIUser("{{ArloAPIv0Url}}");
		myAPIArloUserGroup = new APIArloUserGroup("{{ArloAPIv0Url}}");
		myUserPermissionsEditor = new UserPermissionsEditor("{% static 'tools/img/loading.gif' %}", myAPIArloPermission, myAPIUser, myAPIArloUserGroup)

	});

-->
</script>
{% endblock javascript %}



{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">
	<ol class="breadcrumb">
		<li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
		<li><a href="{{ArloUrlPrefix}}/tools/libraryFiles/{{library.id}}">Library: {{library.name}}</a></li>
		<li>Edit Permissions</li>
	</ol>
</div>

<div class="col-md-3">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Default Permissions
      <a class="btn btn-xs btn-success pull-right" href="#" onclick='showEditDefaultPermissionsForm(
      				{{library.id}},
      				{{library.default_permission_read|yesno:"true,false"}},
      				{{library.default_permission_write|yesno:"true,false"}},
      				{{library.default_permission_launch_job|yesno:"true,false"}},
      				{{library.default_permission_admin|yesno:"true,false"}}
      				);return false;'>Edit</a>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered">
      	<tr>
          <td>Read</td>
          <td class="{% if library.default_permission_read %}success{% else %}danger{%endif%}">{{library.default_permission_read}}</td>
        </tr>
      	<tr>
          <td>Write</td>
          <td class="{% if library.default_permission_write %}success{% else %}danger{%endif%}">{{library.default_permission_write}}</td>
        </tr>
      	<tr>
          <td>Launch Job</td>
          <td class="{% if library.default_permission_launch_job %}success{% else %}danger{%endif%}">{{library.default_permission_launch_job}}</td>
        </tr>
      	<tr>
          <td>Admin</td>
          <td class="{% if library.default_permission_admin %}success{% else %}danger{%endif%}">{{library.default_permission_admin}}</td>
        </tr>
      </table>
    </div>
  </div>

</div><!-- .col-md-3 -->


<div class="col-md-9">

  <div class="panel panel-success">
    <div class="panel-heading">
      User Permissions
      <a href="#" class="btn btn-xs btn-primary pull-right" onclick="myUserPermissionsEditor.showAddPermissionForm('library', {'{{library.id}}':'{{library.name}}'});return false;">Add Permissions</a>
    </div>
    <div class="panel-body">
      <table class='table table-bordered table-striped'>
      	<tr>
          <th>Bearer</th>
          <th>Read</th>
          <th>Write</th>
          <th>LaunchJob</th>
          <th>Admin</th>
          <th></th>
        </tr>
      	{% for perm in libraryUserPermissions %}
      	<tr>
      		<td>{{perm.bearer_object.username}} ({{perm.bearer_id}})</td>
      		<td class="{% if perm.read %}success{% else %}danger{%endif%}">{{perm.read}}</td>
      		<td class="{% if perm.write %}success{% else %}danger{%endif%}">{{perm.write}}</td>
      		<td class="{% if perm.launch_job %}success{% else %}danger{%endif%}">{{perm.launch_job}}</td>
      		<td class="{% if perm.admin %}success{% else %}danger{%endif%}">{{perm.admin}}</td>
      		<td>
            <div class="btn-group">
              <a href="#" class="btn btn-xs btn-success" onclick="myUserPermissionsEditor.showEditPermissionForm({{perm.id}}, '{{perm.bearer_object}}', '{{perm.target_object}}', {{perm.read|yesno:"true,false"}}, {{perm.write|yesno:"true,false"}}, {{perm.launch_job|yesno:"true,false"}}, {{perm.admin|yesno:"true,false"}});return false;">Edit</a>
        		  <a href="#" class="btn btn-xs btn-danger" onclick="myUserPermissionsEditor.removePermission({{perm.id}}, '{{perm.bearer_object}}');return false;">Remove</a>
            </div>
          </td>
      	</tr>
      	{% endfor %}
      </table>
    </div>
  </div>

</div>


{% endblock content %}
