<!-- <meta http-equiv="refresh" content="15"> -->
{% extends "tools/base.html" %}
{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/sorttable/sorttable.js' %}" type="text/javascript"></script>
<script type="text/javascript">
<!--

var projectId = {{project.id}};

function loadQueueTasksCallback(json) {

  console.log("loadQueueTasksCallback")

  $("#queueTasksHeader").prop('innerHTML', "QueueTasks (" + json.tasksReturned + " of " + json.totalTasks + " shown)");

  // empty table except for header row
	//var otable=document.getElementById("queueTasksTable");
	//while(otable.rows.length>1)
		//otable.deleteRow(otable.rows.length-1);
  $('#queueTasksTable tr:gt(0)').remove();

	if (json.tasksList.length == 0)
		$("<tr><td colspan=9><i>No Tasks To Show</i></td></tr>").appendTo("#queueTasksTable");

	// add results to table
	$.each(json.tasksList, function(index) {

    console.log("Doing a row!");

		var row = '<tr>';

		// id
		row += '<td>';
		row += '<a href="{{ArloUrlPrefix}}/tools/viewJob/' + json.tasksList[index].taskId + '">'
			+ json.tasksList[index].taskId + '</a></td>';

		// name
		row += '<td>';
		row += json.tasksList[index].name + '</td>';

		// type
		row += '<td>' + json.tasksList[index].typeName+ '</td>';

		// project ID / Name
		if (json.tasksList[index].projectId > 0) {
			row += '<td><a href="{{ArloUrlPrefix}}/tools/projectFiles/'
				+ json.tasksList[index].projectId + '">'
				+ json.tasksList[index].projectName + '</a></td>';
		} else {
			row += '<td></td>';
		}

		// creation date
		row += '<td>' + json.tasksList[index].creationDate + '</td>';

		// priority
		row += '<td>' + json.tasksList[index].priority + '</td>';

		// status
		var statusName = json.tasksList[index].statusName;

		if (statusName == "Complete") {
			row += '<td class="success"><span class="jobstatus_' + json.tasksList[index].statusName + '">' + json.tasksList[index].statusName + '</span></td>';
		} else {
			row += '<td class=""><span class="jobstatus_' + json.tasksList[index].statusName + '">' + json.tasksList[index].statusName + '</span></td>';
		}

		// child Tasks
		row += "<td>";
		if (json.tasksList[index].numChildTasks > 0) {
			$.each(json.tasksList[index].childTaskStatuses, function(childIndex) {
				var childStatusName = json.tasksList[index].childTaskStatuses[childIndex].statusName;
        if (childStatusName == "Error") {
          row += '<span class="jobstatus_' + childStatusName + ' text-danger">' + childStatusName + '</span>: ';
        } else {
          row += '<span class="jobstatus_' + childStatusName + ' text-success">' + childStatusName + '</span>: ';
        }
				row += json.tasksList[index].childTaskStatuses[childIndex].numTasks + '<br />';
			});
		}
		row += '</td></tr>';

    console.log(row)

		$("#queueTasksTable").append(row);

	});
};

function loadQueueTasks() {
  console.log("loadQueueTasks")
	$("#queueTasksHeader").prop('innerHTML', 'Loading QueueTasks... <img src="{% static 'tools/img/loading.gif' %}" width="20px" height="20px"/>');
  // Not sure why it was waiting for a click to load tasks ... binding and doing it now...
  $.ajax({
    url:'{{ArloUrlPrefix}}/tools/searchQueueTasks/' + projectId,
    dataType: 'json',
    success: loadQueueTasksCallback
  });


  /**
  $("#queueTasksSearchForm").ajaxSubmit({
		url:'{{ArloUrlPrefix}}/tools/searchQueueTasks/' + projectId,
		dataType:'json',
		error:function() {ARLOLogError("Error Searching QueueTasks");},
		success:loadQueueTasksCallback
	});
  **/

};


$(document).ready(function(){
	ARLOInit();
  loadQueueTasks();

  $('#queueTasksSearchFormSubmit').bind('click', function() {
    $.ajax({
      url:'{{ArloUrlPrefix}}/tools/searchQueueTasks/' + projectId,
      dataType: 'json',
      success: loadQueueTasksCallback
    });
  })

});
-->
</script>
{% endblock javascript %}
{% block content %}

{% load crispy_forms_tags %}

<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading" id="queueTasksHeader">Queued Tasks</div>
    <div class="panel-body">

      <div class="well">Jobs in the QueueTask job manager</div>

      <form id="queueTasksSearchForm" method="GET">
      	{{queueTasksSearchForm|crispy}}
      	<input id="queueTasksSearchFormSubmit" class="btn btn-sm btn-success" type="submit" name="method" value="Update" onclick="loadQueueTasks();return false;"/>
      </form>

      <table class="table table-striped table-bordered margin-top" id="queueTasksTable">
        <thead>
          <tr>
        		<th>id</th>
        		<th>Name</th>
        		<th>Type</th>
        		<th>Project</th>
        		<th>Creation Date</th>
        		<th>Priority</th>
        		<th>Status</th>
        		<th>Child Tasks</th>
      	   </tr>
         </thead>
      </table>

    </div>
  </div>

  <!-- Tony says not needed anymore.
  <div class="panel panel-primary start-new-library">
    <div class="panel-heading" id="queueTasksHeader">Current Jobs</div>
    <div class="panel-body">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
        		<td></td>
        		<td>Name</td>
        		<td>Type</td>
        		<td>Creation Date</td>
        		<td>Deleted?</td>
        		<td>Running?</td>
        		<td>Complete?</td>
        		<td>% Complete</td>
        		<td></td>
        		<td></td>
        		<td></td>
	        </tr>
        </thead>

      	{% for job in jobs %}
      	<tr>
      		<td><a href="{{ArloUrlPrefix}}/tools/viewJob/{{job.id}}">View</a></td>
      		<td>{{job.name}}</td>
      		<td>{{job.type.name}}</td>
      		<td>{{job.creationDate}}</td>
      		<td>{% if job.wasDeleted %}True{% else %}False{% endif %}</td>
      		<td>{% if job.isRunning %}True{% else %}False{% endif %}</td>
      		<td>{% if job.isComplete %}True{% else %}False{% endif %}</td>
      		<td>{{job.fractionCompleted}}</td>
      		<td>
      			{% if job.isRunning %}
      				{% if job.type.name == "SupervisedTagDiscovery" %}
      				<a href="{{ArloUrlPrefix}}/tools/pauseSupervisedBias/{{job.id}}">Pause</a>
      				{% else %}
      				<!--  <a href="{{ArloUrlPrefix}}/tools/pauseJob/{{job.id}}">Pause</a> -->
      				<!--{% endif %}
      			{% else %}
      				{% if job.isComplete %}
      				Done
      				{% else %}
      					{% if job.type.name == "SupervisedTagDiscovery" %}
      					<a href="{{ArloUrlPrefix}}/tools/resumeSupervisedBias/{{job.id}}">Resume</a>
      					{% else %}
      					<!-- <a href="{{ArloUrlPrefix}}/tools/resumeJob/{{job.id}}">Resume</a> -->
      					<!--{% endif %}
      				{% endif %}
      			{% endif %}
      		</td>
      		<td>
      			{% if job.type.name == "SupervisedTagDiscovery" %}
      			<a class="delete" href="{{ArloUrlPrefix}}/tools/deleteSupervisedBias/{{job.id}}">Delete</a>
      			{% else %}
      			<!-- <a class="delete" href="{{ArloUrlPrefix}}/tools/deleteJob/{{job.id}}">Delete</a> -->
      			<!--{% endif %}
      		</td>
      		<td></td>
      	</tr>
      	{% endfor %}

      </table>

    </div>
  </div>-->

</div>
{% endblock content %}
