{% extends "tools/base.html" %}

{% block javascript%}

{% load static %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

{% endblock javascript %}


{% block content %}
<H1>Create PitchTrace CSV</H1>
<HR>
<form enctype="multipart/form-data" action="" method="POST">
	{% csrf_token %}
	<table>

		<tr><th>
			{{form.pitchTraceType.label}}
			</th><td>
			{{form.pitchTraceType.errors}}
			{{form.pitchTraceType}}
		</td></tr>

		<tr><th>
			{{form.startTime.label}}
			</th><td>
			{{form.startTime.errors}}
			{{form.startTime}}
		</td></tr>

		<tr><th>
			{{form.endTime.label}}
			</th><td>
			{{form.endTime.errors}}
			{{form.endTime}}
		</td></tr>

		<tr><th>
			{{form.numTimeFramesPerSecond.label}}
			</th><td>
			{{form.numTimeFramesPerSecond.errors}}
			{{form.numTimeFramesPerSecond}}
		</td></tr>

		<tr><th>
			{{form.numFrequencyBands.label}}
			</th><td>
			{{form.numFrequencyBands.errors}}
			{{form.numFrequencyBands}}
		</td></tr>

		<tr><th>
			{{form.dampingFactor.label}}
			</th><td>
			{{form.dampingFactor.errors}}
			{{form.dampingFactor}}
		</td></tr>

		<tr><th>
			{{form.spectraMinFrequency.label}}
			</th><td>
			{{form.spectraMinFrequency.errors}}
			{{form.spectraMinFrequency}}
		</td></tr>

		<tr><th>
			{{form.spectraMaxFrequency.label}}
			</th><td>
			{{form.spectraMaxFrequency.errors}}
			{{form.spectraMaxFrequency}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.numSamplePoints.label}}
			</th><td>
			{{form.numSamplePoints.errors}}
			{{form.numSamplePoints}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.minCorrelation.label}}
			</th><td>
			{{form.minCorrelation.errors}}
			{{form.minCorrelation}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.entropyThreshold.label}}
			</th><td>
			{{form.entropyThreshold.errors}}
			{{form.entropyThreshold}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.pitchTraceStartFreq.label}}
			</th><td>
			{{form.pitchTraceStartFreq.errors}}
			{{form.pitchTraceStartFreq}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.pitchTraceEndFreq.label}}
			</th><td>
			{{form.pitchTraceEndFreq.errors}}
			{{form.pitchTraceEndFreq}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.minEnergyThreshold.label}}
			</th><td>
			{{form.minEnergyThreshold.errors}}
			{{form.minEnergyThreshold}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.tolerance.label}}
			</th><td>
			{{form.tolerance.errors}}
			{{form.tolerance}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.inverseFreqWeight.label}}
			</th><td>
			{{form.inverseFreqWeight.errors}}
			{{form.inverseFreqWeight}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.maxPathLengthPerTransition.label}}
			</th><td>
			{{form.maxPathLengthPerTransition.errors}}
			{{form.maxPathLengthPerTransition}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.windowSize.label}}
			</th><td>
			{{form.windowSize.errors}}
			{{form.windowSize}}
		</td></tr>

		<tr class='fundamenalSettings'><th>
			{{form.extendRangeFactor.label}}
			</th><td>
			{{form.extendRangeFactor.errors}}
			{{form.extendRangeFactor}}
		</td></tr>

	</table>
	<input type="submit" value="Submit" onclick='showSubmitStatus(); return true;'/>
</form>

<br />

{% if status %}
<p>Status: {{ status }} </p>
{% if filePath %}
<a href='{% get_media_prefix %}/{{ filePath }}'>Click Here to Download</a>
{% endif %}
{% endif %}


<script type="text/javascript">
<!--

	function updateFormFields() {
		var showFundamental = ($("#id_pitchTraceType").val() == "FUNDAMENTAL");

		$(".fundamenalSettings").prop('hidden', ! showFundamental);
	}

	$(document).ready(function(){
		$("#id_pitchTraceType").change(function(){
			updateFormFields();
		})

		updateFormFields();
	});

	var myARLOModalStatus = null;
	function showSubmitStatus() {
		myARLOModalStatus = new ARLOModalStatus();
		myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Building PitchTrace CSV...</strong>", false);
	};
-->
</script>

{% endblock content %}
