{% extends "tools/base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">

  <ol class="breadcrumb">
    <li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
    <li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project}}</a></li>
    <li>Edit Project Notes</li>
  </ol>

  {% if errorMessage %}

  <p class="bg-danger">Error: {{ errorMessage }}</p>

  {% endif %}

  <div class="panel panel-primary start-new-library">
    <div class="panel-body">
      <form action="" method="POST">
      	{% csrf_token %}
      	{{ form|crispy }}
      	<input class="btn" type="submit" value="Submit" />
      </form>
    </div>
  </div>

</div><!-- .col-md-12 -->
{% endblock content %}
