{% extends "tools/base.html" %}
{% block javascript%}
{% endblock javascript %}
{% block content %}
<H1>PublicTag Set Page</H1><hr />
<H2>Available Tag Sets</H2>

{% if tagSets %}
<ul>
	{% for tagSet in tagSets %}
	<li>
		{{tagSet.name}} created by {{tagSet.user}}<a href="{{ArloUrlPrefix}}/tools/importPublicTagSet/{{tagSet.name}}/{{tagSet.user}}">   Import </a>
	</li>
	{% endfor %}
</ul>
{% else %}
<H3>Sorry, no public Tag Sets are available at this time.</H3>
{% endif %}
{% endblock content %}
