{% extends "tools/base.html" %}

{% block javascript %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/sorttable/sorttable.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
var projectId = {{project.id}};
var urlPrefix = "{{ArloUrlPrefix}}";

function loadRandomWindowTasksCallback(json) {
	$("#randomWindowTasksHeader").prop('innerHTML', 'Existing Random Tagging Tasks');

	// empty table except for header row
	var otable=document.getElementById("randomTaggingTasks");
	while(otable.rows.length>1)
		otable.deleteRow(otable.rows.length-1);

	// add results to table
	$.each(json, function(index) {
		var id = json[index].id;
		var row = '<tr>';
		row += '<td>' + '<a href="' + urlPrefix + '/tools/tagRandomWindow/' + id + '/0">' + id + '</a></td>';
		row += '<td>' + json[index].name + '</td>';
		row += '<td>' + json[index].creationDate + '</td>';
		row += '<td>' + json[index].numWindows + '</td>';
		row += '<td>' + json[index].windowLength + '</td>';
		row += '<td>' + json[index].weight + '</td>';
		row += '</tr>';
		$(row).appendTo("#randomTaggingTasks");
	});

};

function loadRandomWindowTasks() {
$("#randomWindowTasksHeader").prop('innerHTML', 'Loading Random Windows... <img src="{% static 'tools/img/loading.gif' %}" width="20px" height="20px"/>');

	$.ajax({
		url:'{{ArloUrlPrefix}}/tools/getRandomWindowTasks/' + projectId,
		dataType:'json',
		error:function() {ARLOLogError("Error Loading Random Window Tasks");},
		success:loadRandomWindowTasksCallback
	});
};

$(document).ready(function(){
	ARLOInit();
	loadRandomWindowTasks();

});


-->
</script>
{% endblock javascript %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Random Window Tagging: {{project.name}}</div>
    <div class="panel-body">

      {% if message %}
        <div class="well">{{message}}</div>
      {% endif %}

      <div class="row">
        <div class="col-md-12">
          <p>
            Create New RandomWindow Series with the "RandomWindowAndSegmentingPlugin" Job
            <a href="{{ArloUrlPrefix}}/tools/launchJob/{{project.id}}/configureJob/RandomWindowAndSegmentingPlugin">here.</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 id="randomWindowTasksHeader">Existing</h2>
          <table id="randomTaggingTasks" class="table table-bordered table-striped">
          	<tr>
          		<th>id</th>
          		<th>Name</th>
          		<th>Creation Date</th>
          		<th>Number of Windows</th>
          		<th>Length of Windows (seconds)</th>
          		<th>Weight</th>
          <!--	TODO <th>delete</th> -->
          	</tr>
          </table>
        </div>
      </div>

</div>
</div>
</div>

{% endblock content %}
