<form method="GET" action="{{ArloUrlPrefix}}/tools/searchAudioFileNames">
  <div class="input-group">
    <input type="text" name="searchString" class="form-control" placeholder="{{ searchPrompt}}" />
    {% if currentProjectId %}
      <input type="hidden" name="projectId" value= {{ currentProjectId }} />
    {% elif currentLibraryId %}
      <input type="hidden" name="libraryId" value= {{ currentLibraryId }} />
    {% endif %}
    <span class="input-group-btn">
      <input class="btn btn-secondary" type="submit" value="Go!" />
    </span>
  </div>
</form>
