{% extends "tools/base.html" %}

{% block content %}

	<div class="col-md-2">



	</div><!-- .col-md-3 -->

	<div class="col-md-8">

    {% if currentProject and currentLibrary %}
      {% include 'tools/mediaFilesList.html' with searchPrompt=searchPrompt %}
    {% elif currentProject %}
      {% include 'tools/mediaFilesList.html' with searchPrompt=searchPrompt %}
    {% elif currentLibrary %}
      {% include 'tools/mediaFilesList.html' with searchPrompt=searchPrompt %}
    {% else %}
      {% include 'tools/mediaFilesList.html' with searchPrompt=searchPrompt %}
    {% endif %}

  </div>


<!-- OLD
<H1>User Home Page</H1>

<H2><a href="{{ArloUrlPrefix}}/tools/audioFiles">Media Files</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/projects">Projects</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/userLibraries">Libraries</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/tagSets">Tag Sets</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/userSettings">Settings</a></H2>
<H2><a href="{{ArloUrlPrefix}}/tools/userGroups">User Groups</a></H2>
<H2><a href="{{ArloUrlPrefix}}/changePassword">Change Password</a></H2>

{% if user.is_staff %}
<br />
<table class='adminfunctions'><tr><td>
	<H1>Admin Functions</H1>
	<H2><a href="{{ArloUrlPrefix}}/tools/createUser">Create User</a></H2>
	<H2><a href="{{ArloUrlPrefix}}/tools/deleteUser">Delete User</a></H2>
	<H2><a href="{{ArloUrlPrefix}}/tools/loginAsUser">Login As User</a></H2>
	<H2><a href="{{ArloUrlPrefix}}/tools/meandreTestCall">ServiceHead.TestCall()</a></H2>
	<H2><a href="{{ArloUrlPrefix}}/tools/addTestTaskToDb">addTestTaskToDb</a></H2>
</td></tr></table>
{% endif %}
-->

{% endblock content %}
