{% extends "tools/base.html" %}

{% block javascript %}
	{% load staticfiles %}
	<script src="{% static 'third-party/REDIPS_drag/redips-drag-source.js' %}" type="text/javascript"></script>

	<STYLE type="text/css">
		/* drag objects (DIV elements inside table cells) */
		.redips-drag{
			cursor: move;
			margin: auto;
			z-index: 10;
			background-color: white;
			text-align: center;
			font-size: 15pt; /* needed for cloned object */
			opacity: 0.7;
			filter: alpha(opacity=70);
			/* without width, IE6/7 will not apply filter/opacity to the element ?! */
			/* IE needs element layout */
			width: 87px;
			height: 35px;
			line-height: 35px;
			/* round corners */
			border-radius: 4px; /* Opera, Chrome */
			-moz-border-radius: 4px; /* FF */
			border: 2px solid #499B33;
		}
		
		/* table cells */
		div#redips-drag td {
			height: 50px;
			text-align: center;
		/*	font-size: 10pt; */
			padding: 2px;
		}
		
		.drag_table {
			background-color: #eee;
			border-collapse: collapse;
		}

		/* border for table_layout */
		#table_layout td {
			border: 1px solid #DDC5B5;
			width: 100px;
		}
		
		/* cells from the list table (forbidden cells) */
		.mark{
			color: #444;
			background-color: #e0e0e0;
		}

	</STYLE>

	<script type="text/javascript">
<!--
	var urlPrefix = "{{ArloUrlPrefix}}";
	var sensorArrayId = {{sensorArray.id}};


	/* *************************** */
	/*                             */
	/*  Helper Functions for AJAX  */
	/*                             */
	/* *************************** */

	// Override to add CSRF token into all AJAX requests. 
	// Namely for post() requests 
	// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
	// TODO: put into arlo.js or other?  
    
	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});



	// starting settings
	var startRows = "{{startLayoutNumRows}}";
	var startCols = "{{startLayoutNumColumns}}";
	var startLayoutIds = [{% for x in startLayoutIds %}{{x}}, {% endfor %}];
	var startLayoutRows = [{% for x in startLayoutRows %}{{x}}, {% endfor %}];
	var startLayoutCols = [{% for x in startLayoutCols %}{{x}}, {% endfor %}];


	var redipsInit,			// define redipsInit variable
		toggleAnimation,	// enable / disable animation
		startPositions,		// remember initial positions of DIV elements
		pos = {},			// initial positions of DIV elements
		rd = REDIPS.drag;	// reference to the REDIPS.drag lib

	// redips initialization
	redipsInit = function () {
		// initialization
		rd.init();
		// enable shift animation
		rd.shift.animation = true;
		// save initial DIV positions to "pos" object (it should go after initialization)
		startPositions();
		// in a moment when DIV element is moved, set drop_option property (shift or single)
		rd.event.moved = function () {
			// find parent table of moved element
			var tbl = rd.findParent('TABLE', rd.obj);
			// if table id is table1
			rd.dropMode = 'single';
		};
		// when DIV element is double clicked return it to the initial position
		rd.event.dblClicked = function () {
			// set dblclicked DIV id
			var id = rd.obj.id;
			// move DIV element to initial position
			rd.moveObject({
				id: id,			// DIV element id
				target: pos[id]	// target position
			});
		};
	};


	// function scans DIV elements and saves their positions to the "pos" object
	startPositions = function () {
		// define local varialbles
		var divs, id, i, position;
		// collect DIV elements from dragging area
		divs = document.getElementById('redips-drag').getElementsByTagName('div');
		// open loop for each DIV element
		for (i = 0; i < divs.length; i++) {
			// set DIV element id
			id = divs[i].id;
			// if element id is defined, then save element position 
			if (id) {
				// set element position
				position = rd.getPosition(divs[i]);
				// if div has position (filter obj_new) 
				if (position.length > 0) {
					pos[id] = position;
				}
			}
		}
	};

	function updateLayout() {
		var rows = document.layout.id_layoutrows.value;
		var cols = document.layout.id_layoutcols.value;

		// ensure these are integers
		if (! (!isNaN(parseInt(rows,10)) && (parseFloat(rows,10) == parseInt(rows,10)))) {
			alert("'Rows' is not an integer");
			return false;
		}
		if (! (!isNaN(parseInt(cols,10)) && (parseFloat(cols,10) == parseInt(cols,10)))) {
			alert("'Columns' is not an integer");
			return false;
		}
		rows = parseInt(rows,10);
		cols = parseInt(cols,10);
		if (rows<1) { rows=1;document.layout.id_layoutrows.value='1';}
		if (cols<1) { cols=1;document.layout.id_layoutcols.value='1';}

		// reset all draggables to starting position
		var divs, id, i, position, pos1;
		for (id in pos) {
			// test the property (filter properties of the prototype) and if element id begins with "d"
			// other DIV elements are row handlers
			if (pos.hasOwnProperty(id) && id.substring(0, 1) === 'd') {
				// get current position of element
				pos1 = rd.getPosition(id);
				// if current position is different then initial position the return element to the initial position
				if (pos[id].toString() !== pos1.toString()) {
					// move object to the initial position
					rd.moveObject({
						id: id,					// id of object to move
						target: pos[id],		// target position
					});
				}
			}
		}

		///////////////
		// build table
		var table, tableParent;

		// delete the existing table
		table = document.getElementById("table_layout");
		tableParent = table.parentNode;
		tableParent.removeChild(table);

		// create the new table
		table = document.createElement('table');
		table.setAttribute('id', 'table_layout');
		table.setAttribute('class', 'drag_table');
		
		// create cells
		var s = "";
		for (var row=0; row<rows; row++) {
			s += "<tr>";
			for (var col=0; col<cols; col++) {
				s += "<td></td>";
			}
			s += "</tr>";
		}
		table.innerHTML = s;

		// add new table
		tableParent.appendChild(table);

		// reset redips
		redipsInit();

		return false;  // don't submit the form
	};

	function saveLayout() {
		var noLayoutIds = [];
		var rows, cols;
		var layoutIds = [];
		var layoutCols = [];
		var layoutRows = [];

		/////////////////////
		// get the sensors that don't have a layout
		var table = document.getElementById("table_list");

		for (var rownum=0, row; row=table.rows[rownum]; rownum++) {
			for (var colnum=0, col; col=row.cells[colnum]; colnum++) {
				var myCell = row.cells[colnum];
				for (var childnum=0; childnum<myCell.childNodes.length; childnum++) {
					var node = myCell.childNodes[childnum];
					// parse drag_sensor_x into the id
					var s = node.id.split("_");
					if (s.length==3 && s[0]=="drag" && s[1]=="sensor") {
						s = s[2];
						if (!isNaN(parseInt(s,10)) && (parseFloat(s,10) == parseInt(s,10))) {
							var i = parseInt(s,10);
							noLayoutIds.push(i);
						}
					}
				}
			}
		}

		///////////////////////
		// get the layout positions
		table = document.getElementById("table_layout");
		var rows = table.rows.length;
		var cols = table.rows[0].cells.length;

		for (var rownum=0, row; row=table.rows[rownum]; rownum++) {
			for (var colnum=0, col; col=row.cells[colnum]; colnum++) {
				var myCell = row.cells[colnum];
				for (var childnum=0; childnum<myCell.childNodes.length; childnum++) {
					var node = myCell.childNodes[childnum];
					// parse drag_sensor_x into the id
					var s = node.id.split("_");
					if (s.length==3 && s[0]=="drag" && s[1]=="sensor") {
						s = s[2];
						if (!isNaN(parseInt(s,10)) && (parseFloat(s,10) == parseInt(s,10))) {
							var i = parseInt(s,10);
							layoutIds.push(i);
							layoutRows.push(rownum);
							layoutCols.push(colnum);
						}
					}
				}
			}
		}

		$.ajax({
			type: 'post',
			url: urlPrefix + "/tools/updateSensorArrayLayout/",
			dataType: 'json',
			data: JSON.stringify({
				sensorArrayId: sensorArrayId,
				rows: rows,
				cols: cols,
				noLayoutIds: noLayoutIds, 
				layoutIds: layoutIds, 
				layoutRows: layoutRows, 
				layoutCols: layoutCols}),
			error: function() { alert("Unknown Error"); },
			success: function(json){
				if (json.Message) {
					alert(json.Message);
				} else {
					alert("Error - Invalid Response");
				}
			}
		});


		return false;
	};

	function initialLayout() {
		// called on page load after everything else is setup

		var table = document.getElementById("table_layout");
		for (var i=0; i<startLayoutIds.length; i++) {
			var myDiv = document.getElementById("drag_sensor_"+startLayoutIds[i]);
			var row = startLayoutRows[i];
			var col = startLayoutCols[i];
			var myTd = table.rows[row].cells[col];
			rd.moveObject({
				obj: myDiv,
				target: myTd});
		}

	};

	$(document).ready(function() {
		redipsInit();
		updateLayout();
		initialLayout();
	});
-->
	</script>

{% endblock javascript %}

{% block content %}

<H1>Sensor Array - {{sensorArray.name}}</H1><HR>

<H2>Sensors:</H2>
<table border='2px'>
	<tr><th>Name</th><th>x</th><th>y</th><th>z</th></tr>
	{% for sensor in sensors %}
		<tr>
			<td>{{sensor.name}}</td>
			<td>{{sensor.x}}</td>
			<td>{{sensor.y}}</td>
			<td>{{sensor.z}}</td>
		</tr>
	{% endfor %}
</table>

<H2>Layout:</H2>
	<form id="layout" name="layout">
		<table border="2px">
			<tr>
				<td align="right"><label for"id_layoutcols">Columns:</label></td>
				<td><input id="id_layoutcols" type="text" width="50px" value="{{startLayoutNumColumns}}" /></td>
				<td style="vertical-align:middle;" rowspan="2">
					<input type="submit" id="id_layoutupdate" value="Update Grid" onclick="return updateLayout();">
				</td>
				<td style="vertical-align:middle;" rowspan="2">
					<input type="submit" id="id_layoutupdate" value="Save To Database" onclick="return saveLayout();">
				</td>
			</tr><tr>
				<td align="right"><label for"id_layoutrows">Rows:</label></td>
				<td><input id="id_layoutrows" type="text" width="50px" value="{{startLayoutNumRows}}" /></td>
			</tr>
		</table>
	</form>
	<!-- tables inside this DIV could have draggable content -->
	<div id="redips-drag">
		<table id="table_list" class="drag_table">
			<tbody>
				<tr>
					<!-- make <td> class="mark" to disable allowing to move back -->
					{% for sensor in sensors %}
						<td><div id="drag_sensor_{{sensor.id}}" class="redips-drag green">{{sensor.name}}</div></td>
						{% if forloop.counter|divisibleby:"10" %}
							</tr><tr>
						{% endif %}
					{% endfor %}
				</tr>
			</tbody>
		</table>
<br />
		<div id="layout_div">
			<table id="table_layout" class="drag_table">
				<tr><td></td></tr>
			</table>
		</div>
	</div><!-- drag container -->

<H2>Add New Sensor</H2>
<form action="" method="POST">
	{% csrf_token %}
	<table>
	{{ addSensorForm.as_table }}
	</table>
	<input type="submit" value="Submit" />
</form>

{% endblock content %}
