{% extends "tools/base.html" %}

<!-- 9 Oct 11 

  I don't think this file is used anymore. Found no references in code, but hesitant to remove it...

  - TonyB

-->


{% block javascript %}
<script type ="text/javascript">
    document.writeln("Hello!");
</script>
{% end block javascript %}

{% block content %}

<EMBED SRC='/meandre/{{loginName}}.wav' VOLUME='100' AUTOSTART='TRUE' HEIGHT='12' WIDTH='{{playerWidth}}'/>


<br>
  
<EMBED SRC='/meandre/{{loginName}}.jpg' WIDTH='{{imageWidth}} ' HEIGHT='{{imageHeight}}'/>


<br>

<form action='processSpectraAction'  method='get'>
  {% csrf_token %}

  <br>
  <input type='hidden' name='stateIndex' value='0'/>
  
  <p>
    <input type=radio name='menuChoice' value='redo'/>Redo
    <input type=radio name='menuChoice' value='quit'/>Quit
    <input type='submit' id='submit' value='Submit'/>
  </p>

</form>

{% endblock content %}
