{% extends "tools/base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Start New Library</div>
    <div class="panel-body">
      <form action="startNewLibrary" method="POST">
      	{% csrf_token %}
      	{{ form|crispy }}
      	<input type="submit" value="Submit" />
      </form>
    </div>
  </div>
  
</div><!-- .col-md-12 -->

{% endblock content %}
