{% extends "tools/base.html" %}
{% block javascript%}

{% load staticfiles %}

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
	$(document).ready(function(){

		$("#selectAll").click(function(event){
			event.preventDefault();
			$("#id_tagClassesToSearch").children().each(function(){
				$(this).prop("selected", true);
			});
		}).submit(function(event){
			event.preventDefault();
			$("#id_tagClassesToSearch").children().each(function(){
				$(this).prop("selected", true);
			});
		});

		$("#id_tagClassesToSearch").children().each(function(){
			$(this).prop("selected", true);
		});

		SetupHelpButtons('{{ArloUrlPrefix}}');

	});
-->
</script>
{% endblock javascript %}
{% block content %}

{% load crispy_forms_tags %}

<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Supervised Tag Discovery</div>
    <div class="panel-body">

      <div class="well">
        <a href="http://wiki.arloproject.com/index.php?title=Supervised_Tag_Discovery_User_Docs">Documentation</a>
        {{message}}
      </div>

      <form action="" id="discoveryForm" method="POST">
	      {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="method" value="Start Tag Discovery" />
      </form>

    </div>
  </div>
</div>

{% endblock content %}

        <!--{{ form.errors }}


	<table>
		<tr>
			<td>
				{{form.name.errors}}
				<p>Name:{{form.name}}</p>
				{{form.numberOfTagsToDiscover.errors}}
				<p>Number Of Tags To Discover:{{form.numberOfTagsToDiscover}}</p>
				{{form.spectraWeight.errors}}
				<p>Spectra Weight:{{form.spectraWeight}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="spectraWeight"/></p>
				{{form.pitchWeight.errors}}
				<p>Pitch Weight:{{form.pitchWeight}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="pitchWeight"/></p>
				{{form.averageEnergyWeight.errors}}
				<p>Average Energy Weight:{{form.averageEnergyWeight}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="averageEnergyWeight"/></p>
				{{form.numExemplars.errors}}
				<p>Num Exemplars:{{form.numExemplars}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="numExemplars"/></p>
				{{form.maxOverlapFraction.errors}}
				<p>Max Overlap Fraction:{{form.maxOverlapFraction}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="maxOverlapFraction"/></p>
				<table border='0'>
					<tr><td>
						<strong>Spectra Details:</strong><br />
						<br />
						{{form.numFrequencyBands.errors}}
						<p>Num Frequency Bands:{{form.numFrequencyBands}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="frequencyBands"/></p>
						{{form.numTimeFramesPerSecond.errors}}
						<p>Num Time Frames Per Second:{{form.numTimeFramesPerSecond}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="framesPerSecond"/></p>
						{{form.dampingRatio.errors}}
						<p>Damping Ratio:{{form.dampingRatio}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="dampingRatio"/></p>
						{{form.minFrequency.errors}}
						<p>Min Frequency:{{form.minFrequency}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="minFrequency"/></p>
						{{form.maxFrequency.errors}}
						<p>Max Frequency:{{form.maxFrequency}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="maxFrequency"/></p>
					</td></tr>
				</table>
			</td>
			<td>
				<table>
					<tr><td>
						{{form.tagClassesToSearch.errors}}
						<p>
							Discovery Classes:
							<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="discoveryClasses" />
							<br />
							{{form.tagClassesToSearch}}
							<input type="submit" id="selectAll" value="Select All" />
							<br />
							{{form.minPerformance.errors}}
							Min Match Performance:{{form.minPerformance}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="minPerformance" />
							<br />
							<strong>Note:</strong> Focus Factor is defaulted to '1'
						</p>
					</td></tr>
					<tr><td>
						<p>Source TagSets<br />{{form.sourceTagSets}}</p>
					</td></tr>
					<tr><td>
						<p>Destination TagSet<br />{{form.destinationTagSet}}</p>
					</td></tr>
					<tr><td bgcolor='#D0D0D0'>
						<strong>Advanced (Optional):</strong><br />
						<p>Restrict Search Within TagClasses:<br />{{form.searchWithinTagClasses}}</p>
						<p>{{form.saveBestNTags.label}}: {{form.saveBestNTags}}</p>
						<p>{{form.saveBestNTagsPerClass.label}}: {{form.saveBestNTagsPerClass}}</p>
					</td></tr>
				</table>
			</td>
		</tr>
		<tr><td>
			<input type="submit" name="method" value="Start Tag Discovery" />
		</td></tr>
	</table>
</form>-->
