{% extends "tools/base.html" %}

{% block javascript%}

{% load staticfiles %}

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
	$(document).ready(function(){

		SetupHelpButtons('{{ArloUrlPrefix}}');

	});
-->
</script>

{% endblock javascript %}
{% block content %}

<H1>{{projectname}} Tag Analysis</H1>
{{message}}

<form action="" name="discover" method="POST">
	{% csrf_token %}

	{{form.name.errors}}
	<p>Name: {{form.name}}</p>

	{{form.numFrequencyBands.errors}}
	<p>Num Frequency Bands:{{form.numFrequencyBands}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="frequencyBands"/></p>
	{{form.numTimeFramesPerSecond.errors}}
	<p>Num Time Frames Per Second:{{form.numTimeFramesPerSecond}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="framesPerSecond"/></p>
	{{form.dampingRatio.errors}}
	<p>Damping Ratio:{{form.dampingRatio}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="dampingRatio"/></p>
	{{form.minFrequency.errors}}
	<p>Min Frequency:{{form.minFrequency}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="minFrequency"/></p>
	{{form.maxFrequency.errors}}
	<p>Max Frequency:{{form.maxFrequency}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="maxFrequency"/></p>
   
	{{form.freqAveragingWindowWidth.errors}}
	<p>
		Freq Averaging Window Width: {{form.freqAveragingWindowWidth}}
		<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="freqAveragingWindowWidth" />
	</p>
	{{form.numFramesToAverageNoise.errors}}
	<p>
		Num Frames To Average Noise: {{form.numFramesToAverageNoise}}
		<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="numFramesToAverageNoise" />
	</p>
	{{form.updateTagPositions.errors}}
	<p>
		Update Tag Positions: {{form.updateTagPositions}}
		<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="updateTagPositions" />
	</p>

	<input type="submit" />
</form>
{% endblock content %}
