{% extends "tools/base.html" %}
{% block javascript %}

{% load static %}

<link rel="stylesheet" href="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/visualizeProjectFile.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'third-party/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jQuery-contextMenu/jquery.ui.position.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/tag.js' %}" type="text/javascript"></script>

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>


<script type="text/javascript">
	//variables passed in through django for spectra.js
	var audioID = '{{audioID}}';
	var currentTagID;

	var projectId = '{{project.id}}';

	var urlPrefix = "{{ArloUrlPrefix}}";
	var mediaUrl = "{% get_media_prefix %}";
	var ArloStaticUrl = "{% get_static_prefix %}";
	{% comment %} var tagSetName = "{{tagSet.name}}"; {% endcomment %}

	var audioPlayer;

	var tagCreatedWithQuickTag = false;  // used to track if QuickTag was used to create the last tag (for auto-next)

	var LOADING_GIF_URL = "{% static 'tools/img/loading.gif' %}";
	var EMPTY_WAV_URL = "{% static 'tools/empty.wav' %}";
</script>

<script src="{% static 'tools/js/spectra.js' %}" type="text/javascript"></script>


<script type="text/javascript">
<!--

	allowContextWindowTagging = false;  // force tagging within the random window, not in context
	tagWholeWindowOnLoad = ARLOSettingGet("EnableQuickTag") != null;

	/********************************/
	/*                              */
	/*      QuickTag Functions      */
	/*                              */
	/********************************/

	function QuickTagHandler_Class(event) {
		var buttonId = event.target.id;
		var className = buttonId.substring(0, 21);

		if (className != "QuickTagButton_Class_") {
			ARLOLogWarning("QuickTagHandler_Class() received invalid target - " + buttonId);
			return;
		}

		/* Update UI */
		SetQuickTagButtonStatus(false);
		$("#QuickTagHeader").prop('innerHTML', 'Tagging... <img src="{% static 'tools/img/loading.gif' %}" width="20px" height="20px"/>');

		var tagClassName = buttonId.substring(21);
		$("#id_className").val(tagClassName);
		tagCreatedWithQuickTag = true;
		$("#createTagForm").submit();
	};

	function SetQuickTagButtonStatus(enabled) {
		if (enabled) {
			$('input.QuickTagButton_Class').prop('disabled', false);
		} else {
			$('input.QuickTagButton_Class').prop('disabled', true);
		}
	};

/*
	function QuickTagHandler_Set(event) {
		var buttonId = event.target.id;
		var setName = buttonId.substring(0, 19);

		if (setName != "QuickTagButton_Set_") {
			ARLOLogWarning("QuickTagHandler_Set() received invalid target - " + buttonId);
			return;
		}

		var tagSetName = buttonId.substring(19);
		$("#id_tagSet").val(tagSetName);
		CreateTagSetSelectionHandler(null);  // save selection
	};
*/
	function LoadQuickTag() {

		///
		// Load TagClasses
		$("#QuickTagDivClasses").prop('innerHTML', 'Loading Classes... <img src="{% static 'tools/img/loading.gif' %}" width="20px" height="20px"/>');

		$.ajax({
			url:'{{ArloUrlPrefix}}/tools/getTagClassAutoArray/' + projectId,
			dataType:'json',
			error:function() {ARLOLogError("Error Loading QuickTag Data");},
			success: LoadQuickTagCallback
		});
/*
		///
		// Load TagSets
		var innerHtml = "<ul>";
		$("#id_tagSet > option").each(function() {
			if (this.value > 0) {
				innerHtml += '<li><input type="button" id="QuickTagButton_Set_' + this.text + '" class="QuickTagButton_Set" value="' + this.text + '"/></li>';
			}
		});
		innerHtml += "</ul>";
		$("#QuickTagDivSets").prop('innerHTML', innerHtml);
		$(".QuickTagButton_Set").click(QuickTagHandler_Set);
*/
	};

	function LoadQuickTagCallback(json){
		$("#QuickTagDivClasses").prop('innerHTML', "");

		var innerHtml = "<ul>";

		// build results
		$.each(json, function(index) {
			innerHtml += '<li><input type="button" id="QuickTagButton_Class_' + json[index] + '" class="QuickTagButton_Class" value="' + json[index] + '"/></li>';
		});
		innerHtml += "</ul>";
		$("#QuickTagDivClasses").prop('innerHTML', innerHtml);
		$(".QuickTagButton_Class").click(QuickTagHandler_Class);
	};

	function createTagFormCallback_Success(success, saveMessage, rawJson) {
		if (tagCreatedWithQuickTag) {
			if ($("#cbx_tagRandomWindowNextAfterQuickTag").is(':checked')) {
				var link = $("#nextTrialLink");
				// jQuery click() doesn't actually cause a navigate event in the browser, so fallback to plain JS
				$("#nextTrialLink")[0].click();
			} else {
				SetQuickTagButtonStatus(true);
				$("#QuickTagHeader").prop('innerHTML', 'QuickTag');
			}
			tagCreatedWithQuickTag = false;  // reset state
		}
	}

	/**********************/
	/*                    */
	/*      Settings      */
	/*                    */
	/**********************/

	function SetupLastUsedTagSet() {

		///
		// Create TagSet Selection
		var sLastUsedTagSet = ARLOSettingGet("tagRandomWindowLastTagSet");
		if (sLastUsedTagSet) {
			// find the option that matches, and make it selected
			$("#id_tagSet option").each( function () {
				if ($(this).text() == sLastUsedTagSet) {
					$(this).prop('selected', true);
				}
			});
		}

		///
		// Displayed TagSets selections
		var sLastDisplayedTagSets = ARLOSettingGet("lastDisplayedTagSets");
		if (sLastDisplayedTagSets) {
			var lastDisplayedArray = sLastDisplayedTagSets.split(",");

			///
			// check if any of the previous selections are in the select option
			var haveApplicableOptions = false;
			// loop over all available options
			$("#id_tagSets option").each( function () {
				// is this option in the array ?
				if ($.inArray( $(this).val(), lastDisplayedArray) > -1) {
					haveApplicableOptions = true;
				}
			});

			// if not haveApplicableOptions, then no options would be selected, stick with the defaults
			// else, proceed to select the previous options
			if (haveApplicableOptions) {
				// un-select all options
				$("#id_tagSets option").prop('selected', false);

				// select options that are saved
				$("#id_tagSets option").each( function () {
					// is this option in the array ?
					var myval = $(this).val();
					if ($.inArray( myval, lastDisplayedArray) > -1) {
						$(this).prop('selected', true);
					}
				});
			}
		}
	};

	function CreateTagSetSelectionHandler(evt) {
		var sTagSetValue = $("#id_tagSet").val();
		if (sTagSetValue == "") {
			ARLOSettingDelete("tagRandomWindowLastTagSet");
		} else {
			var sTagSetText = $("#id_tagSet :selected").text();
			ARLOSettingSet("tagRandomWindowLastTagSet", sTagSetText);
		}
	};

	function DisplayTagSetSelectionHandler(evt) {
		var s = "";
		$("#id_tagSets option").each( function () {
			if ( $(this).prop('selected')) {
				s += $(this).val() + ",";
			}
		});

		if (s.length) {
			s = s.substr(0, s.length-1);  // remove trailing ','
			ARLOSettingSet("lastDisplayedTagSets",s);
		} else {
			ARLOSettingDelete("lastDisplayedTagSets");
		}
	};

	function SaveSettingsFormLastData() {
		ARLOSettingSet("RandomTaggingLastLoadAudio", ( $("#id_loadAudio").is(':checked') ? "1" : "0"));

		ARLOSettingSet("RandomTaggingLastSpectraNumFramesPerSecond", $("#id_spectraNumFramesPerSecond").val());
		ARLOSettingSet("RandomTaggingLastSpectraNumFrequencyBands", $("#id_spectraNumFrequencyBands").val());
		ARLOSettingSet("RandomTaggingLastSpectraDampingFactor", $("#id_spectraDampingFactor").val());

		ARLOSettingSet("RandomTaggingLastSpectraGain", $("#id_gain").val());
		ARLOSettingSet("RandomTaggingLastSpectraMinimumBandFrequency", $("#id_spectraMinimumBandFrequency").val());
		ARLOSettingSet("RandomTaggingLastSpectraMaximumBandFrequency", $("#id_spectraMaximumBandFrequency").val());
		ARLOSettingSet("RandomTaggingLastContextWindow", $("#id_contextWindow").val());
	};

	function LoadSettingsFormLastData() {
		var s;

		s = ARLOSettingGet("RandomTaggingLastLoadAudio");
		if (s) {
			if (s == "1") {
				$("#id_loadAudio").prop('checked', true);
			} else {
				$("#id_loadAudio").prop('checked', false);
			}
		}

		s = ARLOSettingGet("RandomTaggingLastSpectraNumFramesPerSecond");
		if (s) { $("#id_spectraNumFramesPerSecond").val(s); }
		s = ARLOSettingGet("RandomTaggingLastSpectraNumFrequencyBands");
		if (s) { $("#id_spectraNumFrequencyBands").val(s); }
		s = ARLOSettingGet("RandomTaggingLastSpectraDampingFactor");
		if (s) { $("#id_spectraDampingFactor").val(s); }

		s = ARLOSettingGet("RandomTaggingLastSpectraGain");
		if (s) { $("#id_gain").val(s); }
		s = ARLOSettingGet("RandomTaggingLastSpectraMinimumBandFrequency");
		if (s) { $("#id_spectraMinimumBandFrequency").val(s); }
		s = ARLOSettingGet("RandomTaggingLastSpectraMaximumBandFrequency");
		if (s) { $("#id_spectraMaximumBandFrequency").val(s); }
		s = ARLOSettingGet("RandomTaggingLastContextWindow");
		if (s) { $("#id_contextWindow").val(s); }
	};


	function OnSubmitSettingsForm(event) {

		/* Perform forward / back navigation */
		var buttonValue = event.target.value;
		var start = parseFloat($("#id_startTime").val());
		var end = parseFloat($("#id_endTime").val());
		var duration = end - start;

		switch (buttonValue) {
			case "Submit":
				break;
			case "Back Half":
				// move the display 'back' by half of 'duration'
				$("#id_startTime").val(start - (duration / 2));
				$("#id_endTime").val(end - (duration / 2));
				break;
			case "Forward Half":
				// move the display 'forward' by half of a 'duration'
				$("#id_startTime").val(start + (duration / 2));
				$("#id_endTime").val(end + (duration / 2));
				break;
		}

		SaveSettingsFormLastData();
		getSpectra();
		return false;  /* return false to stop event propagation (and form submission outside AJAX) */
	}


	/******************/
	/*                */
	/*      Init      */
	/*                */
	/******************/

	$(document).ready(function(){
		ARLOInit();

		LoadSettingsFormLastData();

		$('body').keypress(function(evt){
			/* Test to ensure that keypresses to forms (INPUT) aren't triggered */
			/* On Firefox, after clicking 'Create Tag' focus stays on the button and
			shortcuts fail, so test if focus is on a button */
			if ((evt.target.tagName == "BODY") ||
				(evt.target.tagName == "INPUT") && (evt.target.type == "submit")) {
				keyPressHandler (evt);
			}
		});

		$("#spectraForm :submit").click(OnSubmitSettingsForm);

		$("#createTagForm").ajaxForm({
			url:'{{ArloUrlPrefix}}/tools/createUserTag/' + {{project.id}} + '/' + audioID,
			dataType:'json',
			error: function(){ ARLOLogError("Error Creating Tag");},
			success: createTagFormCallback
		});

		getAutoComplete(); // currently throws an error...
		getSpectra();

		currentTagID = $("#id_currentTagID").val();
		$("#id_navStartTime").val($("#id_startTime").val());
		$("#id_navEndTime").val($("#id_endTime").val());

		// drawTags();  // drawn by getSpectra() above

		audioPlayer = new AudioPlayer(
			'audioPlayerid',
			"{% static 'tools/empty.wav' %}",
			document.getElementById("audioSegmentDiv")
		);

		{% if loadAudio %}
			audioPlayer.play();
		{% endif %}

		if (ARLOSettingGet("EnableQuickTag")) {
			console.log("loading quicktag")
			LoadQuickTag();
		} else {
			$("#QuickTag").hide();
		}

		///
		// Remember TagSet Selections

		SetupLastUsedTagSet();

		// Create TagSet Change Handler
		$("#id_tagSet").change(CreateTagSetSelectionHandler);

		// Display TagSet Change Handler
		$("#id_tagSets").change(DisplayTagSetSelectionHandler);


		////
		// Next Trial After QuickTag Setting

		// Save Setting Handler
		$("#cbx_tagRandomWindowNextAfterQuickTag").click(function() {
			if ($("#cbx_tagRandomWindowNextAfterQuickTag").is(':checked')) {
				ARLOSettingSet("TagRandomWindowNextAfterQuickTag", "1");
			} else {
				ARLOSettingDelete("TagRandomWindowNextAfterQuickTag");
			}
		});

		// Load Saved Setting
		if (ARLOSettingGet("TagRandomWindowNextAfterQuickTag")) {
			$("#cbx_tagRandomWindowNextAfterQuickTag").prop('checked', true);
		}
	});

-->
</script>


{% endblock javascript %}
{% block content %}
{% load crispy_forms_tags %}

	<div class="row">
		<div class="col-md-8">
			<div id="image" onclick="point_it(event)" style="position:relative"></div>
			<div id="audioSegmentDiv" class="floatingAudioDiv"></div>
		</div>

		<div class="col-md-4 text-center">

			<div class="panel panel-primary margin-top">
				<div class="panel-heading">Random Window Job: {{randomWindowTaggingJob.name}}</div>
				<div class="panel-body">

					<div class="quickTagButtons">
						<p>Select existing tag:</p>
						{% for tagClass in tagClasses %}
							<button data-tagClassID="{{tagClass.id}}" data-tagClassName="{{tagClass.className}}" class="btn btn-xs btn-success">{{tagClass.displayName}}</button>
						{% endfor %}
						<p class="margin-top">
							<input type='checkbox' id='cbx_tagRandomWindowNextAfterQuickTag'>
							<label for='cbx_tagRandomWindowNextAfterQuickTag'>Next Trial After Tag</label>
						</p>
<!--						<hr />
						<p>Or create new tag:</p>
						<div class="input-group">
							<input type="text" class="form-control input-sm" placeholder="">
							<span class="input-group-btn">
								<button class="btn btn-sm btn-success" type="button">Go</button>
							</span>
						</div>
-->
					</div>
				</div> <!-- panel-body-->

			</div> <!-- panel -->

			<div class="btn-group btn-group-justified margin-top">
				<a href='{{ArloUrlPrefix}}/tools/tagRandomWindow/{{randomWindowTaggingJob.id}}/{{prevTrialIndex}}' class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Prev Trial
				</a>
				<a id='nextTrialLink' href='{{ArloUrlPrefix}}/tools/tagRandomWindow/{{randomWindowTaggingJob.id}}/{{nextTrialIndex}}' class="btn btn-xs btn-primary">
					Next Trial <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
				</a>
			</div>


		</div> <!-- col-md-4 -->
	</div>

	<div id="staticForms">

		<div class="row"> <!-- style="display: none" -->


			<div class="col-md-4">

				<div class="panel panel-primary margin-top">
					<div class="panel-heading">Spectra Settings</div>
					<div class="panel-body">
						<form action="" id="spectraForm" method="POST" onkeypress="return SubmitFormOnEnter(event)">
							{% csrf_token %}
							{{spectraForm|crispy}}
							<input type="submit" id="submit" name="method" value="Submit" class="btn btn-success" />
						</form>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-primary margin-top">
					<div class="panel-heading">Create Tag Settings</div>
					<div class="panel-body">

						<form action="" id="createTagForm" method="POST">
							{% csrf_token %}

							<div class="form-group">
								<label for="taggingMethod" class="control-label ">
									Tagging Method
								</label>

								<div class="controls ">
									<select class="select form-control" id="taggingMethod" name="tagSets">
										<option value="basic">Basic</option>
										<option value="adv">Advanced</option>
									</select>
								</div>
							</div>

							{{createTagForm|crispy}}

							<input type="submit" name="method" value="Create Tag" class="btn btn-success"/>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock content %}
