{% extends "tools/base.html" %}
{% block javascript%}

{% load staticfiles %}

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
	$(document).ready(function(){

		SetupHelpButtons('{{ArloUrlPrefix}}');

	});
-->
</script>
{% endblock javascript %}
{% block content %}

<form action="" name ="transcript"method ="POST">
	{% csrf_token %}
	<p>Num Frequency Bands:{{form.numFrequencyBands}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="frequencyBands"/></p>
	{{form.numTimeFramesPerSecond.errors}}
	<p>Num Time Frames Per Second:{{form.numTimeFramesPerSecond}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="framesPerSecond"/></p>
	{{form.dampingRatio.errors}}
	<p>Damping Ratio:{{form.dampingRatio}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="dampingRatio"/></p>
	{{form.minFrequency.errors}}
	<p>Min Frequency:{{form.minFrequency}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="minFrequency"/></p>
	{{form.maxFrequency.errors}}
	<p>Max Frequency:{{form.maxFrequency}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="maxFrequency"/></p>
	{{form.spectraWeight.errors}}
	<p>Spectra Weight:{{form.spectraWeight}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="spectraWeight"/></p>
	{{form.pitchWeight.errors}}
	<p>Pitch Weight:{{form.pitchWeight}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="pitchWeight"/></p>
	{{form.pitchEnergyWeight.errors}}
	<p>Pitch Energy Weight:{{form.pitchEnergyWeight}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="pitchEnergyWeight"/></p>
	{{form.averageEnergyWeight.errors}}
	<p>Average Energy Weight:{{form.averageEnergyWeight}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="averageEnergyWeight"/></p>
	{{form.numRandomProbes.errors}}
	<p>Num Random Probes:{{form.numRandomProbes}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="numRandomProbes"/></p>
	{{form.minPerformance.errors}}
	<p>Min Match Performance:{{form.minPerformance}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="minPerformance"/></p>
	<input type="submit"/>
</form>
{% endblock content %}
