{% extends "tools/base.html" %}

{% block javascript %}

{% load staticfiles %}

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
	$(document).ready(function(){

		SetupHelpButtons('{{ArloUrlPrefix}}');

	});
-->
</script>
{% endblock javascript %}

{% block content %}

<H1>{{projectname}} Unknown Tag Discovery</H1>
{{message}}

<form action="" name ="discover" method ="POST">
	{% csrf_token %}
	{{form.name.errors}}
	<p>Name: {{form.name}}</p>
	{{form.numberOfTagsToDiscover.errors}}
	<p>Number of Tags to Discover: {{form.numberOfTagsToDiscover}}</p>
	{{form.windowSizeInSeconds.errors}}
	<p>Search Window Size in Seconds: {{form.searchWindowSizeInSeconds}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="searchWindowSizeInSeconds"/></p>
	{{form.numFrequencyBands.errors}}
	<p>Number of Frequency Bands: {{form.numFrequencyBands}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="frequencyBands"/></p>
	{{form.numTimeFramesPerSecond.errors}}
	<p>Number of Time Frames Per Second: {{form.numTimeFramesPerSecond}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="framesPerSecond"/></p>
	{{form.dampingRatio.errors}}
	<p>Damping Ratio: {{form.dampingRatio}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="dampingRatio"/></p>
	{{form.minFrequency.errors}}
	<p>Minimum Frequency: {{form.minFrequency}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="minFrequency"/></p>
	{{form.maxFrequency.errors}}
	<p>Maximum Frequency: {{form.maxFrequency}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="maxFrequency"/></p>
	{{form.entropyThreshold.errors}}
	<p>Entropy Threshold: {{form.entropyThreshold}}<img src="{% static 'tools/img/info.gif' %}" class="help" height="12px" width="12px" id="entropyThreshold"/></p>
	
	<input type="submit"/>
</form>

{% endblock content %}
