{% extends "tools/base.html" %}

{% block javascript%}

{% load staticfiles %}

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
  $(document).ready(function(){

    SetupHelpButtons('{{ArloUrlPrefix}}');

  });
-->
</script>
{% endblock javascript %}

{% block content %}

{% load crispy_forms_tags %}

<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Unsupervised Tag Discovery</div>
    <div class="panel-body">

      <div class="well">{{message}}</div>

      <form action="" name="analyze" method="POST">
	      {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-sm btn-success" type="submit" />
      </form>

    </div>
  </div>
</div>

	<!--<table>
	<tr>
		<td align='right'>
			{{form.name.errors}}
			<p>Name: {{form.name}}</p>
			{{form.numberOfClusters.errors}}
			<p>Number Of Clusters: {{form.numberOfClusters}}<img
				src="{% static 'tools/img/info.gif' %}" class="help"
				height="12px" width="12px" id="numberOfClusters" /></p>
			{{form.minNumSamples.errors}}
			<p>Minimum Number of Samples: {{form.minNumSamples}}</p>
			{%comment%}
			{{form.numberOfClustersToSave.errors}}
			<p>Number Of Clusters To Save: {{form.numberOfClustersToSave}}<img
				src="{% static 'tools/img/info.gif' %}" class="help"
				height="12px" width="12px" id="numberOfClustersToSave" /></p>
			{{form.numberOfExamplesPerCluster.errors}}
			<p>Number Of Examples Per Cluster:
			{{form.numberOfExamplesPerCluster}}<img
				src="{% static 'tools/img/info.gif' %}" class="help"
				height="12px" width="12px" id="numberOfExamplesPerCluster" /></p>
			{{form.windowSizeInSeconds.errors}}
			<p>Window Size in Seconds: {{form.windowSizeInSeconds}}<img
				src="{% static 'tools/img/info.gif' %}" class="help"
				height="12px" width="12px" id="windowSizeInSeconds" /></p>
			{%endcomment%}
			<p>Number of Optimization Iterations:
			{{form.numOptimizationIterations}}<img
				src="{% static 'tools/img/info.gif' %}" class="help"
				height="12px" width="12px" id="numOptimizationIterations" /></p>
			{{form.exchangeMode.errors}}
			<p>exchangeMode: {{form.exchangeMode}}<img
				src="{% static 'tools/img/info.gif' %}" class="help"
				height="12px" width="12px" id="exchangeMode" /></p>
			{{form.moveMode.errors}}
			<p>moveMode: {{form.moveMode}}<img
				src="{% static 'tools/img/info.gif' %}" class="help"
				height="12px" width="12px" id="moveMode" /></p>
			{{form.numOptimizationIterations.errors}}
		</td><td rowspan=2>
			{{form.sourceTagSets.errors}}
			<p>Source TagSets<br />{{form.sourceTagSets}}</p>
			{{form.destinationTagSet.errors}}
			<p>Destination TagSet (<strong>Warning</strong>: Existing tags in this TagSet will be deleted!)<br />{{form.destinationTagSet}}</p>



		</td>
	</tr><tr>
		<td>
			<strong>Spectra Details:</strong><br />
			<br />
			<div align='right'>
				{{form.numFrequencyBands.errors}}
				<p>Number of Frequency Bands: {{form.numFrequencyBands}}<img
					src="{% static 'tools/img/info.gif' %}" class="help"
					height="12px" width="12px" id="frequencyBands" /></p>
				{{form.numTimeFramesPerSecond.errors}}
				<p>Number of Time Frames Per Second: {{form.numTimeFramesPerSecond}}<img
					src="{% static 'tools/img/info.gif' %}" class="help"
					height="12px" width="12px" id="framesPerSecond" /></p>
				{{form.dampingRatio.errors}}
				<p>Damping Ratio: {{form.dampingRatio}}<img
					src="{% static 'tools/img/info.gif' %}" class="help"
					height="12px" width="12px" id="dampingRatio" /></p>
				{{form.minFrequency.errors}}
				<p>Minimum Frequency: {{form.minFrequency}}<img
					src="{% static 'tools/img/info.gif' %}" class="help"
					height="12px" width="12px" id="minFrequency" /></p>
				{{form.maxFrequency.errors}}
				<p>Maximum Frequency: {{form.maxFrequency}}<img
					src="{% static 'tools/img/info.gif' %}" class="help"
					height="12px" width="12px" id="maxFrequency" /></p>
			</div>
		</td>
	</tr><tr>
		<td bgcolor='#D0D0D0'>
				<strong>Advanced (Optional):</strong><br />
				{{form.forceRandomSeed.errors}}
				<p>Force Random Seed: {{form.forceRandomSeed}}</p>
				{{form.userRandomSeed.errors}}
				<p>Random Seed: {{form.userRandomSeed}}</p>
				{{form.normalize.errors}}
				<p>Normalization: {{form.normalize}}</p>
		</td>
	</tr>
	</table>


	<input type="submit" />
</form>
{% endblock content %}
