{% extends "tools/base.html" %}

{% block javascript %}

<script type="text/javascript">

$(document).ready(function(){

  {% if defaultLibrary %}
    $('select#id_library option[value="' + {{defaultLibrary}} + '"]').prop("selected",true);
  {% endif %}

  {% if defaultProject %}
    $('select#id_project option[value="' + {{defaultProject}} + '"]').prop("selected",true);
  {% endif %}

})

</script>

{% endblock javascript %}



{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Upload Media File</div>
    <div class="panel-body">
      <form action="uploadAudioFile" method="POST" enctype="multipart/form-data">
      	{% csrf_token %}
      	{{ form|crispy }}
      	<input type="submit" value="Submit" />
      </form>
    </div>
  </div>

</div><!-- .col-md-12 -->

{% endblock content %}
