{% extends "tools/base.html" %}
{% block javascript%}
{% endblock javascript %}
{% block content %}
<H1> Results for upload </H1>
<HR />
{{uploadType}}
<ul>
	{%for result in uploadResults %}
	<li>{{result}}</li>
	{% endfor %}
</ul>
{% endblock content %}
