{% extends "tools/base.html" %}
{% block javascript%}
{% endblock javascript %}
{% block content %}
<H1>Upload CSV Tag Set(must have existing audioFiles)</H1>
<HR />
<span class="error">{{message}}</span>
Please upload a csv file and make sure that audioFiles exist with matching<br>
relative file paths.
<form method="POST" enctype="multipart/form-data" action="">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Upload"/>
</form>

{% endblock content %}
