{% extends "tools/base.html" %}

{% block javascript %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>


<!-- ===================================== -->
<!--   Custom Checkbox for ARLO settings   -->
<!-- ===================================== -->

<!-- Based on http://cssdeck.com/labs/css-checkbox-styles -->

<style>

	.settingCheckBox input[type=checkbox] {
		visibility: hidden;
	}

	.settingCheckBox {
		width: 80px;
		height: 26px;
		background: #333;
		margin: 20px auto;

		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		position: relative;

		-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
		-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	}

	.settingCheckBox:after {
		content: 'OFF';
		font: 12px/26px Arial, sans-serif;
		color: #000;
		position: absolute;
		right: 10px;
		z-index: 0;
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(255,255,255,.15);
	}

	.settingCheckBox:before {
		content: 'ON';
		font: 12px/26px Arial, sans-serif;
		color: #00bf00;
		position: absolute;
		left: 10px;
		z-index: 0;
		font-weight: bold;
	}

	.settingCheckBox label {
		display: block;
		width: 34px;
		height: 20px;

		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;

		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		-ms-transition: all .4s ease;
		transition: all .4s ease;
		cursor: pointer;
		position: absolute;
		top: 3px;
		left: 3px;
		z-index: 1;

		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		background: #fcfff4;

		background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	}

	.settingCheckBox input[type=checkbox]:checked + label {
		left: 43px;
	}

	.browserSettingsTable table {
		border-collapse: collapse;
	}

	.browserSettingsTable table, .browserSettingsTable th, .browserSettingsTable td {
		border: 1px solid black;
		padding: 5px;
	}
</style>

<script type="text/javascript">
<!--

	function DisplayAllARLOSettings() {
		var allSettings = ARLOSettingAllKeys();

		var sTable = "<table><tr><th>Name</th><th>Value</th></td>";
		for (i in allSettings) {
			var name = allSettings[i];
			sTable += "<tr><td>" + name + "</td><td>" + ARLOSettingGet(name) + "</td></tr>";
		}
		sTable += "</table>";
		$("#ARLOSettingsTable").prop("innerHTML", sTable);
	}

	function ClearAllARLOSettingsHandler() {
		if (confirm("Reset ARLO Browser Settings to Default?")) {
			ARLOSettingClearAll();
			DisplayAllARLOSettings();
			SetARLOSettingValues();
		}
	}

	function ARLOSettingCheckboxHandler(event) {
		var checkboxId = event.target.id;
		var checkboxClass = checkboxId.substring(0, 20);

		if (checkboxClass != "ARLOSettingCheckbox_") {
			ARLOLogWarning("ARLOSettingCheckboxHandler() received invalid target - " + checkboxId);
			return;
		}

		var settingName = checkboxId.substring(20);
		if ($("#" + checkboxId).is(':checked')) {
			ARLOSettingSet(settingName, '1');
		} else {
			ARLOSettingDelete(settingName);
		}

		DisplayAllARLOSettings();
		SetARLOSettingValues();
	}

	function DisplayDefinedARLOSettings() {

		///
		// Build Table of Checkboxes

		// TODO This assumes all of these will be Booleans...
		// Need to separate out Boolean vs. String

		sTable = "<table>";
		for (i in KNOWN_ARLO_SETTINGS) {
			name = KNOWN_ARLO_SETTINGS[i];
			sTable += "<tr><td style='vertical-align:middle'><strong>" + name + "</strong></td><td>";
			sTable += "<div class='settingCheckBox'>";
			sTable += "<input class='ARLOSettingCheckbox' type='checkbox' value='None' id='ARLOSettingCheckbox_" + name + "' />";
			sTable += "<label for='ARLOSettingCheckbox_" + name + "'></label>";
			sTable += "</div>";
			sTable += "</td></tr>";
		}
		sTable += "</table>";
        $("#DefinedARLOSettings").prop("innerHTML", sTable);
		$(".ARLOSettingCheckbox").click(ARLOSettingCheckboxHandler);

		///
		// Set Checkbox Values
		SetARLOSettingValues();
	}

	function SetARLOSettingValues() {
		for (i in KNOWN_ARLO_SETTINGS) {
			var name = KNOWN_ARLO_SETTINGS[i];
			var checkboxId = "#ARLOSettingCheckbox_" + name;
			if (ARLOSettingGet(name)) {
				$(checkboxId).prop('checked', true);
			} else {
				$(checkboxId).removeAttr('checked');
			}
		}
	}

	$(document).ready(function() {
		ARLOInit();

		$("#ClearAllARLOSettings").click(ClearAllARLOSettingsHandler);

		DisplayDefinedARLOSettings();
		DisplayAllARLOSettings();
	});
-->
</script>

{% endblock javascript %}
{% block content %}

<div class="col-md-6">
	<H1>User Settings</H1>
	<p style="width:400px">
		Settings stored in the ARLO database and used throughout ARLO, both
		in the web interface and in backend processing.
	</p>

	<ul>
		{% for UserSettings in settingsSet%}
		<li>
			<a href="{{ArloUrlPrefix}}/tools/viewSettings/{{UserSettings.name}}">
				{{UserSettings.name}}
			</a>
			<!-- <a class="delete" href="{{ArloUrlPrefix}}/tools/deleteSettings/{{UserSettings.name}}">Delete</a> -->
		</li>
	{% endfor %}
	</ul>
	<br/>
	<a href="{{ArloUrlPrefix}}/tools/createSettings">Create New Settings</a>
</div>

<div class="col-md-6">
	<h1>Browser Settings</h1>
	<p style="width:400px">
		Settings controlling the local browser interface. These settings are
		stored within the browser itself, and may be deleted if you clear your
		local cache.
	</p>

	<div id="DefinedARLOSettings"> </div>

	<h3>Stored ARLO Settings</h3>
	<div id="ARLOSettingsTable" class="browserSettingsTable"> </div>

	<br />
	<input type='button' id='ClearAllARLOSettings' value='Reset to Defaults' />

</div>

{% endblock content %}
