{% extends "tools/base.html" %}

{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/Common.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/ArloAPIv0/ArloUserGroup.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--


/* *************************** */
/*                             */
/*  Helper Functions for AJAX  */
/*                             */
/* *************************** */

// Override to add CSRF token into all AJAX requests. 
// Namely for post() requests 
// From https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
// TODO: put into arlo.js or other?  

	$(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				// or any other URL that isn't scheme relative or absolute i.e relative.
				!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
  
		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});

	var myARLOModalStatus = null;

	/* Add a new ArloUserGroup     */
	/* Show a form to collect info */
	/* make an API call to create  */

	function showAddArloUserGroupForm(){

		/* Create a ARLOModalForm to get the new Value */
		var form = document.createElement("form");
		form.setAttribute('action', "#");
		form.innerHTML = "<label>Group Name:</label>";
		form.innerHTML += "<input type='text' name='groupName'></input><br />";
		form.innerHTML += "<input type='submit' name='submit' value='Save' />&nbsp;";
		form.innerHTML += "<input type='submit' name='cancel' value='Cancel' />";

		var modalForm = new ARLOModalForm();
		modalForm.popupForm(
			form,
			function(form){
				/* callback from the form  */
				/* Save the new Value Here */

				var groupName = $(form).find('[name=groupName]').val();

				myARLOModalStatus = new ARLOModalStatus();
				myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Creating Group...</strong>", true);
				var myAPIArloUserGroup = new APIArloUserGroup("{{ArloAPIv0Url}}");
				myAPIArloUserGroup.addUserGroup(
					groupName,
					function(json) {
						ARLOLogNotify("Successfully Created Group: " + groupName);
						myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Successfully added Group. Reloading...</strong>", true);
						location.reload();
					},
					function(jqXHR, textStatus, errorThrown) {
						ARLOLogError("Failed Creating Group: Status: " + textStatus + " Error: " + errorThrown);
						ARLOModalStatusCloseAll();
						myARLOModalStatus = null;
					}
				);

				return true;  /* close the ModalForm */
			},
		null  /* on cancel, do nothing */
		);
	}

	function deleteUserGroup(arloUserGroupId, arloUserGroupName){
		if (confirm("Delete " + arloUserGroupName + "?")) {
			myARLOModalStatus = new ARLOModalStatus();
			myARLOModalStatus.setStatus("<img src='{% static 'tools/img/loading.gif' %}' width='35px' height='35px'/><br /><strong>Deleting User Group...</strong>", true);
			var myAPIArloUserGroup = new APIArloUserGroup("{{ArloAPIv0Url}}");
			myAPIArloUserGroup.deleteUserGroup(
				arloUserGroupId,
				function(json) {
					ARLOLogNotify("Successfully Deleted Group: " + arloUserGroupName);
					location.reload();
				},
				function(jqXHR, textStatus, errorThrown) {
					ARLOLogError("Failed Deleting Group: Status: " + textStatus + " Error: " + errorThrown);
					ARLOModalStatusCloseAll();
					myARLOModalStatus = null;
				}
			);
		}
	}


	$(document).ready(function(){
		ARLOInit();


	});

-->
</script>

{% endblock javascript %}

{% block content %}

<h1>ARLO User Groups</h1>

<!--                   -->
<!--    List Groups    -->
<!--                   -->


<table>
	<tr><th>Group Name</th><th>Created By</th><th>Users</th><th></th></tr>

	{% for group in userGroups %}
	<tr>
		<td><a href='{{ArloUrlPrefix}}/tools/arloUserGroup/{{ group.id }}'>{{ group.name }}</a></td>
		<td>{{ group.createdBy.username }}</td>
		<td><ul>
			{% for user in group.users.all %}
			<li>{{user.username}}</li>
			{% endfor %}
		</ul></td>
		<td><a href="#" onclick="deleteUserGroup({{group.id}}, '{{group.name}}');return false;">Delete</a></td>
	</tr>
	{% endfor %}
</table>

<strong><a href="#" onclick="showAddArloUserGroupForm();return false;">Add New Group</a></strong>

{% endblock content %}
