{% extends "tools/base.html" %}

{% block javascript %}

	{% load static %}

	<link rel="stylesheet" href="{% static 'tools/css/visualizeProjectFile.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

  <script src="{% static 'third-party/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
  <script src="{% static 'third-party/jquery-contextMenu/jquery.contextMenu.js' %}" type="text/javascript"></script>

	<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>
	<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>


	<script type="text/javascript">
		//variables passed in through django
		var audioID = {{audioID}};
		var currentTagID;

		var projectId = '{{tag.tagSet.project.id}}';

		var urlPrefix = "{{ArloUrlPrefix}}";
		var mediaUrl = "{% get_media_prefix %}";
		var ArloStaticUrl = "{% get_static_prefix %}";

		var tagSetName = "{{tagSet.name}}";

		var audioPlayer;

		var LOADING_GIF_URL = "{% static 'tools/img/loading.gif' %}";
		var EMPTY_WAV_URL = "{% static 'tools/empty.wav' %}";
	</script>

	<script src="{% static 'tools/js/spectra.js' %}" type="text/javascript"></script>
	<script src="{% static 'tools/js/tag.js' %}" type="text/javascript"></script>


	<script type ="text/javascript">
	<!--
		$(document).ready(function(){
			ARLOInit(); /* Setup ARLO Global Utilities */

			$.getJSON("{{ArloUrlPrefix}}/tools/getTagClassAutoArray/{{tag.tagSet.project.id}}", function(json){
				var tagClasses = json;
				$("#id_tagClass").autocomplete({source: tagClasses});
			});

			$("#spectraForm :submit").click(OnSubmitSettingsForm);
			/*
			$("#spectraForm").ajaxForm({
				url:'{{ArloUrlPrefix}}/tools/createAudioSpectra',
				dataType:'json',
				success:spectraFormCallback
			});
			*/

			audioPlayer = new AudioPlayer(
				'audioPlayerid',
				"{% static 'tools/empty.wav' %}",
				document.getElementById("audioSegmentDiv")
			);

			LoadSettingsFormLastData();
			getSpectra();
		});

		/*       Override the Default setSpectra Behavior         */
		/*                                                        */
		/* We want to manually control updating the form for when */
		/* we are using 'basic' tagging - in this case, we don't  */
		/* want to modify the frequency parameters                */

		setSpectraCallback = function(startTime, endTime, startFreq, endFreq) {

			$("#id_tagStartTime").val(startTime);
			$("#id_tagEndTime").val(endTime);
			if (taggingMethod = $("#taggingMethod").val() == 'adv') {
				/* Only set these for 'advanced' tagging */
				$("#id_tagMinFrequency").val(startFreq);
				$("#id_tagMaxFrequency").val(endFreq);
			}

		};

	    /* ***************************************************** */
	    /*                                                       */
    	/*          Settings Form Save / Load Settings           */
	    /*                                                       */
    	/* ***************************************************** */

		function OnSubmitSettingsForm(event) {

			SaveSettingsFormLastData();

			getSpectra();

			return false;  /* return false to stop event propagation (and form submission outside AJAX) */
		}


		function SaveSettingsFormLastData() {
			ARLOSettingSet("TagViewLastLoadAudio", ( $("#id_loadAudio").is(':checked') ? "1" : "0"));

			ARLOSettingSet("TagViewLastSpectraNumFramesPerSecond", $("#id_spectraNumFramesPerSecond").val());
			ARLOSettingSet("TagViewLastSpectraNumFrequencyBands", $("#id_spectraNumFrequencyBands").val());
			ARLOSettingSet("TagViewLastSpectraDampingFactor", $("#id_spectraDampingFactor").val());

			ARLOSettingSet("TagViewLastSpectraGain", $("#id_gain").val());
			ARLOSettingSet("TagViewLastSpectraMinimumBandFrequency", $("#id_spectraMinimumBandFrequency").val());
			ARLOSettingSet("TagViewLastSpectraMaximumBandFrequency", $("#id_spectraMaximumBandFrequency").val());
			ARLOSettingSet("TagViewLastContextWindow", $("#id_contextWindow").val());
		};

		function LoadSettingsFormLastData() {
			var s;

			s = ARLOSettingGet("TagViewLastLoadAudio");
			if (s) {
				if (s == "1") {
					$("#id_loadAudio").prop('checked', true);
				} else {
					$("#id_loadAudio").prop('checked', false);
				}
			}

			s = ARLOSettingGet("TagViewLastSpectraNumFramesPerSecond");
			if (s) { $("#id_spectraNumFramesPerSecond").val(s); }
			s = ARLOSettingGet("TagViewLastSpectraNumFrequencyBands");
			if (s) { $("#id_spectraNumFrequencyBands").val(s); }
			s = ARLOSettingGet("TagViewLastSpectraDampingFactor");
			if (s) { $("#id_spectraDampingFactor").val(s); }

			s = ARLOSettingGet("TagViewLastSpectraGain");
			if (s) { $("#id_gain").val(s); }
			s = ARLOSettingGet("TagViewLastSpectraMinimumBandFrequency");
			if (s) { $("#id_spectraMinimumBandFrequency").val(s); }
			s = ARLOSettingGet("TagViewLastSpectraMaximumBandFrequency");
			if (s) { $("#id_spectraMaximumBandFrequency").val(s); }
			s = ARLOSettingGet("TagViewLastContextWindow");
			if (s) { $("#id_contextWindow").val(s); }
		};

	-->
	</script>

{% endblock javascript %}


{% block content %}
{% load crispy_forms_tags %}


  <div class="col-md-12">

		<ol class="breadcrumb">
			<li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
			<li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project}}</a></li>
			<li>View Tag</li>
		</ol>

		<div id="image" onclick="point_it(event)" style="position:relative"></div>
    <div id="spectraStatusDiv"></div>
		<div id=audioSegmentDiv></div>
  </div>

  <div class="col-md-4">
    <form action="" id="spectraForm" method="POST" onkeypress="return SubmitFormOnEnter(event)">

      {% csrf_token %}

      <input class="btn btn-xs" type="submit" name="method" value="Back" />
      <input class="btn btn-xs" type="submit" name="method" value="Back Half"/>
      <input class="btn btn-xs" type="submit" name="method" value="Forward Half"/>
      <input class="btn btn-xs" type="submit" name="method" value="Forward"/>

      {{spectraForm|crispy}}

      <input type="submit" id="submit" name="method" value="Submit" />

    </form>
  </div>

  <div class="col-md-4">
    <form action="" name="visualize" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="taggingMethod">Tagging Method:</label>
        <div class="controls">
          <select id="taggingMethod" class="select form-control">
            <option value="basic">Basic</option>
            <option value="adv">Advanced</option>
          </select>
        </div>
      </div>
      {{form|crispy}}
      <input type="submit" name="method" value="Submit" class="btn btn-success pull-right" />
    </form>
  </div>

  <div class="col-md-4">
    {% if tag.parentTag.id %}
			<p><a href="{{ArloUrlPrefix}}/tools/viewTag/{{tag.parentTag.id}}" class="btn btn-xs btn-success">View Parent Tag</a></p>
		{% endif %}
    <p><a href="{{ArloUrlPrefix}}/tools/visualizeProjectFile/{{tag.tagSet.project.id}}/{{tag.mediaFile.id}}/?tagID={{tag.id}}" class="btn btn-xs btn-success">View Audio File</a></p>
    <p><a href="{{urlPrefix}}/site_media/{{audioSegmentFilePath}}" id="audioSegmentDownload" class="btn btn-xs btn-success">Right-Click to Download Audio File</a></p>
  </div>

{% endblock content %}
