{% extends "tools/base.html" %}


{% block content %}

{% load crispy_forms_tags %}

<div class="col-md-12">

  <div class="panel panel-primary start-new-library">
    <div class="panel-heading">Edit Settings</div>
    <div class="panel-body">

      {% if saveMessage %}
      <div class="well">
        {{saveMessage}}
      </div>
      {% endif %}

      <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
      	<input class="btn" type="submit" value="Submit" />
</form>

</div>
</div>
</div>
{% endblock content %}
