{% extends "tools/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

{% block javascript %}

<script src="{% static 'third-party/jQuery-contextMenu/jquery.ui.position.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-flot/jquery.flot.min.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-flot/jquery.flot.axislabels.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/tag.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>

<script type="text/javascript">

	$( document ).ready(function() {

		$('#tagsSelect').bind('change', function() {
			var url = $('#tagsSelect option:selected').val()
			window.location.href = url
		})

		var tagData = {{tagData|safe}}
		console.log(tagData)

		var colors = ['#e74c3c', '#18bc9c', '#2c3e50', '#ccc','#666']

		var counter = 0
		var data = []

		for (var key in tagData) {
			var object = tagData[key]
			console.log(key)
			console.log(object)
			data.push({label: key, data: object.user, color: colors[counter]})
			counter++
		}

		var y_max = data.length + 1;

		var transform_data = function(data) {

			var data_array = []

			for (j = 0; j < data.length; j++) {

				var new_data = {}

				var new_data_coords = []
				var tmp_data = data[j]

				new_data.label = tmp_data.label
				new_data.color = colors[j]

				for (i = 0; i < tmp_data.data.length; i++) {

					var coords1 = [tmp_data.data[i][0],j + 1]
					var coords2 = [tmp_data.data[i][0] + tmp_data.data[i][1],j + 1]

					new_data_coords.push(coords1)
					new_data_coords.push(coords2)
					new_data_coords.push([null])

				}

				new_data.data = new_data_coords
				data_array.push(new_data)

			}

			return data_array

		} // transform_data

		var transformed_data = transform_data(data);

		$.plot("#projectTagsVizHolder",
			transformed_data,
			{
				series: {
					lines: { show: true },
					points: {show: true }
				},
				axisLabels: {
            show: true
        },
        xaxes: [{
					min: 0,
					max: {{duration}},
          axisLabel: 'Time',
        }],
        yaxes: [{
            show: false,
						min	: 0,
						max: y_max
        }]
			}
		);

	})

</script>

{% endblock javascript %}


{% block content %}

<div class="col-md-12">
	<ol class="breadcrumb">
	  <li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
		<li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project.name}}</a></li>
		<li>Visualize File Tags</li>
	</ol>
</div>

<div class="col-md-3">

	<div class="panel panel-primary audio-files" data-total-files="{{ totalFiles }}">
	  <div class="panel-heading">
	  	File: {{mediaFile.alias}}
	  </div>

		<div class="panel-body">

			<form method="GET" action="{{ArloUrlPrefix}}/tools/visualizeProjectFileTags" class="form-inline" id="tagsSelect">
				<div class="form-group">
					<label for="id_tagset">Tagset to visualize:</label>
					<select class="select form-control" id="id_tagset" name="tagset">
						{% for tagSet in tagSets  %}
							<option value="{{ArloUrlPrefix}}/tools/visualizeProjectFileTags/{{project.id}}/{{audioId}}/{{tagSet.tagSet.id}}"  {% if tagSet.tagSet.id == currentTagSetId %}selected="selected"{% endif %} >{{tagSet.tagSet.name}}</option>
						{% endfor %}
					</select>
				</div>
			</form>

		</div>
	</div>
</div>

<div class="col-md-9">

	<div id="projectTagsVizHolder"></div>

</div> <!-- .col-md -->


{% endblock content %}
