{% extends "tools/base.html" %}

{% block javascript %}
{% load static %}
<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>

<script type="text/javascript">
	//variables passed in through django
	var imageWidth;
	var imageHeight;
	var borderWidth;
	var topBorderHeight;
	var timeScaleHeight;

	var urlPrefix = "{{ArloUrlPrefix}}";
	var mediaUrl = "{% get_media_prefix %}";
	var ArloStaticUrl = "{% get_static_prefix %}";
	
	var audioPlayer = null;
</script>

<script type="text/javascript">
<!--
{% if firstTime %}
	{% comment %} skip audio file player since nothing loaded yet {% endcomment %}
{% else %}

	$(document).ready(function()
	{
		imageWidth = {{ imageWidth }};
		imageHeight = {{ imageHeight }};
		borderWidth = {{ borderWidth }};
		topBorderHeight = {{ topBorderHeight }};
		timeScaleHeight = {{ timeScaleHeight }};

		audioPlayer = new AudioPlayer(
			'audioPlayerid',
			"{% get_media_prefix %}{{audioSegmentFilePath|safe|addslashes}}",
			document.getElementById("audioSegmentDiv")
			);
		audioPlayer.initializeSpectraProgress( 
			document.getElementById("pointer_div"), 
			borderWidth, topBorderHeight, 
			imageWidth - (2  * borderWidth), 
			imageHeight - topBorderHeight - timeScaleHeight
			);
		
		{% if loadAudio %}
			audioPlayer.play();
		{% endif %}
	});
{% endif %}
-->
</script>
{% endblock javascript %}

{% block content %}

{% if firstTime %}
	{% comment %} skip audio file player since nothing loaded yet {% endcomment %}
{% else %}
	{% comment %}
	{% if loadAudio %}
	<audio id="audioSegment" src="{{ArloUrlPrefix}}/site_media/{{audioSegmentFilePath}}" controls="true" preload="metadata" autobuffer autoplay='true'></audio>
	{% endif %}
	{% endcomment %}

	<div id=audioSegmentDiv> </div>

	<br/>

	<div id="pointer_div" onclick="point_it(event)" style="background-image:url('{% get_media_prefix %}{{imageFilePath|safe|addslashes}}');width:{{imageWidth}}px;height:{{imageHeight}}px;position:relative"></div>

	<br/>
{% endif %}

<table>
	<tr>
		<td>
			<form action="" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" name="method" value="Submit" />
				<input type="submit" name="method" value="Back"/>
				<input type="submit" name="method" value="Next" />
				<input type="submit" name="method" value="Zoom In Time" />
				<input type="submit" name="method" value="Zoom Out Time"/>
				<br/>
				<input type="submit" name="method" value="Zoom In Freq" />
				<input type="submit" name="method" value="Zoom Out Freq"/>
				<input type="submit" name="method" value="Increase Damping" />
				<input type="submit" name="method" value="Decrease Damping"/>
			</form>
		</td>
		<td>
			Context Info: {{contextInfo}}
		</td>
	</tr>
</table>



{% endblock content %}
