
<!-- 9 Oct 11

  I don't think this is used. In addition, though named 'visualizeTagSet' this seems very similar to visualizeAudio. 

  Unimplemented feature? 

-->


{% extends "tools/base.html" %}

{% block content %}



{% if visualizeSpectra %}


<EMBED SRC='{{apacheRoot}}{{audioSegmentFilePath}}' VOLUME='100' AUTOSTART='TRUE' HEIGHT='12' WIDTH='{{playerWidth}}'/>

<br />

<EMBED SRC='{{apacheRoot}}{{imageFilePath}}' WIDTH='{{imageWidth}} ' HEIGHT='{{imageHeight}}'/>


<br />
{% endif %}


<form action="{{tagSetName}}" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" name="method" value="Submit" />
	<input type="submit" name="method" value="Next" />
	<input type="submit" name="method" value="Back" />
	<input type="submit" name="method" value="Zoom In Time" />
	<input type="submit" name="method" value="Zoom Out Time" />
	<input type="submit" name="method" value="Zoom In Freq" />
	<input type="submit" name="method" value="Zoom Out Freq" />
	<input type="submit" name="method" value="Increase Damping" />
	<input type="submit" name="method" value="Decrease Damping" />
</form>



{% endblock content %}
