{% extends "tools/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

{% block javascript %}

<script src="{% static 'third-party/jQuery-contextMenu/jquery.ui.position.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-flot/jquery.flot.min.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-flot/jquery.flot.axislabels.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-flot/jquery.flot.stack.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jquery-form/jquery.form.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/tag.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>


<script type="text/javascript">

	function visualize(mode, tagData, tagTotal) {
		var colors = ['#e74c3c', '#18bc9c', '#2c3e50', '#ccc','#666']
		var counter = 0;
		var pieData = []
		var graphData = []

		$('#projectTagsVizTop h3 span').html(tagTotalAll);

		if (mode == "all") {

			for (var key in tagData) {

				var object = tagData[key]

				var allTags = {}
				var all = []

				for (var key2 in object.machine) {
					var tagCount = 0
					tagCount += tagCount + object.machine[key2][1]
					tagCount += object.user[key2][1]
					all.push([key2, tagCount])
				}

				graphData.push({label: key, data: all, color: colors[counter]})

				counter++

			}

		} else if (mode == "user") {

			for (var key in tagData) {

				var object = tagData[key]

				graphData.push({label: key, data: object.user, color: colors[counter]})

				counter++

			}

		} else {

			for (var key in tagData) {

				var object = tagData[key]

				graphData.push({label: key, data: object.machine, color: colors[counter]})

				counter++

			}

		} // else machine

		/***
		$.plot("#projectTagsPieHolder", pieData, {
				series: {
					pie: {
						show: true
					}
				}
			})
		***/

		options = {
				series: {
					stack: true,
					group: true,
					groupInterval: 1,
					lines: {
						show: true,
						fill: true,
						lineWidth: 1
					},
					shadowSize: 0
				},
				axisLabels: {
						show: true
				},
				xaxes: [{
						axisLabel: 'Time Section',
				}],
				yaxes: [{
						position: 'left',
						axisLabel: 'Tag Count',
				}]
		}

		$.plot($('#projectTagsVizHolder'), $.extend(true, [], graphData), options);

		}

	$( document ).ready(function() {

		var tagData = {{tagData|safe}}

		tagTotalUser = 0
		tagTotalMachine = 0
		tagTotalAll = 0

		for (var key in tagData) {

			var object = tagData[key]

			for (var key2 in object.machine) {
				tagTotalMachine += object.machine[key2][1]
				tagTotalAll += object.machine[key2][1]
			}

			for (var key3 in object.user) {
				tagTotalUser += object.user[key3][1]
				tagTotalAll += object.user[key3][1]
			}

		}

		$('.projectTagsVizOptions .all span').html(tagTotalAll)
		$('.projectTagsVizOptions .user span').html(tagTotalUser)
		$('.projectTagsVizOptions .machine span').html(tagTotalMachine)


		visualize("all", tagData, tagTotalAll)

		$('.projectTagsVizOptions a').bind('click', function() {
			$('.projectTagsVizHolder').empty()
			if ($(this).hasClass("user")) {
				visualize("user", tagData, tagTotalUser)
			} else if ($(this).hasClass("machine")) {
				visualize("machine", tagData, tagTotalMachine)
			} else {
				visualize("all", tagData, tagTotalAll)
			}
			$('.projectTagsVizOptions a').removeClass('list-group-item-danger active')
			$(this).addClass('list-group-item-danger active')
			return false
		})

		$('#tagsSelect').bind('change', function() {
			var url = $('#tagsSelect option:selected').val()
			window.location.href = url
		})

	})

</script>

{% endblock javascript %}


{% block content %}

<div class="col-md-12">
	<ol class="breadcrumb">
	  <li><a href="{{ArloUrlPrefix}}/tools/">Home</a></li>
		<li><a href="{{ArloUrlPrefix}}/tools/projectFiles/{{project.id}}">Project: {{project.name}}</a></li>
		<li>Visualize Project Tags</li>
	</ol>
</div>

<div class="col-md-3">

	<div class="panel panel-primary audio-files" data-total-files="{{ totalFiles }}">
	  <div class="panel-heading">
	  	Project: {{project.name}}
	  </div>
		<div class="panel-body">
			<form method="GET" action="" class="form-inline" id="tagsSelect">
				<div class="form-group">
					<label for="id_tagset">Tagset to visualize:</label>
					<select class="select form-control" id="id_tagset" name="tagset">
						{% for tagSet in tagSets  %}
							<option value="{{ArloUrlPrefix}}/tools/visualizeProjectTags/{{project.id}}/{{tagSet.tagSet.id}}"  {% if tagSet.tagSet.id == currentTagSetId %}selected="selected"{% endif %} >{{tagSet.tagSet.name}}</option>
						{% endfor %}
					</select>
				</div>
			</form>
		</div>

		<div class="list-group projectTagsVizOptions default">
			<a href="#" class="list-group-item list-group-item-danger active all" data-activate="all">All Tags <span class="badge"></span></a>
			<a href="#" class="list-group-item user" data-activate="user">User Tags <span class="badge"></span></a>
			<a href="#" class="list-group-item machine" data-activate="machine">Machine Tags <span class="badge"></span></a>
		</div>

	</div>
</div>

<div class="col-md-9">
	<div id="projectTagsVizHolder"></div>
</div>


{% endblock content %}
