{% extends "tools/base.html" %}
{% block javascript %}
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />
{% endblock javascript %}

{% block content %}

<H1>Select Project</H1>

<form method="POST">
	{% csrf_token %}
	<p>
		{{form.as_p}} 
	</p>
	<input type='submit' />
</form>

{% endblock content %}
