{% extends "tools/base.html" %}

{% block javascript %}

{% load static %}

<link rel="stylesheet" href="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'tools/css/visualizeProjectFile.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script src="{% static 'third-party/jQuery-contextMenu/jquery.ui.position.js' %}" type="text/javascript"></script>
<script src="{% static 'third-party/jQuery-contextMenu/jquery.contextMenu.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>

<script type="text/javascript">
<!--
	//variables passed in through django
	var ArloStaticUrl = "{% get_static_prefix %}";
	var audioID = "{{audioID}}";
	var currentTagID;

	var projectId = '{{tag.tagSet.project.id}}';

	var urlPrefix = "{{ArloUrlPrefix}}";
	var mediaUrl = "{% get_media_prefix %}";

	var tagSetName = "{{tagSet.name}}";

	var audioPlayer;

	var LOADING_GIF_URL = "{% static 'tools/img/loading.gif' %}";
	var EMPTY_WAV_URL = "{% static 'tools/empty.wav' %}";
-->
</script>

<script src="{% static 'tools/js/spectra.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/js/tag.js' %}" type="text/javascript"></script>


<script type ="text/javascript">
<!--
	$(document).ready(function(){

		ARLOInit(); /* Setup ARLO Global Utilities */

		/*  Replaced by Custom Handlers Below */
		/* $("#spectraForm").ajaxForm({
			url:'{{ArloUrlPrefix}}/tools/createAudioSpectra',
			dataType:'json',
			success:spectraFormCallback
		});
		*/

		/* Event Handler for Form Submit */
		$("#staticSettingsForm :submit").click(OnSubmitSettingsForm);

		audioPlayer = new AudioPlayer(
			'audioPlayerid', 
			"{% static 'tools/empty.wav' %}", 
			document.getElementById("audioSegmentDiv")
		);

		/* Event Handler to Show/Hide Spectra Form */
		$("#spectraFormHeader").click(function() {
			$("#staticSettingsForm").toggle(100);
		});

		LoadSettingsFormLastData();
		getSpectra();
	});


	/* ***************************************************** */
	/*                                                       */
	/*          Settings Form Save / Load Settin;gs           */
	/*                                                       */
	/* ***************************************************** */

	function OnSubmitSettingsForm(event) {

		SaveSettingsFormLastData();

		getSpectra();

		return false;  /* return false to stop event propagation (and form submission outside AJAX) */
	};

	function SaveSettingsFormLastData() {
		ARLOSettingSet("MetaTaggingLastLoadAudio", ( $("#id_loadAudio").is(':checked') ? "1" : "0"));

		ARLOSettingSet("MetaTaggingLastSpectraNumFramesPerSecond", $("#id_spectraNumFramesPerSecond").val());
		ARLOSettingSet("MetaTaggingLastSpectraNumFrequencyBands", $("#id_spectraNumFrequencyBands").val());
		ARLOSettingSet("MetaTaggingLastSpectraDampingFactor", $("#id_spectraDampingFactor").val());

		ARLOSettingSet("MetaTaggingLastSpectraGain", $("#id_gain").val());
		ARLOSettingSet("MetaTaggingLastSpectraMinimumBandFrequency", $("#id_spectraMinimumBandFrequency").val());
		ARLOSettingSet("MetaTaggingLastSpectraMaximumBandFrequency", $("#id_spectraMaximumBandFrequency").val());
		ARLOSettingSet("MetaTaggingLastContextWindow", $("#id_contextWindow").val());
	};

	function LoadSettingsFormLastData() {
		var s;

		s = ARLOSettingGet("MetaTaggingLastLoadAudio");
		if (s) { 
			if (s == "1") {
				$("#id_loadAudio").prop('checked', true);
			} else {
				$("#id_loadAudio").prop('checked', false);
			}
		}

		s = ARLOSettingGet("MetaTaggingLastSpectraNumFramesPerSecond");
		if (s) { $("#id_spectraNumFramesPerSecond").val(s); }
		s = ARLOSettingGet("MetaTaggingLastSpectraNumFrequencyBands");
		if (s) { $("#id_spectraNumFrequencyBands").val(s); }
		s = ARLOSettingGet("MetaTaggingLastSpectraDampingFactor");
		if (s) { $("#id_spectraDampingFactor").val(s); }
		
		s = ARLOSettingGet("MetaTaggingLastSpectraGain");
		if (s) { $("#id_gain").val(s); }
		s = ARLOSettingGet("MetaTaggingLastSpectraMinimumBandFrequency");
		if (s) { $("#id_spectraMinimumBandFrequency").val(s); }
		s = ARLOSettingGet("MetaTaggingLastSpectraMaximumBandFrequency");
		if (s) { $("#id_spectraMaximumBandFrequency").val(s); }
		s = ARLOSettingGet("MetaTaggingLastContextWindow");
		if (s) { $("#id_contextWindow").val(s); }

	};



-->
</script>

{% endblock javascript %}



{% block content %}

<H1>Classify Tag</H1>

<p>Tag Example Id: {{tag.id}}</p>

<hr>


<!--                                         -->
<!--             Spectra Image               -->
<!--                                         -->


<div id=audioSegmentDiv>
</div>

<a href="{{urlPrefix}}/site_media/{{audioSegmentFilePath}}" id="audioSegmentDownload">Right-Click Here to Download Audio File</a><br/>

<div id="spectraStatusDiv"></div>

<div id="image" style="position:relative"></div>
<br/>

<!-- Navigation Links -->
{% if prevUrl %}
	<a href='{{prevUrl}}'>Prev Window</a>
{% else %}
	Prev Window
{% endif %}
	||
{% if nextUrl %}
	<a href='{{nextUrl}}'>Next Window</a>
{% else %}
	Next Window
{% endif %}

<!--                                         -->
<!--        Categorization Form              -->
<!--                                         -->

<!-- This is custom user-supplied data -->

{{tagMetaFormTemplateData|safe}}


<!--                                         -->
<!--       Spectra Settings Form             -->
<!--                                         -->

<br />
<br />
<table>
	<h3 id="spectraFormHeader">Spectra Settings (Click to Show / Hide)</h3>
	<div id="staticSettingsForm" hidden='true'>
		<form action="" id="spectraForm" method="POST" onkeypress="return SubmitFormOnEnter(event)">
			{% csrf_token %}
			{{spectraForm.as_p}}
			<input type="submit" name="method" value="Submit" />
		</form>
	</div>
</table>


{% endblock content %}
