{% extends "tools/base.html" %}
{% block javascript %}
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />
{% endblock javascript %}

{% block content %}

<H1>Overview of MetaTagging</H1>

<p>{{ numClassifiedTags }} of {{numTags}} Tags already Classified.</p>

<table><tr><td>
	<form action='' method="POST">
		{% csrf_token %}
		<input type='submit' value="Start at Beginning"/>
	</form>
</td><td>
&nbsp;
</td><td>
	{% if firstUntaggedIndex != None %}
		<form action='' method="POST">
			{% csrf_token %}
			<input type='hidden' name='gotoIndex' value='{{ firstUntaggedIndex }}'>
			<input type='submit' value="Jump to First Untagged"/>
		</form>
	{% endif %}
</td></tr></table>

<br />
<a href="{{ exportUserClassificationsUrl }}">Export My Tag Classifications</a>
<br />
<br />
<a href="{{ exportAllClassificationsUrl }}">Export All Tag Classifications</a>
<br />
<br />
<a href="{{ visualizeAllClassificationsUrl }}">Visualize All Tag Classifications</a>
<br />
<br />
<br />
<h4>Documentation</h4>
<a href="http://wiki.arloproject.com/index.php?title=MetaTagging">http://wiki.arloproject.com/index.php?title=MetaTagging</a>

{% endblock content %}
