{% extends "tools/base.html" %}

{% block javascript %}

	{% load static %}

	<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

	<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>

<script type="text/javascript">
	var mediaUrl = "{% get_media_prefix %}"; 
	var ArloStaticUrl = "{% get_static_prefix %}";
</script>

<script type="text/javascript">
<!--
		
	$(document).ready(function(){
		audioPlayer = new AudioPlayer(
			'audioPlayerid', 
			'{{ArloUrlPrefix}}/site_media/{{audioSegmentFilePath}}',
			document.getElementById("audioSegmentDiv")
		);
		audioPlayer.play();
	
		$("#id_tempo_0").focus();
	});

-->
</script>

{% endblock javascript %}

{% block content %}

<H1>Classify Tag</H1>

<p>Tag Example Id: {{tag.id}}</p>

<hr>

<p>Note: Plot Settings are controlled by the TagView settings in UserSettings.</p>


<!--                                         -->
<!--             Spectra Image               -->
<!--                                         -->

<div id=audioSegmentDiv>
</div>

<br/>
<a href='{{ArloUrlPrefix}}/site_media/{{audioSegmentFilePath}}' id="audioSegmentDownload">Right-Click to Download This WAV Segment</a>
<br/>

<div id="image" style="position:relative">
	<img src='{{ ArloUrlPrefix }}/site_media/{{imageFilePath}}' >
</div>

<br/>


<!--                                         -->
<!--        Categorization Form              -->
<!--                                         -->

<hr>

<!-- HTML5 hack for HR -->
<style>
	div.classificationForm hr {background:black; border:0; height:1px;}
	div.nolistbullet li {list-style-type: none; padding: 0px; margin: 0px;}
	div.nolistbullet ul {padding: 3px; margin: 3px;}
	div.classificationForm table {border-collapse:collapse;}
	div.classificationForm table,th,td {border: 1px solid black; border-bottom: 1px solid black; padding: 1px; margin: 1px;}
</style>

<div id='classificationForm' class="nolistbullet">
<div id='classificationForm' class="classificationForm">
<form action="" method="POST">
	{% csrf_token %}

	<div style="display:inline-block;">
	<table>
	<tr>
		<td rowspan='2' bgcolor='#D0D0D0'>

			<span style="color:red;">
			&nbsp;
			{% for tme in existingTagMetaEntries %}
				{% if tme.option.field.name == "speech-single"      %}<br />Tag Marked as <b>Speech-Single Speaker</b>{% endif %}
				{% if tme.option.field.name == "speech-multiple"    %}<br />Tag Marked as <b>Speech-Multiple Speaker</b>{% endif %}
				{% if tme.option.field.name == "silence"            %}<br />Tag Marked as <b>Silence</b>{% endif %}
				{% if tme.option.field.name == "chatter"            %}<br />Tag Marked as <b>Chatter</b>{% endif %}
				{% if tme.option.field.name == "applause"           %}<br />Tag Marked as <b>Applause</b>{% endif %}
				{% if tme.option.field.name == "laughter"           %}<br />Tag Marked as <b>Laughter</b>{% endif %}
				{% if tme.option.field.name == "music-instrumental" %}<br />Tag Marked as <b>Music-Instrumental</b>{% endif %}
				{% if tme.option.field.name == "music-vocal"        %}<br />Tag Marked as <b>Music-Vocal</b>{% endif %}
				{% if tme.option.field.name == "notRatable"         %}<br />Tag Marked as <b>Not Ratable</b>{% endif %}
			{% endfor %}
			&nbsp;
			</span>

			<center>
			<br />
			<br />
			&nbsp; <input type='submit' style="width:150px;" value='Speech-Single Speaker'   name='id_speech-single'> <br />
			&nbsp; <input type='submit' style="width:150px;" value='Speech-Multiple Speaker' name='id_speech-multiple'> <br />
			&nbsp; <input type='submit' style="width:150px;" value='Silence'                 name='id_silence'> <br />
			&nbsp; <input type='submit' style="width:150px;" value='Chatter'                 name='id_chatter'><br />
			&nbsp; <input type='submit' style="width:150px;" value='Applause'                name='id_applause'><br />
			&nbsp; <input type='submit' style="width:150px;" value='Laughter'                name='id_laughter'><br />
			&nbsp; <input type='submit' style="width:150px;" value='Music-Instrumental'      name='id_music-instrumental'><br />
			&nbsp; <input type='submit' style="width:150px;" value='Music-Vocal'             name='id_music-vocal'><br />
			&nbsp; <input type='submit' style="width:150px;" value='Not Ratable'             name='id_notRatable'><br />
			</center>

		</td>
	</tr>
	</table>

	{% if form.tagId.errors %}
		<div style="vertical-align:center;">
			{{ form.tagId.errors }}
  			{{ form.tagId.label }} {{ form.tagId }}
		</div>
	{% else %}
    	<div hidden='true'>{{ form.tagId.label }} {{ form.tagId }}</div>
	{% endif %}


	<strong>*</strong> Indicates Required Field
    &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{overviewUrl}}">Back to Overview Page</a>
	<input style="float:right; margin-right:0px;width:80px;" type='submit' />
	</div>
</form>
</body>
</html>


</form>
</div>
</div>



{% endblock content %}
