{% extends "tools/base.html" %}

{% block javascript %}

	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

	<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
 	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<script type="text/javascript">
	<!--
		var exportUrl = "{{ArloUrlPrefix}}/metatagging/exportAllClassifications/" + 
			{{ project.id }} + "/" + 
			{{ tagSet.id }}  + "/" + 
			{{ tagMetaForm.id }};
		var exportCSV = "";
		var tagIdCol = -1;

		///
		// Load Google Charts

		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(chartLoaded);

		function chartLoaded() {
			$("#statusHeader").prop('innerHTML', 'Loading Data...');

			$.get(exportUrl, function( data ) {
				exportCSV = data;
				dataLoaded();
			});
//.error( function() {
//				alert("Failed Loading Data");
//				$("#statusHeader").prop('innerHTML', 'Failed Loading Data...');
//			});
		};

		function dataLoaded() {
			$("#statusHeader").prop('innerHTML', 'Parsing Data...');


			var lines=exportCSV.split("\n");
			var headers=lines[0].split(",");
			for (var i=0; i<headers.length; i++) {
				var opt = document.createElement('option');
				if (headers[i] == "tag_id") {
					tagIdCol = i;
				} else {
					if (headers[i] != "dateTagged") {
						opt.innerHTML = headers[i];
						opt.value = i;
						$("#plotVar")[0].appendChild(opt);
					}
				}
			}

			if (tagIdCol < 0) {
				$("#statusHeader").prop('innerHTML', "Didn't find tag_id");
			} else {
				$("#statusHeader").prop('innerHTML', '');
				$("#plotSelect").prop('hidden', false);
			}
		};

		$(document).ready(function(){

			$("#plotSelect").change(plotSelectCallback);
			
		});

		function plotSelectCallback() {
			var plotVar = $("#plotSelect").find(":selected").val();
			plotData(plotVar);
		};

		function plotData(plotVar) {
			var EMPTY_NAME = "<Empty>";

			// chart data
			var chartDataArray = new Array();

			///
			// build list of headings - this also contains the classification names for comparison
			var chartColumnsArray = new Array();
			chartColumnsArray.push("Tag ID");

			// loop over all data, looking for all TagClasses
			var lines=exportCSV.split("\n");
			for (var i=1; i < lines.length; i++) {
				var cols = lines[i].split(',');
				// skip blank row (at end)
				if (cols.length > 1) {
					var datum = cols[plotVar];
					if (datum == '') {
						datum = EMPTY_NAME;
					}

					if ($.inArray(datum, chartColumnsArray) == -1) {
						chartColumnsArray.push(datum);
					}
				}
			}
			chartDataArray.push(chartColumnsArray);

			///
			// loop over all data, building counts of each datum

			for (var rowIndex=1; rowIndex < lines.length; rowIndex++) {
				var cols = lines[rowIndex].split(',');
				// skip blank row (at end)
				if (cols.length > 1) {
					var tagId = cols[tagIdCol];
					var datum = cols[plotVar];
					if (datum == '') {
						datum = EMPTY_NAME;
					}
	
					if ($.inArray(datum, chartColumnsArray) == -1) {
						chartColumnsArray.push(datum);
					}
	
					// see if tag entry already exists
					var foundRow = false;
					for (var i=0; i<chartDataArray.length; i++) {
						if (tagId == chartDataArray[i][0]) {  // [0] = tagId column
							rowArray = chartDataArray[i];
							rowArray[ $.inArray(datum, chartColumnsArray) ] += 1;
							foundRow = true;
							break;
						}
					}
	
					if (! foundRow) {
						// build empty row
						var rowArray = new Array();
						rowArray.push(String(tagId));
						// zero-out all columns
						for (var i=1; i<chartColumnsArray.length;i++) {
							rowArray.push(0);
						}
		
						rowArray[ $.inArray(datum, chartColumnsArray) ] += 1;
						chartDataArray.push(rowArray);
					}
				}
			}



//$.each(chartDataArray, function(index) {
//	console.log(chartDataArray[index]);
//});

			var data = google.visualization.arrayToDataTable(chartDataArray);

			var options = {
				title: 'Tag Comparison',
				vAxis: {title: 'Tag Id',  titleTextStyle: {color: 'red'}},
				hAxis: {title: 'Count', titleTextStyle: {color: 'red'}},
				height: 35*chartDataArray.length,
				isStacked: true,
				chartArea: {top: 50},
			};

			var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
			chart.draw(data, options);

		};

-->
</script>





{% endblock javascript %}

{% block content %}

<H1>Compare Tags</H1>

<hr>

<a href="{{overviewUrl}}">Back to Overview Page</a>

<p id='plotSelect' hidden='true'>
	Plot:
	<select id='plotVar'>
		<option value="-1"></option>
	</select>
</p>

<h2 id='statusHeader'>Loading Google Charts... <img src="{% static 'tools/img/loading.gif' %}" width="20px" height="20px"/></h2>



<div id="chart_div"></div>

{% endblock content %}
