{% extends "tools/base.html" %}

{% block javascript %}
	{% load static %}

	<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

	<script src="{% static 'tools/js/audioPlayer.js' %}" type="text/javascript"></script>

<script type="text/javascript">
	var mediaUrl = "{% get_media_prefix %}"; 
	var ArloStaticUrl = "{% get_static_prefix %}";
</script>

<script type="text/javascript">
<!--
		
	$(document).ready(function(){
		audioPlayer = new AudioPlayer(
			'audioPlayerid', 
			'{{ArloUrlPrefix}}/site_media/{{audioSegmentFilePath}}',
			document.getElementById("audioSegmentDiv")
		);
		audioPlayer.play();
	
		$("#id_tempo_0").focus();
	});

-->
</script>

{% endblock javascript %}

{% block content %}

<H1>Classify Tag</H1>

<p>Tag Id: {{tag.id}}</p>

<hr>

<p>Note: Plot Settings are controlled by the TagView settings in UserSettings.</p>


<!--                                         -->
<!--             Spectra Image               -->
<!--                                         -->


<div id=audioSegmentDiv>
</div>

<br/>
<a href='{{ArloUrlPrefix}}/site_media/{{audioSegmentFilePath}}' id="audioSegmentDownload">Right-Click to Download This WAV Segment</a>
<br/>

<div id="image" style="position:relative">
	<img src='{{ ArloUrlPrefix }}/site_media/{{imageFilePath}}' >
</div>

<br/>








<!--                                         -->
<!--        Categorization Form              -->
<!--                                         -->

<hr>

<!-- HTML5 hack for HR -->
<style>
	div.classificationForm hr {background:black; border:0; height:1px;}
	div.nolistbullet li {list-style-type: none; padding: 0px; margin: 0px;}
	div.nolistbullet ul {padding: 3px; margin: 3px;}
	div.classificationForm table {border-collapse:collapse;}
	div.classificationForm table,th,td {border: 1px solid black; border-bottom: 1px solid black; padding: 1px; margin: 1px;}
</style>

<div id='classificationForm' class="nolistbullet">
<div id='classificationForm' class="classificationForm">
<form action="" method="POST">
	{% csrf_token %}

	<div style="display:inline-block;">
	<table>
	<tr>
		<td rowspan='2' bgcolor='#D0D0D0'>

			<span style="color:red;">
			&nbsp;
			{% if existingTagClassification.silent      %}<br />Tag Marked as <b>Silent</b>{% endif %}
			{% if existingTagClassification.chatter     %}<br />Tag Marked as <b>Chatter</b>{% endif %}
			{% if existingTagClassification.applause    %}<br />Tag Marked as <b>Applause</b>{% endif %}
			{% if existingTagClassification.laughter    %}<br />Tag Marked as <b>Laughter</b>{% endif %}
			{% if existingTagClassification.music       %}<br />Tag Marked as <b>Music</b>{% endif %}
			{% if existingTagClassification.notRatable  %}<br />Tag Marked as <b>Not Ratable</b>{% endif %}
			&nbsp;
			</span>

			<center>
			<br />
			<br />
			&nbsp; <input type='submit' style="width:80px;" value='Silence'      name='id_silent'>      <br />
			&nbsp; <input type='submit' style="width:80px;" value='Chatter'      name='id_chatter'>     <br />
			&nbsp; <input type='submit' style="width:80px;" value='Applause'     name='id_applause'>    <br />
			&nbsp; <input type='submit' style="width:80px;" value='Laughter'     name='id_laughter'>    <br />
			&nbsp; <input type='submit' style="width:80px;" value='Music'        name='id_music'>       <br />
			&nbsp; <input type='submit' style="width:80px;" value='Not Ratable'  name='id_notratable'>  <br />
			</center>

		</td>
		<td>
			&nbsp;<strong>Tempo: *</strong><br />
			{{ form.tempo.errors }}
			{{ form.tempo }}
		</td><td rowspan='2'>
			&nbsp;<strong>Rhythm: *</strong><br />
			{{ form.rhythm.errors }}
			{{ form.rhythm }}
		</td><td>
			&nbsp;<strong>Loudness: *</strong><br />
			{{ form.loudness.errors }}
			{{ form.loudness }}
		</td><td>
			&nbsp;<strong>Pitch: *</strong><br />
			{{ form.pitch.errors }}
			{{ form.pitch }}
		</td><td>
			&nbsp;<strong>Tension: *</strong><br />
			{{ form.tension.errors }}
			{{ form.tension }}
		</td><td rowspan='2'>
			&nbsp;<strong>Voice:</strong><br />

			{{ form.whisp.errors }}
			&nbsp; {{ form.whisp }} {{ form.whisp.label }} <br />
			{{ form.breath.errors }}
			&nbsp; {{ form.breath }} {{ form.breath.label }} <br />
			{{ form.husk.errors }}
			&nbsp; {{ form.husk }} {{ form.husk.label }} <br />
			{{ form.creak.errors }}
			&nbsp; {{ form.creak }} {{ form.creak.label }} <br />
			{{ form.fals.errors }}
			&nbsp; {{ form.fals }} {{ form.fals.label }} <br />
			{{ form.reson.errors }}
			&nbsp; {{ form.reson }} {{ form.reson.label }} <br />
			{{ form.giggle.errors }}
			&nbsp; {{ form.giggle }} {{ form.giggle.label }} <br />
			{{ form.laugh.errors }}
			&nbsp; {{ form.laugh }} {{ form.laugh.label }} <br />
			{{ form.trem.errors }}
			&nbsp; {{ form.trem }} {{ form.trem.label }} <br />
			{{ form.sob.errors }}
			&nbsp; {{ form.sob }} {{ form.sob.label }} <br />
			{{ form.yawn.errors }}
			&nbsp; {{ form.yawn }} {{ form.yawn.label }} <br />
			{{ form.sigh.errors }}
			&nbsp; {{ form.sigh }} {{ form.sigh.label }} <br />
			<br />
			{{ form.notPoetry.errors }}
			&nbsp; {{ form.notPoetry }} {{ form.notPoetry.label }}  <br />
		</td>
	</tr><tr>
		<td>
			&nbsp;<strong>Tempo Change:</strong>
			{{ form.tempoChange.errors }}
			{{ form.tempoChange }}
		</td><td>
			&nbsp;<strong>Loudness Change:</strong>
			{{ form.loudnessChange.errors }}
			{{ form.loudnessChange }}
		</td><td>
			&nbsp;<strong>Pitch Range:</strong>
			{{ form.pitchRange.errors }}
			{{ form.pitchRange }}
			<hr />
			&nbsp; {{ form.scandent.errors }}
			{{ form.scandent }} {{ form.scandent.label }} <br />
		</td><td>
			&nbsp;<strong>Articulation:</strong>
			{{ form.articulation.errors }}
			{{ form.articulation }}
		</td>
	</tr>
	</table>

	{% if form.tagId.errors %}
		<div style="vertical-align:center;">
			{{ form.tagId.errors }}
  			{{ form.tagId.label }} {{ form.tagId }}
		</div>
	{% else %}
    	<div hidden='true'>{{ form.tagId.label }} {{ form.tagId }}</div>
	{% endif %}


	<strong>*</strong> Indicates Required Field
    &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{overviewUrl}}">Back to Overview Page</a>
	<input style="float:right; margin-right:0px;width:80px;" type='submit' />
	</div>
</form>
</body>
</html>


</form>
</div>
</div>



{% endblock content %}
