{% extends "tools/base.html" %}
{% block javascript %}

	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />
{% endblock javascript %}

{% block content %}

<H1>Overview of Poetry Tagging</H1>

<p>{{ numClassifiedTags }} of {{numTags}} Tags already Classified.</p>

<form action='' method="POST">
	{% csrf_token %}
	<input type='submit' value="Start at Beginning"/>
</form>

{% if firstUntaggedIndex != None %}
	<form action='' method="POST">
		{% csrf_token %}
    	<input type='hidden' name='gotoIndex' value='{{ firstUntaggedIndex }}'>
	    <input type='submit' value="Jump to First Untagged"/>
	</form>
{% endif %}

<br />
<a href="{{ exportUserClassificationsUrl }}">Export My Tag Classifications</a>
<br />
<br />
<a href="{{ exportAllClassificationsUrl }}">Export All Tag Classifications</a>
<br />
<br />
<a href="{{ visualizeAllClassificationsUrl }}">Visualize All Tag Classifications</a>

{% endblock content %}
