{% extends "tools/base.html" %}

{% block javascript %}

	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

	<script src="{% static 'tools/js/arlo.js' %}" type="text/javascript"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>


	<script type="text/javascript">
	<!--

		var classifications={{classifications|safe}};

		///
		// Load Google Charts

		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(chartLoaded);

		function chartLoaded() {
			$("#statusHeader").prop('innerHTML', '');
			$("#plotSelect").prop('hidden', false);
		};


		$(document).ready(function(){

			$("#plotSelect").change(plotSelectCallback);
			
		});

		function plotSelectCallback() {
			var plotVar = $("#plotSelect").find(":selected").text();
			plotData(plotVar);
		};

		function plotData(plotVar) {

			// chart data
			var chartDataArray = new Array();

			///
			// build list of headings - this also contains the classification names for comparison
			var chartColumnsArray = new Array();
			chartColumnsArray.push("Tag ID");
			// loop over all data, looking for all TagClasses
			$.each(classifications, function(index) {
				var datum = classifications[index][plotVar];
				if (datum == null) {
					datum = "Null";
				}

				if ($.inArray(datum, chartColumnsArray) == -1) {
					chartColumnsArray.push(datum);
				}
			});
			chartDataArray.push(chartColumnsArray);

			///
			// loop over all data, building counts of each datum

			$.each(classifications, function(index) {
				var tagId = classifications[index].tagId;
				var datum = classifications[index][plotVar];
				if (datum == null) {
					datum = "Null";
				}

				///
				// see if tag entry already exists

				var foundRow = false;
				for (var i=0; i<chartDataArray.length; i++) {
					if (tagId == chartDataArray[i][0]) {  // [0] = tagId column
						rowArray = chartDataArray[i];
						rowArray[ $.inArray(datum, chartColumnsArray) ] += 1;
						foundRow = true;
						break;
					}
				}

				if (! foundRow) {
					// build empty row
					var rowArray = new Array();
					rowArray.push(String(classifications[index]['tagId']));
					// zero-out all columns
					for (var i=1; i<chartColumnsArray.length;i++) {
						rowArray.push(0);
					}
	
					rowArray[ $.inArray(datum, chartColumnsArray) ] += 1;
					chartDataArray.push(rowArray);
				}

			});



//$.each(chartDataArray, function(index) {
//	console.log(chartDataArray[index]);
//});

			var data = google.visualization.arrayToDataTable(chartDataArray);

			var options = {
				title: 'Tag Comparison',
				vAxis: {title: 'Tag Id',  titleTextStyle: {color: 'red'}},
				hAxis: {title: 'Count', titleTextStyle: {color: 'red'}},
				height: 35*chartDataArray.length,
				isStacked: true,
				chartArea: {top: 50},
			};

			var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
			chart.draw(data, options);

		};

-->
</script>





{% endblock javascript %}

{% block content %}

<H1>Compare Tags</H1>

<hr>

<p id='plotSelect' hidden='true'>
	Plot:
	<select id='plotVar'>
		<option></option>
		<option>tempo</option>
		<option>tempoChange</option>
		<option>rhythm</option>
		<option>loudness</option>
		<option>loudnessChange</option>
		<option>pitch</option>
		<option>pitchRange</option>
		<option>scandent</option>
		<option>tension</option>
		<option>articulation</option>
	</select>
</p>

<h2 id='statusHeader'>Loading Google Charts... <img src="{% static 'tools/img/loading.gif' %}" width="20px" height="20px"/></h2>



<div id="chart_div"></div>

{% endblock content %}
