<!-- <meta http-equiv="refresh" content="15"> -->
{% extends "tools/base.html" %}
{% block javascript%}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tools/css/arlo.css' %}" type="text/css" />

<script type="text/javascript">
<!--
$(document).ready(function(){

	function updateFieldsShown() {

		switch ($("#id_mode").val()) {
			case 'RandomWindow':
				$("#rowCount").show();
				$("#rowWeight").show();
				$("#rowMaxOverlap").show();
				$("#rowTagSet").hide();
				$("#rowTagClass").hide();
				$("#rowStepInSeconds").hide();
				break;
			case 'RandomTag':
				$("#rowCount").show();
				$("#rowWeight").show();
				$("#rowMaxOverlap").show();
				$("#rowTagSet").show();
				$("#rowTagClass").show();
				$("#rowStepInSeconds").hide();
				break;
			case 'Segment':
				$("#rowCount").hide();
				$("#rowWeight").hide();
				$("#rowMaxOverlap").hide();
				$("#rowTagSet").show();
				$("#rowTagClass").show();
				$("#rowStepInSeconds").show();
				break;
		}
	};

	$("#id_mode").change(function(event){
		updateFieldsShown();
    });

	updateFieldsShown();
});
-->
</script>
{% endblock javascript %}

{% block content %}

<div class="col-md-12">

	<div class="panel panel-primary">
		<div class="panel-heading">
			Launch Random Window and Segmenting Job
		</div>

		<div class="panel-body">
			<p>
				<a href="{{ArloUrlPrefix}}/docs/jobTypes/plugin_RandomWindowAndSegmentingPlugin.html">Documentation available here</a>.
			</p>

			<form id="jobSettings" method="POST">
					{% csrf_token %}
					<p>
						{{form.non_field_errors}}
					</p>

					<table>
						<tr>
							<th>{{form.name.label}}</th>
							<td>{{form.name.errors}}{{form.name}}</td>
						</tr><tr>
							<th>{{form.mode.label}}</th>
							<td>{{form.mode.errors}}{{form.mode}}</td>
						</tr><tr>
							<th>{{form.sizeInSeconds.label}}</th>
							<td>{{form.sizeInSeconds.errors}}{{form.sizeInSeconds}}</td>
						</tr><tr id='rowCount'>
							<th>{{form.count.label}}</th>
							<td>{{form.count.errors}}{{form.count}}</td>
						</tr><tr id='rowWeight'>
							<th>{{form.weight.label}}</th>
							<td>{{form.weight.errors}}{{form.weight}}</td>
						</tr><tr id='rowMaxOverlap'>
							<th>{{form.maxOverlap.label}}</th>
							<td>{{form.maxOverlap.errors}}{{form.maxOverlap}}</td>
						</tr><tr id='rowStepInSeconds'>
							<th>{{form.stepInSeconds.label}}</th>
							<td>{{form.stepInSeconds.errors}}{{form.stepInSeconds}}</td>
						</tr><tr id='rowTagSet'>
							<th>{{form.tagSet.label}}</th>
							<td>{{form.tagSet.errors}}{{form.tagSet}}</td>
						</tr><tr id='rowTagClass'>
							<th>{{form.tagClass.label}}</th>
							<td>{{form.tagClass.errors}}{{form.tagClass}}</td>
						</tr>
					</table>

					<input type="submit" value="Launch"/>
				</form>

</div>

{% endblock content %}
